{% extends '../lib/templates/base.swig.html' %}

{% block title %}放心花是由金融工场全新推出的基于移动端的现金贷平台 — 掌上钱包，让你放心花。{% endblock %}
{% block keywords %}小额借款、现金、花钱、钱包、借钱、信用卡{% endblock %}
{% block description %}放心花是移动端借贷平台，主要为用户提供短期的小额急借的现金借贷服务。用户通过授信认证获得授信额度，在额度内随时可进行借款。借款额度万元以下。操作简单、方便快速、实时秒到账！{% endblock %}
{% block javascripts %}
<script src="javascripts/index.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}

<div class="easyloan-box">
    <div class="header">
        <div class="logo"></div>
        <div class="sevice-phone">
            <div class="phone-text">客服电话：400-102-0066</div>
            <div class="phone-text">周一至周日：9:00-18:00</div>
        </div>
    </div>
    <div class="banner">
        <div class="resiter-box">
            <div class="register">
                <div id="rgisterContent" class="register-content">
                    <label>
                        <input id="phoneChange" type="text" maxlength="11" class="phonenum" placeholder="请输入手机号" value=""/>
                        <div id="phoneErrorText" class="p-tips"></div>
                    </label>
                    <div class="container">
                        <input id="captchaChange" type="text" maxlength="4" class="securitycode" placeholder="请输入图片验证码" value=""/>
                        <span class="captcha-img"><img src=" "/></span>
                        <div id="captchaErrorText" class="c-tips"></div>
                    </div>
                    <div class="container">
                        <input id="codeChange" type="text" maxlength="6" class="securitycode" placeholder="请输入验证码" value=""/>
                        <span class="gaincode" id="gaincode">点击获取</span>
                        <span class="gaincode down-code" id="downCode" style="display: none;"></span>
                        <div id="codeErrorText" class="c-tips"></div>
                    </div>
                    <div class="deal">同意<a href="/static/loan-web/register-protocol/index.html" target="_blank" class="deallink">《放心花用户注册协议》</a></div>
                    <div id="registerButn" class="registerbutton" >立即借款</div>
                </div>

                <div id="qrBlock" class="qr-block" style="display: none;">
                    <img src="images/QR.png" />
                </div>
            </div>
        </div>

    </div>
    <div class="advantage">
        <div class="advantage-title">
            <img src="images/title1.jpg">
        </div>
        <div class="blueline"></div>
        <div class="ad-content">
            <div class="c-item">
                <div class="item-pic">
                    <img src="images/featureone.jpg">
                </div>
                <div class="item-text">
                    <div class="t-f">简单</div>
                    <div class="t-s">只需三步，轻松借钱</div>
                </div>
            </div>
            <div class="c-item">
                <div class="item-pic">
                    <img src="images/feature2.jpg">
                </div>
                <div class="item-text">
                    <div class="t-f">快速</div>
                    <div class="t-s">56秒极速到账</div>
                </div>
            </div>
            <div class="c-item">
                <div class="item-pic">
                    <img src="images/feature3.png">
                </div>
                <div class="item-text">
                    <div class="t-f">便捷</div>
                    <div class="t-s">手机操作，随借随还</div>
                </div>
            </div>
            <div class="c-item" style="margin-right: 0">
                <div class="item-pic">
                    <img src="images/feature4.jpg">
                </div>
                <div class="item-text">
                    <div class="t-f">无抵押</div>
                    <div class="t-s">无需任何抵押与担保</div>
                </div>
            </div>
        </div>
    </div>
    <div class="flow">
        <div class="flow-content">
            <div class="flow-title">
                <img src="images/title2.png">
            </div>
            <div class="blueline"></div>
            <div class="flow-item-box">
                <div class="f-item">
                    <img src="images/iphone1.png">
                    <div class="f-l">
                        注册
                    </div>
                    <div class="f-s">
                        手机注册,申请借款
                    </div>
                </div>
                <div class="f-item">
                    <img src="images/iphone2.png">
                    <div class="f-l">
                        申请
                    </div>
                    <div class="f-s">
                        提交资料，大数据审核
                    </div>
                </div>
                <div class="f-item" style="margin-right: 0">
                    <img src="images/iphone3.png">
                    <div class="f-l">
                        放款
                    </div>
                    <div class="f-s">
                        极速到账，秒借到钱
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-content">
            <div class="f-logo">
                <img src="images/flogo.png">
            </div>
            <div class="f-t">
                <div class="copyright">Copyright©2017 深圳市众利财富管理有限公司<span style="padding-left: 23px"></span>
                </div>
                <div class="f-sevice">客服电话 <span style="padding: 0 15px;color: #666">400-102-0066</span>周一至周日<span>9:00-18:00</span>
                </div>
				<div>
					粤ICP备17034889号-1
				</div>
                <div>投资有风险，入市需谨慎</div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom-content">
            <div class="b-pic">
                <img src="images/footerperdon.png">
            </div>
            <div class="b-des">
                <img src="images/b-des.png">
            </div>
            <div class="b-er">
                <img src="images/erweima1.png">
                <img src="images/erweima2.png">
            </div>
        </div>
    </div>
    <div class="popwindow" style="display: none" id="popwindow">
        <div class="pop-box">
            <div class="close" id="close-btn">
                <img src="images/closebtn.png">
            </div>
            <div class="warn">
                <img src="images/warn.png">
            </div>
            <div class="pop-text">
                <div class="p-f">您的手机号138****1921注册失败</div>
                <div class="p-s">请联系客服：400-102-0066</div>
            </div>
            <div class="know" id="konw-btn">
                知道了
            </div>
        </div>
    </div>
</div>


{% endblock %}
