{% extends '../../../lib/templates/p2p-web-base.swig.html' %}

{% block title %}工场微金 — 中國信貸科技(08207.HK)旗下网络借贷信息中介平台{% endblock %}

{% block content %}
<div class="safety_box">
    <div class="safe_banner"></div>
    <div class="safe_ensure">
        <div class="safe_enTit">
            合作机构保障
        </div>
        <div class="safe_enExp">
            所有合作机构必须持有监管部门颁发的金融业务经营许可证，且由金融主管部门进行监督和审查。
        </div>
        <div class="safe_enico">
            <div class="safe_enContA fl">
                <img src="images/safe_ico-01.png" alt="">
                <div class="safe_entitle">贷前机构评估</div>
                <div class="safe_exptitle">针对将合作的担保机构，金融工场以定性评估和定量评估对合作对象进行360°全方位审核。</div>
            </div>
            <div class="safe_enContA fl">
                <img src="images/safe_ico-02.png" alt="">
                <div class="safe_entitle">贷中担保机制</div>
                <div class="safe_exptitle">平台引入第三方担保机制，担保每笔投资项目。</div>
            </div>
            <div class="safe_enContA fl">
                <img src="images/safe_ico-03.png" alt="">
                <div class="safe_entitle">贷后项目管理</div>
                <div class="safe_exptitle">实行不定期电话回访、定期下户调查的方式实施全方位贷后跟踪管理。</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
