{% extends '../../../lib/templates/p2p-web-base.swig.html' %}

{% block title %}工场微金 — 中國信貸科技(08207.HK)旗下网络借贷信息中介平台{% endblock %}

{% block content %}
<div class="safety_box">
    <div class="safe_banner"></div>
    <div class="safe_ensure">
        <div class="safe_enTit">
            合作机构保障
        </div>
        <div class="safe_enExp">
            所有合作机构必须持有监管部门颁发的金融业务经营许可证，且由金融主管部门进行监督和审查。
        </div>
        <div class="safe_enico">
            <div class="safe_enContA fl">
                <img src="images/safe_ico-01.png" alt="">
                <div class="safe_entitle">贷前机构评估</div>
                <div class="safe_exptitle">针对将合作的担保机构，工场微金以定性评估和定量评估对合作对象进行360°全方位审核。</div>
            </div>
            <div class="safe_enContA fl">
                <img src="images/safe_ico-02.png" alt="">
                <div class="safe_entitle">贷中担保机制</div>
                <div class="safe_exptitle">平台引入第三方担保机制，担保每笔投资项目。</div>
            </div>
            <div class="safe_enContA fl">
                <img src="images/safe_ico-03.png" alt="">
                <div class="safe_entitle">贷后项目管理</div>
                <div class="safe_exptitle">实行不定期电话回访、定期下户调查的方式实施全方位贷后跟踪管理。</div>
            </div>
        </div>
    </div>
    <div class="safe_cen">
        <div class="safe_cenBox">
            <div class="safe_centit">
                项目审核保障
            </div>
            <div class="safe_cenexp">
                所有理财产品，均经过合作机构初审和金融工场风控部门实地尽职调查复审后，确保两次审核结果一致才可上线募集。
            </div>
            <div class="safe_cencont">
                <div class="safe_cencontA fl">
                    <div class="safe_cencontAtit">
                        机构初审接入
                    </div>
                    <div class="safe_cencontAlist">
                        <div class="overhidden">
                            <div class="safe_listico">
                                <img src="images/safe_exaico-01.png" alt="">
                            </div>
                            <div class="safe_listtit">企业经营审核</div>
                            <div class="safe_listexp">多方判断预测其还款能力</div>
                        </div>
                        <div class="safe_list overhidden">
                            <div class="safe_listico">
                                <img src="images/safe_exaico-02.png" alt="">
                            </div>
                            <div class="safe_listtit">企业信用状况</div>
                            <div class="safe_listexp">分析客户及关联企业个人的信用记录</div>
                        </div>
                        <div class="overhidden">
                            <div class="safe_listico">
                                <img src="images/safe_exaico-03.png" alt="">
                            </div>
                            <div class="safe_listtit">企业担保审核</div>
                            <div class="safe_listexp">专业评估机构进行评估和审查</div>
                        </div>
                    </div>
                </div>
                <div class="safe_cencontA fl">
                    <div class="safe_cencontAtit safe_cencontBtit">平台复审上线</div>
                    <div class="safe_cencontAlist">
                        <div class="overhidden">
                            <div class="safe_listico">
                                <img src="images/safe_exaico-04.png" alt="">
                            </div>
                            <div class="safe_listtit">
                                信息复审
                            </div>
                            <div class="safe_listexp">
                                内部复审，下户调查核实
                            </div>
                        </div>
                        <div class="safe_list overhidden">
                            <div class="safe_listico">
                                <img src="images/safe_exaico-05.png" alt="">
                            </div>
                            <div class="safe_listtit">
                                审批管理
                            </div>
                            <div class="safe_listexp">
                                三方合同、贷款项目归档管理
                            </div>
                        </div>
                        <div class="overhidden">
                            <div class="safe_listico">
                                <img src="images/safe_exaico-06.png" alt="">
                            </div>
                            <div class="safe_listtit">
                                贷后管理
                            </div>
                            <div class="safe_listexp">
                                不定期电话回访、定期下户调查
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="safe_invsf">
        <div class="safe_invsftit">投资安全保障</div>
        <div class="safe_invsfexp">银行级别的投资保障</div>
        <div class="safe_invsfList">
            <div class="safe_invsfListA fl invest_special">
                <div class="safe_invsfListAIco">
                    <img src="images/safe_botico-01.png">
                </div>
                <div class="safe_invsfListACont">
                    <div class="safe_invsfListAContTit">资金安全</div>
                    <div class="safe_invsfListAContTxt">
                        平台交易全通过第三方支付机构完成，已与徽商银行达成资金存管战略合作，资金操作将全在徽商银行系统进行，实现平台与资金完全隔离，保障投融资交易真实和投资人资金安全。
                    </div>
                </div>
            </div>
            <div class="safe_invsfListA fl">
                <div class="safe_invsfListAIco safe_invsfListBIco">
                    <img src="images/safe_botico-02.png">
                </div>
                <div class="safe_invsfListACont">
                    <div class="safe_invsfListAContTit">信息安全</div>
                    <div class="safe_invsfListAContTxt">
                        技术团队均来自大型互联网金融机构，专业IDS入侵检测及WEB防篡改设备扫描修补。隐私信息MD5加密，严格遵守法律法规，承诺全力保障用户信息不外泄。
                    </div>
                </div>
            </div>
            <div class="safe_invsfListA fl">
                <div class="safe_invsfListAIco safe_invsfListC">
                    <img src="images/safe_botico-03.png">
                </div>
                <div class="safe_invsfListACont">
                    <div class="safe_invsfListAContTit">安全认证</div>
                    <div class="safe_invsfListAContTxt">
                        网上交易保障中心平台认证，金融工场向所有投资人出具的电子合同，都经国家CNAS资格认证，与司法鉴定中心、公证处实行对接的易保全承担数据保全，具有纸质合同同等法律效力。
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
