<div class="global-footer" data-zx="true">
    <div class="container contaner-zx">

        <div class="row-1">
            <div class="column column-1">
                <a href="/" class="home-link"><img src="images/global-footer/zx-footer-logo.png"></a>
                <div class="zx-des">
                    <a href="http://www.gongchangzx.com/static/zx-web/about-us/index.html#aboutus" target="_blank">关于我们</a>
                    <a href="http://www.gongchangzx.com/static/zx-web/about-us/index.html#contactus" target="_blank">联系我们</a>
                    <a href="http://www.9888keji.com/help/explanation/" target="_blank">帮助中心</a>
                    
                </div>
            </div>
            <div class="column column-2">
                <div class="service-time"><b>客服电话 </b>（周一至周日8:30-21:00）</div>
                <div class="service-phone">400-0322-988</div>
                <div class="service-connect">
                        <a class="service-qq" target="_blank"
                           href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODA1MDEyNl80NTQzNjZfNDAwNjc2Njk4OF8yXw">
                            <b class="icon-qq"></b>在线客服</a>
                        <a class="service-wechat">
                            <img src="images/global-footer/icon-footer-no.5.png">
                            <img class="wechat-qrcode" src="images/global-footer/icon-footer-no.6.png">
                        </a>
                    </div>
            </div>
            <div class="column column-3">

                <div class="app-title">手机客户端 </div>

                <a class="app-qrcode" href="http://www.gongchangzx.com/static/zx-web/app-download/index.html">
                    <img src="images/global-footer/icon-footer-no.7.png">
                    扫描下载APP
                </a>

                <a class="app-iphone" href="https://itunes.apple.com/cn/app/jin-rong-gong-chang/id939125881?mt=8"
                   target="_blank"><b></b>iPhone</a>

                <a class="app-android" href="http://app.9888.cn/download/apk"><b></b>Android</a>

            </div>
        </div>
    </div>
    <div class="row-zx">
        ICP备案号：京ICP备15042966号-2 | &nbsp;2017 北京联合常春藤资产管理有限公司 | 市场有风险，投资需谨慎

    </div>
</div>
