{% extends '../../../lib/templates/web_base.swig.html' %}

{% block title %}金融工场是由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的专注于小贷公司资产交易的P2P平台—上金融工场，圆财富梦想！{% endblock %}

{% block content %}
<div class="part1">
    <div class="wrap">

    </div>
</div>
<div class="part2">
    <div class="wrap">
        <img src="images/part2.png"/>
        <div class="part2-btn">
            <a href="http://www.9888.cn/depository/openAccount/toConfirmDepository.shtml" class="part2-upgrade">立即升级</a>
            <a href="http://www.9888.cn/depository/regist/toRegist.shtml?sourceSite=jrgc" class="part2-register">立即注册</a>
        </div>
    </div>
</div>
<div class="part3">
    <div class="wrap">
        <img src="images/part3.png"/>
    </div>
</div>
<div class="part4">
    <div class="wrap">
        <h4>帮你快速上手</h4>
        <div class="part4-img">
            <a href="http://www.9888.cn/help/explanation/" class="guide-btn">点击进入详细操作指南</a>
        </div>
    </div>
</div>

{% endblock %}