{% extends '../lib/templates/p2p-base.swig.html' %}

{% block title %}易赚盈 — 工场微金 — 中國信貸科技(08207.HK)旗下网络借贷信息中介平台{% endblock %}

{% block javascripts %}
<script src="javascripts/index.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}

<div class="top_event">
	<div class="top1">
    	<!--<span class="dis">易赚盈 预期年化收益率高达6%-13% 认购起点仅100元</span>-->
        <div class="top_innner rel">
        	<a href="http://www.gongchangp2p.cn/prdClaims/list.shtml"></a>
        </div>
    </div>
</div>

<div class="main_event">
	<div style="position: relative; top: 0px; left: 0px;" class="menue">
    	<ul>
    	<li class="list1"><a class="" href="javascript:;"><span></span>项目简介</a></li>
        <li class="list2"><a class="" href="javascript:;"><span></span>风险保障</a></li>
        <li class="list3"><a class="" href="javascript:;"><span></span>出借案例</a></li>
        <li class="list4"><a class="" href="javascript:;"><span></span>合作机构</a></li>
        <li class="list5"><a class="" href="javascript:;"><span></span>常见问题</a></li>
    	</ul>
	</div>
   	<div class="innerment">
	<div class="section block1">
    	<h2><img src="images/h_tit.jpg" alt="项目简介" height="65" width="1000"></h2>
        <div class="project_info">
        	<h3 class="ft4 tc">什么是<span class="purple">易赚盈？</span></h3>
            <p class="ft2 text1 col10 mt2" style="line-height:24px">易赚盈系列项目是针对合格小额贷款公司的优质债权资产而设计的一款B2C债权转让项目。该项目的原始债权人均为经过严格挑选的优质小贷公司，本项目资产均经过专业<span class="more_txt" style="display: none;">风控团队的严格审核。转让方为国内知名保理公司，转让方委托代理人在工场微金平台进行债权转让项目发布。本项目由原始债权人（小贷公司）及转让方（保理公司）双重承诺债权回购保证项目本息安全。</span><a href="javascript:;" class="more_link">展开全部</a></p>
            <h3 class="ft4 tc" style="margin:42px 0 14px"><span class="purple">易赚盈</span>的优势</h3>
            <ul class="advantage">
            <li><em></em>借款期限<span class="purple">一般以半年以内为主</span></li>
            <li style="width:300px"><em></em>预期年化利率高达<span class="purple">5% -10%</span></li>
            <li><em></em>还款方式为<span class="purple">到期一次性还本付息</span></li>
            <li style="width:300px"><em></em>起投金额仅<span class="purple">100元</span></li>
            </ul>
        </div>
        <div class="project_info nopp"><img src="images/yizhuanying.jpg" alt="交易流程" height="588" width="956"></div>
        <p class="tc"><img src="images/pic_info2.jpg" alt="项目特点" height="415" width="956"></p>
	</div>
    <div class="section block2">
    	<h2><img src="images/h_tit2.jpg" alt="资金安全" height="65" width="1000"></h2>
        <div class="yi-d"><img src="images/yi-d.jpg"/></div>
        <div class="risk clearfix">
        	<div class="senior">
        		<div style="width: 118px; margin: 0 auto;"><img style="margin-left: 4px;" src="images/yi-a.jpg"/></div>
        		<div>
        			<p>资深小贷业务团队</p>
        			<p>审核贷款风险</p>
        		</div>
        		<div>资深小贷公司业务团队对原始债权借款人进行信贷审核及风险防控，选取合格债权进行出让，确保其所出让债权的安全性及高质量。</div>
        	</div>
        	<div class="major">
        		<div style="width: 118px; margin: 0 auto;"><img style="margin-left: 4px;" src="images/yi-b.jpg"/></div>
        		<div>
        			<p>专业管理团队筛选</p>
        			<p>优质小贷公司及债权</p>
        		</div>
        		<div>业内经验丰富的专业管理团队对债权提供方小贷公司及所出让债权进行业务监管及项目审核，筛选优秀资质小贷公司作为原始债权人并确保其所转让债权的真实性及保障性。</div>
        	</div>
        	<div class="transfer">
        		<div style="width: 118px; margin: 0 auto;"><img style="margin-left: 4px;" src="images/yi-c.jpg"/></div>
        		<div>
        			<p>转让人及原始债权人</p>
        			<p>双重回购承诺</p>
        		</div>
        		<div>保理公司作为转让人、小贷公司作为原始债权人承诺到期（不晚于债权到期日之日起两个工作日内）回购其所转让的债权资产（在《资产转让合作协议》中约定回购条款，双方无需另行签署债权回购协议），回购价格为与受让方所受让债权对应的借款本息金额。</div>
        	</div>
        </div>
	</div>
    <div class="section block3">
    	<h2><img src="images/h_tit3.jpg" alt="出借案例" height="65" width="1000"></h2>
        <div class="invest rel"><a href="http://www.gongchangp2p.cn/prdClaims/list.shtml" class="btn_invest"></a></div>
        <p class="tc ft1 line_h3 col2 mt5">*"易赚盈"森工系列为P2P"易赚盈"系列项目中的一种，原始债权人为黑龙江森工小额贷款有限责任公司，转让方为珠海华信保理有限公司。</p>
        <p class="tc"><img src="images/pic_info5.jpg" alt="认购方式" height="448" width="956"></p>
	</div>
    <div class="section block4 rel">
    	<h2><img src="images/h_tit4.jpg" alt="合作机构" height="65" width="1000"></h2>
        <div class="agency">
        	<ul class="agency_list clearfix">
            <li class="ag1">
            	<h4 style="margin:24px auto 22px;text-align:center;height:30px;width:120px;color:#78b3f7;">工场微金</h4>
                <p class="tl">
                    工场微金由北京凤凰信用管理有限公司管理运营，注册资金5000万元，是一家向借款人及出借人（用户）提供撮合服务的网络借贷信息中介平台。
                    <br><br>
                    平台作为首批中国互联网金融协会成员单位及北京网贷行业协会发起会员单位，主要为用户提供信息搜集、信息公布、资信评估、信息交互、借贷撮合等服务。平台于2016年成功完成资金的银行存管，实现用户资金和平台自有资金的完全隔离，确保用户资金安全。平台顺应网贷行业监管要求，更加贴近小微信贷与普惠金融，更好的服务于平台新老用户，服务于中国实体经济，合规发展，稳健运营！
                </p>
            </li>
            </ul>
        </div>
	</div>
    <div class="section block5 rel">
    	<h2><img src="images/h_tit5.jpg" alt="常见问题" height="65" width="1000"></h2>
        <div class="mm_area">
        	<div class="moment">
                <div class="event clearfix">
                    <div class="icon"></div>
                    <div class="message">
                        <h3>如果借款人无力还款，如何保障出借人的本金及收益安全？</h3>
                        <p>如果在原始债权到期日，借款人无力还款，保理公司作为转让人、小贷公司作为原始债权人会在不晚于债权到期日之日起两个工作日内回购其所转让的债权资产，回购价格为与受让方所受让债权对应的借款本息金额，回购款用于支付出借人的本金及利息收益。</p>
                    </div>
                </div>
            </div>

            <div class="moment">
                <div class="event clearfix">
                    <div class="icon"></div>
                    <div class="message">
                        <h3>易赚盈项目线上都需要签哪些合同？</h3>
                        <p>易赚盈项目为资产收益权转让项目，签订的合同及签署主体如下：</p>
                        <p>（1）《资产收益权转让协议》：转让方、受让方、平台方</p>
                        <p>（2）《转让方咨询服务协议》：转让方、咨询方、平台方</p>
                        <p>（3）《受让方咨询服务协议》：受让方、咨询方、平台方</p>
                    </div>
                </div>
            </div>
       </div>
	</div>
    </div>
</div>

{% endblock %}
