{% extends '../../../lib/templates/web_base.swig.html' %}

{% block title %}金融工场是由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的专注于小贷公司资产交易的P2P平台—上金融工场，圆财富梦想！{% endblock %}

{% block js %}
<script src="javascripts/index.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}

<div class="top_event">
	<div class="top1">
    	<!--<span class="dis">易赚盈 预期年化收益率高达6%-13% 认购起点仅100元</span>-->
        <div class="top_innner rel">
        	<a href="http://www.9888.cn/prdClaims/list.shtml"></a>
        </div>
    </div>
</div>

<div class="main_event">
	<div style="position: relative; top: 0px; left: 0px;" class="menue">
    	<ul>
    	<li class="list1"><a class="" href="javascript:;"><span></span>项目简介</a></li>
        <li class="list2"><a class="" href="javascript:;"><span></span>资金安全</a></li>
        <li class="list3"><a class="" href="javascript:;"><span></span>投资案例</a></li>
        <li class="list4"><a class="" href="javascript:;"><span></span>常见问题</a></li>
        <li class="list5"><a class="" href="javascript:;"><span></span>风险揭示</a></li>
        </ul>
	</div>
   	<div class="innerment">
	<div class="section block1">
    	<h2><img src="images/h_tit.jpg" alt="项目简介" height="65" width="1000"></h2>
        <div class="project_info">
        	<h3 class="tc">什么是<span class="jin">尊享计划？</span></h3>
            <p class="info_p">“尊享计划”是投资人（委托人）通过平台自愿将合法所有的资金委托资产管理机构对特定项目进行投资，受托资产管理机构以委托人利益最大化为原则对定向委托投资资金按约定进行定向投资管理，以获取投资收益。
            </p>
            <h3 class="tc" style="margin:42px 0 14px"><span class="jin">尊享计划</span>的优势</h3>
            <ul class="advantage">
            <li><em></em>融资期限<span class="red2">1个月~24个月</span>( 以网站项目公示期限为准 )</li>
            <li style="width:300px"><em></em>预期年化收益率高达<span class="red2">6% -11%</span></li>
            <li><em></em>回款方式为<span class="red2">到期支付本金及收益</span>或<span class="red2">按月支付收益到期还本</span></li>
            <li style="width:300px"><em></em>起投金额仅<span class="red2">100元</span></li>
            </ul>
        </div>
        <div class="project_info nopp"><img src="images/zunxiang.jpg" alt="交易流程" height="507" width="972"></div>
        <p class="tc"><img src="images/pic_info2.jpg" alt="项目特点" height="323" width="903"></p>
	</div>
    <div class="section block2">
    	<h2><img src="images/h_tit2.jpg" alt="资金安全" height="65" width="1000"></h2>
        <p class="tc"><img src="images/pic_info3.jpg" width="956" height="455" alt="多层风险控制保障措施"></p>
	</div>
    <div class="section block3">
    	<h2><img src="images/h_tit3.jpg" alt="投资案例" height="65" width="1000"></h2>
        <div class="agency">
            <ul class="agency_list clearfix">
             <li class="ag1"><div class="invest1 rel"><a href="http://www.9888.cn/prdClaims/list.shtml" class="btn_invest"></a></div></li>
             <li class="ag2"><div class="invest2 rel"><a href="http://www.9888.cn/prdClaims/list.shtml" class="btn_invest"></a></div></li>
            </ul>
            <div class="circle">
                <a href="javascript:;" class="on"></a>
                <a href="javascript:;"></a>
            </div>
        </div>
        <p class="tc"><img src="images/pic_info5.jpg" alt="认购方式" height="433" width="723"></p>
	</div>
    <div class="section block4">
    	<h2><img src="images/h_tit4.jpg" alt="常见问题" height="65" width="1000"></h2>
        <div class="mm_area">
        	<div class="moment">
                <div class="event clearfix">
                    <div class="icon"></div>
                    <div class="message">
                        <h3>尊享计划是什么？</h3>
                        <p>尊享计划是投资人（委托人）通过平台自愿将合法所有的资金委托资产管理机构对特定项目进行投资，受托资产管理机构以委托人利益最大化为原则对定向委托投资资金按约定进行定向投资管理，以获取投资收益。</p>
                    </div>
                </div>
            </div>

            <div class="moment">
                <div class="event clearfix">
                    <div class="icon"></div>
                    <div class="message">
                        <h3>如果融资人无力还款，如何保障投资人的本金及收益安全？</h3>
                        <p>如果融资方出现逾期或坏账，对该融资行为担保的担保机构对每笔融资提供连带责任担保。项目到期后，若融资方出现任何问题，担保机构即会启动代偿机制，按照保证合同等法律文件的约定履行担保责任，然后担保机构自行负责之后的追偿、催收工作。</p>
                    </div>
                </div>
            </div>

			<div class="moment last">
                <div class="line">
                    <span></span>
                </div>
                <div class="event clearfix">
                    <div class="icon"></div>
                    <div class="message">
                        <h3>尊享计划需要签署什么合同？</h3>
                        <p>委托人与受托人之间基于信任关系成立委托投资关系，委托人同意受托人以受托人的名义履行委托投资资金的受托资产管理职能，并签署《委托投资协议》等相关协议（包括取得或处置委托投资标的资产的相关协议）。</p>
                    </div>
                </div>
            </div>
       </div>
	</div>
    <div class="section block5" >
        <h2><img src="images/h_tit5.jpg" alt="风险揭示" height="65" width="1000"></h2>
        <div class="mm_area">
            <div class="moment">
                <div class="message">
                    <h3>一、项目风险</h3>
                    <p>该投资标的资金投向目标融资企业或自然人，其还款依赖于融资企业的营业收入或自然人的稳定收入。</p>
                </div>
            </div>
            <div class="moment">
                <div class="message">
                    <h3>二、政策风险</h3>
                    <p>因国家法律、法规、行政规章或政策发生重大调整、变化或其他不可预知的意外事件，可能导致本定向委托投资的有效性发生变化，从而可能导致委托人无法实现预期收益乃至本金遭受损失。
                    </p>
                </div>
            </div>
            <a href="javascript:;" class="more_link">展开全部</a>
            <span class="more_txt" style="display:none">
                <div class="moment">
                    <div class="message">
                        <h3>三、市场风险</h3>
                        <p>资金市场供求关系的变化、货币政策、财政政策、行业政策等因素的变化，以及整体经济形势的变化，可能会对利率、汇率、资金成本和商品价格等因素产生负面影响，从而不利于委托人实现预期收益乃至本金遭受损失。</p>
                    </div>
                </div>
                <div class="moment">
                    <div class="message">
                        <h3>四、管理风险</h3>
                        <p>在委托财产管理运作过程中，受托人的管理能力可能会影响定向委托投资资金的收益水平，此外，受托人对定向委托投资盈利机会的判断是否准确、投资决策所需获取的信息是否完整、投资操作是否出现失误等，都会对定向委托投资资金的预期收益形成不利影响乃至本金遭受损失。</p>
                    </div>
                </div>
                <div class="moment">
                    <div class="message">
                        <h3>五、信用风险</h3>
                        <p>无论何种原因，当最终使用定向委托投资资金并承担偿还责任的融资方不能按时偿付本金和收益，将导致委托人无法实现预期收益，甚至本金遭受损失。</p>
                    </div>
                </div>
                <div class="moment">
                    <div class="message">
                        <h3>六、延期实现预期收益的风险</h3>
                        <p>定向委托投资到期时，若发生前述信用风险，受托人将根据委托人的授权或约定，使用受托人认为适当的方式对融资方进行追索，在此过程中，委托人有可能延期实现预期收益乃至本金遭受损失。</p>
                    </div>
                </div>
                <div class="moment">
                    <div class="message">
                        <h3>七、操作风险</h3>
                        <p>
                            委托人可能会面临如下操作风险：
                            <br>
                            1．不可预测或无法控制的系统故障、设备故障、通讯故障、停电等突发事故将有可能给委托人造成一定损失；
                            <br>
                            2．由于存在互联网和移动通讯网络的黑客恶意攻击可能性，委托人可能会遭受损失；
                            <br>
                            3．委托人的账号及密码信息有可能被盗，客户身份可能被仿冒，委托人可能遭受因此导致的损失；
                            <br>
                            4．委托人的网络终端设备及软件系统可能会受到非法攻击或病毒感染，导致电子签名合同数据无法传输或传输失败，从而遭受损失；</p>
                    </div>
                </div>
            </span>
        </div>
    </div>
    <div class="section block6" style="border-radius: 0 0 20px 20px;">
            <h2><img src="images/h_tit6.jpg" alt="风险揭示" height="65" width="1000"></h2>
            <div class="mm_area">
                <div class="moment">
                    <div class="message">
                        <p>金融工场作为交易中介服务平台进行信息发布，不对任何投资人及其选择的投资项目提供任何形式的投资担保。投资人应依其独立判断做出投资决策，投资人的投资风险由投资人自行承担，金融工场不承担任何责任。</p>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
</div>

{% endblock %}