.banner {
  background: transparent url(../images/guide_banner.jpg) no-repeat center center;
  height: 300px;
}

.cnt {
}

.understand-area,
.select-area .content,
.pluralistic-product .content,
.make-money-start .content,
.QA .content {
  margin: 0 auto;
  width: 1000px;
}

.understand-area {
  * {
    margin: 0;
    padding: 0;
  }

  .title {
    margin: 70px 0 20px 0;
    font-size: 30px;
    color: #3f4c67;
    text-align: center;
  }

  .assistant-title {
    .assistant-title-block {
      margin: 0 auto;
      width: 285px;
      height: 35px;
      font-size: 18px;
      line-height: 35px;
      text-align: center;
      border-radius: 5px;
      color: #fff;
      background-color: #3b4b7e;

      img {
        position: relative;
        top: 6px;
      }
    }
  }

  .understand-text {
    margin: 30px 0 0 0;
    line-height: 22px;
    color: #4b4c4d;
  }

  .understand-img {
    margin: 30px 0 80px;
    text-align: center;
  }
}

.select-area {
  height: 580px;
  color: #fff;
  background-color: #3b4b7e;

  .content {
    * {
      margin: 0;
      padding: 0;
    }

    padding: 70px 0 40px;
    text-align: center;

    .title {
      margin: 0;
      font-size: 30px;
      line-height: 32px;
      font-weight: normal;
    }

    .assistant-title {
      .title-text {
        margin: 0;
        font-size: 16px;
        line-height: 45px;
        font-weight: normal;
      }
    }

    .tab-block {
      margin: 10px 0 0 0;

      .tab-title {
        position: relative;
        margin: 0 auto;
        width: 758px;
        height: 45px;
        border: 2px solid #fff;
        border-radius: 5px;

        ul {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
          margin: 0;
          padding: 0;
          height: 45px;

          li {
            float: left;
            width: 251px;
            height: 45px;
            border-right: 2px solid #fff;
            line-height: 45px;
            list-style: none;
            font-size: 18px;
            cursor: pointer;

            .text {
              display: block;
              line-height: 47px;
            }
          }

          .select-li {
            color: #5b6993;
          }

          .last-li {
            border-right: none;
          }
        }

        .select-tab {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 33.3%;
          height: 45px;
          background-color: #fff;
        }
      }
    }

    .tab-content {
      margin: 50px 0 0 0;

      .tab-content-info {
        ul {
          margin: 0;
          height: 250px;

          li {
            float: left;
            list-style: none;

            .title-text {
              display: block;
              line-height: 50px;
              font-size: 18px;
            }

            .text {
              margin: 0;
              line-height: 22px;
              text-align: left;
            }
          }
        }

        .we {
          li {
            width: 166px;

            .img {
              height: 120px;
            }

            .text {
              font-size: 14px;
              text-align: center;;
            }
          }

          .free-li {
            .img {
              img {
                margin-left: 22px;
              }
            }
          }
        }

        .security {
          li {
            width: 25.3%;
            padding: 0 4%;

            .text {
              font-size: 12px;
            }
          }
        }

        .honor {
          height: 230px;
          padding-top: 20px;

          li {
            width: 16.666%;

            .title-text {
              padding: 0 8px;
              line-height: 22px;
              font-size: 14px;
              text-align: left;
            }

          }
        }

        .link {
          text-align: center;

          a {
            line-height: 22px;
            color: #629df9;
          }
        }
      }
    }
  }
}

.pluralistic-product {
  height: 530px;

  .content {
    padding: 70px 0 40px 0;

    .title {
      margin: 0;
      font-size: 30px;
      line-height: 60px;
      color: #3f4c67;
      font-weight: normal;
      text-align: center;
    }

    .assistant-title {
      .title-text {
        margin: 0;
        color: #4b4c4d;
        font-size: 16px;
        line-height: 28px;
        font-weight: normal;
        text-align: center;
      }
    }

    .info-block {
      width: 996px;
      margin: 20px auto 0;
      overflow: hidden;

      ul {
        width: 1011px;
        margin-left: 15px;

        padding: 0;

        li {
          position: relative;
          float: left;
          width: 302px;
          height: 88px;
          margin: 0 30px 30px 0;
          list-style: none;

          overflow: hidden;

          .show-info {
            position: absolute;
            z-index: 1;
            width: 300px;
            height: 86px;
            border: 1px solid #d0dbe9;
            border-radius: 3px;

            .t-cnt {
              height: 30px;
              padding: 13px 10px;

              .title-text {
                float: left;
                line-height: 36px;

                .icon {
                  float: left;
                  width: 30px;
                  height: 30px;
                  margin: 0 5px 0 0;
                  background: url(../images/ind_contIco.png) no-repeat;
                }

                .icon-a {
                  background-position: -17px -4px;
                }

                .text {
                  font-size: 22px;
                  font-style: normal;
                }
              }

              .text-info {
                float: right;
                line-height: 30px;

                .strong-text {
                  font-size: 22px;
                  font-weight: normal;
                  color: #ff0000;
                  font-family: "Arial";

                  .change-text {
                    font-size: 12px;
                  }
                }

              }

            }

            .b-cnt {
              padding: 0 10px;
              height: 30px;
              line-height: 30px;
              background-color: #d7e3f1;
              border-radius: 0 0 3px 3px;

              .text {
                margin: 0;

              }
            }
          }

          .hide-info {
            position: absolute;
            z-index: 2;
            top: 88px;
            left: 1px;
            width: 280px;
            height: 69px;
            padding: 7px 10px 10px;
            border-radius: 3px;
            color: #fff;
            background: #323a54;
            opacity: 0.9;
            filter: alpha(opacity=90);

            .info-text {
              height: 36px;
              line-height: 36px;

              .title-text {
                float: left;
                font-size: 22px;
              }

              .link {
                float: right;
                color: #629df9;
              }
            }

            .text {
              margin: 0;
              line-height: 16px;
            }
          }
        }
      }
    }

    .pluralistic-product-text {
      margin: 0;
      text-align: center;

      a {
        color: #629df9;
      }
    }
  }

}

.make-money-start {
  height: 960px;
  background-color: #3b4b7e;

  .content * {
    margin: 0;
    padding: 0;
  }

  .content {

    .title {
      padding: 80px 0 40px 0;
      font-size: 30px;
      line-height: 40px;
      text-align: center;
      font-weight: normal;
      color: #fff;
    }

    .content-info {
      height: 740px;
      background-color: #465584;

      .content-title-block {
        height: 50px;
        line-height: 50px;
        padding: 0 20px;

        .title-text {
          float: left;
          font-size: 20px;
          font-weight: normal;
          color: #fff;
        }

        a {
          float: right;
          font-size: 16px;
          color: #629df9;
        }

      }

      .tiro-content {

        .tro-content-info {
          height: 300px;
          margin: 0 1px;
          background-color: #33447b;

          .img-link {
            padding: 54px 0 0 0;

            a {
              display: block;
              height: 140px;
              background: url(../images/guide_oper01.jpg) no-repeat center 0;
            }
          }

          ul {
            li {
              float: left;
              width: 20%;
              text-align: center;
              list-style: none;

              span {
                display: block;
              }

              .title-text {
                font-size: 16px;
                line-height: 20px;
                color: #fff;
              }

              .info-text {
                line-height: 28px;
                font-size: 14px;
                color: #bac4e7;

              }
            }
          }

        }

      }

      .constantly-content {

        .constantly-content-info {
          height: 289px;
          padding: 50px 0 0 0;
          margin: 0 1px;
          background-color: #33447b;

          ul {
            li {
              float: left;
              width: 25.3%;
              padding: 0 4%;
              list-style: none;
              text-align: center;
              color: #fff;

              .img {
                height: 150px;
              }

              .title-text {
                display: block;
                margin: 10px 0;
                font-size: 16px;
                line-height: 30px;
              }

              .text {
                font-size: 14px;
                line-height: 22px;
                text-align: left;
              }
            }
          }
        }
      }

    }

  }
}

.QA {
  * {
    margin: 0;
    padding: 0;
  }

  height: 140px;
  padding: 40px 0;

  .title-block {
    height: 50px;
    padding: 0 0 0 30px;

    .title-text {
      line-height: 50px;

    }

  }

  .QA-content {
    ul {
      li {
        float: left;
        width: 25%;
        list-style: none;

        a {
          display: block;
          width: 170px;
          height: 50px;
          padding: 10px;
          margin: 0 auto;

          &:hover {
            width: 170px;
            height: 48px;
            padding: 9px;
            border: 1px solid #d0dbe9;
            background-color: #f9fcff;
            border-radius: 4px;
          }

          .img {
            float: left;
            margin: 0 10px 0 6px;
          }

          .text-block {
            display: block;
            padding: 6px 0 0 70px;

            span {
              display: block;
            }

            .title-text {
              font-size: 18px;
              line-height: 24px;
              color: #4b4c4d;
            }

            .link-text {
              font-size: 14px;
              line-height: 18px;
              color: #999;
            }
          }
        }

      }

      .help-li a img {
        margin-top: 4px;
      }

      .home-li a img {
        margin-top: 1px;
      }

      .server-li a img {
        margin-top: -2px;
      }
    }
  }
}

.register-btn {
  margin: 0 0 70px 0;

  .btn {
    display: block;
    width: 240px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    color: #fff;
    text-align: center;
    background-color: #fb6456;
    border-radius: 4px;
    font-size: 20px;

  }
}

.topic-link {
  margin: 0 0 50px 0;
  text-align: center;

  a {
    font-size: 0;
    img {
      vertical-align: top;
    }
  }
}
