.banner {
 	background: transparent url(../images/guide_banner.jpg) no-repeat center center;
 	height: 300px;
}

.cnt {
}

.understand-area,
.select-area .content {
	margin: 0 auto;
	width: 1000px;
}

.understand-area {

	.title {
		font-size: 30px;
		color: #3f4c67;
		text-align: center;
	}

	.assistant-title {
		.assistant-title-block {
			margin: 0 auto;
			width: 285px;
			height: 35px;
			font-size: 18px;
			line-height: 35px;
			text-align: center;
			border-radius: 5px;
			color: #fff;
			background-color: #3b4b7e;

			img {
				position: relative;
				top: 6px;
			}
		}
	}

	.understand-text {
		line-height: 22px;
	}

	.understand-img {
		margin: 30px 0 80px;
		text-align: center;
	}
}


.select-area {
	height: 580px;
	color: #fff;
	background-color: #3b4b7e;

	.content {
		text-align: center;

		.title {
			margin: 0;
			font-sizes: 30px;
			line-height: 32px;
		}		


		.assistant-title {
			.title-text {
				margin: 0;
				line-height: 30px;
			}
		}

		.tab-block {
			.tab-title {
				position: relative;
				margin: 0 auto;
				width: 758px;
				height: 55px;
				border: 2px solid #fff;
				border-radius: 5px;

				ul {
					position: absolute;
					left: 0;
					top: 0;
					z-index: 2;
					margin: 0;
					padding: 0;
					height: 55px;
					
					li {
						float: left;
						width: 251px;
						height: 55px;
						border-right: 2px solid #fff;
						line-height: 55px;
						list-style: none;
						font-size: 18px;	
					}

					.last-li {
						border-right: none;
					}
				}

				.select-tab {
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					width: 33.3%;
					height: 55px;
					background-color: #fff;	
				}
			}
		}
	}
}



















