{% extends '../../../lib/templates/eten_base.swig.html' %}

{% block title %}金融工场是由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的专注于小贷公司资产交易的P2P平台—上金融工场，圆财富梦想！{% endblock %}

{% block js %}
<script src="javascripts/index.js"></script>
{% endblock %}

{% block content %}

<div class="banner"></div>

<div class="cnt">
	<div class="understand-area">
		<h2 class="title">了解金融工场</h2>
		<div class="assistant-title">
			<div class="assistant-title-block">
				<img src="images/duideAbout-ico1.png">
				中国信贷旗下互联网金融平台
			</div>
		</div>
		<p class="understand-text">金融工场是由香港上市金融企业中国信贷控股有限公司（Credit China，股票代码：08207.HK）战略控股，由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的，专注于金融资产交易信息撮合的互联网金融平台。</p>

		<div class="understand-img">
			<img src="images/guide_about.jpg">
		</div>
	</div>


	<div class="select-area">
		<div class="content">
			<h2 class="title">选择金融工场</h2>
			<div class="assistant-title">
				<h3 class="title-text">专于金融、精于风控，银行级安全保障确保您资金安全</h3>
			</div>

			<div class="tab-block">
				<div class="tab-title">
					<ul id="tabTitle">
						<li>
							<span class="text">我们的优势<span>
						</li>
						<li>
							<span class="text">安全保障<span>
						</li>
						<li class="last-li">
							<span class="text">我们的荣誉<span>
						</li>
					</ul>

					<div class="select-tab"></div>
				</div>	

				<div class="tab-content">
					<div class="tab-content-info">
						1
					</div>
					<div class="tab-content-info" style="display: none;">
						2
					</div>
					<div class="tab-content-info" style="display: none;">
						3
					</div>
				</div>
			</div>
			
		</div>	
	</div>
</div>


{% endblock %}