{% extends '../lib/templates/keji-web.swig.html' %}

{% block header-status-bar %}{% endblock %}
{% block header-nav-bar %}{% endblock %}
{% block sidebar-fn %}{% endblock %}
{% block content %}
<iframe src="https://passport.9888keji.com/passport/blank" style="display: none"></iframe>
<iframe src="https://passport.gongchangzx.com/passport/blank" style="display: none"></iframe>
<iframe src="https://passport.gongchangp2p.com/passport/blank" style="display: none"></iframe>
{% endblock %}

{% block javascripts %}
<script src="http://passport.cnblogs.com/scripts/jsencrypt.min.js"></script>
{% endblock %}

