{{#> base noHeader=true }}

    {{#* inline "head_javascripts" }}
    <script src="https://passport.cnblogs.com/scripts/jsencrypt.min.js"></script>
    <script src="javascripts/index.js"></script>
    {{/inline}}

    {{#* inline "content"}}
        <div id="cnt"></div>
        <iframe src="https://passport.9888keji.com/passport/blank" style="display: none"></iframe>
        <iframe src="https://passport.gongchangzx.com/passport/blank" style="display: none"></iframe>
        <iframe src="https://passport.gongchangp2p.com/passport/blank" style="display: none"></iframe>
    {{/inline}}
{{/base}}