{% extends '../../../lib/templates/p2p-web-base.swig.html' %}

{% block title %}工场微金是由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的专注于小贷公司资产交易的P2P平台—上工微金场，圆财富梦想！{% endblock %}

{% block javascripts %}
<script src="javascripts/index.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}

<div class="banner">
    <a href="http://gongchangp2p.com/prdClaims/list.shtml"></a>
</div>

<div class="main_event">
    <div class="menue" style="position: relative; top: 0px; left: 0px;">
        <ul>
            <li class="list1"><a href="javascript:;"><span></span>项目简介</a></li>
            <li class="list2"><a href="javascript:;"><span></span>资金安全</a></li>
            <li class="list3"><a href="javascript:;"><span></span>出借案例</a></li>
            <li class="list4"><a href="javascript:;"><span></span>合作机构</a></li>
            <li class="list5"><a href="javascript:;"><span></span>常见问题</a></li>
        </ul>
    </div>
    <div class="innerment">
        <div class="section block1">
            <h2 style="padding-top:34px"><img src="images/h_tit.jpg" alt="项目简介" width="1120"></h2>
            <div class="project_info">
                <h3 class="tcl tc">什么是<span class="orange">易收宝？</span></h3>
                <p class="ft2" style="line-height:24px; font-family: '微软雅黑'; ">
                    "易收宝"系列项目是针对企业优质应收账款而设计的一种资产收益权转让类融资服务。项目合作方上海外滩网信互联网金融信息服务有限公司，挑选优质项目推荐至工场微金，项目<span
                        class="more_txt" style="display:none">
	所出让应收账款均经过上海外滩网信公司专业风控团队严格审核的企业优质资产。工场微金平台向应收账款出让人和应收账款受让人（出借人）提供方便快捷的投融资服务，
	交易双方通过平台直接签订法律协议，明确双方的权利义务关系。同时，本项目由国内大型金融机构为出借人提供连带责任保证担保，
	保障出借人本金及收益安全。</span><a href="javascript:;" class="more_link">展开全部</a></p>
                <h3 class="tcl tc" style="margin:42px 0 14px"><span class="orange">易收宝</span>的优势</h3>
                <ul class="advantage">
                    <li><em></em>单笔融资期限<span class="red2">1个月-12个月</span></li>
                    <li style="width:300px"><em></em>预期年化利率高达<span class="red2">5% -10%</span></li>
                    <li><em></em>资产价格不高于原始债权的本金金额</li>
                    <li style="width:300px"><em></em>起投金额仅<span class="red2">100元</span></li>
                </ul>
            </div>
            <div class="project_info nopp"><img src="images/yishoubao.jpg" alt="交易流程" height="572" width="956"></div>
            <p class="tc"><img src="images/pic_info2.jpg" alt="项目特点" height="369" width="956"></p>
        </div>
        <div class="section block2">
            <h2><img src="images/h_tit2.jpg" alt="资金安全" width="1120"></h2>
            <div class="block2_img">
                <img src="images/pic_info3.jpg" height="435" width="956"/>
            </div>
        </div>
        <div class="section block3">
            <h2><img src="images/h_tit3.jpg" alt="出借案例" width="1120"></h2>
            <div class="anli">
                <img src="images/pic_info4.jpg" height="471" width="956"/>
                <a href="http://gongchangp2p.com/prdClaims/list.shtml"></a>
            </div>
            <p class="tc"><img src="images/pic_info5.jpg" alt="认购方式" height="435" width="956"></p>
        </div>
        <div class="section block4 rel">
            <h2><img src="images/h_tit4.jpg" alt="合作机构" width="1120"></h2>
            <div class="agency">
                <ul style="left: -237.917px; width: 2868px;" class="agency_list clearfix">
                    <li style="position: static; left: 2868px;">
                        <h4>合作担保方</h4>
                        <h4>上海外滩网信互联网金融信息服务有限公司</h4>
                        <p class="tl">上海外滩网信互联网金融信息服务有限公司（以下简称"上海外滩网信")，隶属于网信金融集团成员企业旗下专业的应收
                            账款金融服务公司，为客户提供专业应收账款互联网金融解决方案。上海外滩网信金融的母公司中国先锋金融集团有限
                            公司始创于2003年，经过十年多的积累，已发展成为一家具有多金融牌照、跨区域经营、业务品种齐全、
                            颇具影响力的全国综合性金融服务集团。多年来，先锋金融集团致力于打造多金融牌照的智慧金融平台，通过企业金融、互联网金融、
                            零售金融、产业金融和投资等五大业务集团，为中小企业提供多元化的项目与服务，包括信贷业务、融资租赁、银行业务、
                            产业金融、财富管理、网络众筹、公务机等，发挥交叉销售协同效应优势。</p>
                    </li>
                    <li>
                        <h4>合作担保方</h4>
                        <h4>联合创业担保集团有限公司</h4>
                        <p class="tl">联合创业担保集团有限公司，始创于2003年，注册资本7.29亿元，是一家从事贷款担保、融资顾问、股权投资等业务的
                            新型金融服务机构，集团在国内同行业中创造性地发展出"担保投资银行"的商业模式。集团公司已于50余家银行建立了深度合作关系，
                            取得银行授信超百亿元，累计担保额位于全国担保行业前列。累计支持企业客户2000余户，支持企业从业人数12万余人，协助企业累计实现销售输入450亿元，
                            实现利润55亿元，为地方经济发展做出了卓越的贡献，已成为一家跨区域经营、业务品种齐全、极具影响力的金融服务机构。
                            联合创业担保集团有限公司秉承"顾客至上，锐意进取"的经营理念，坚持"客户第一"的原则为广大客户提供优质的项目和服务。</p>
                    </li>
                    <li>
                        <h4>合作担保方</h4>
                        <h4>中国融资租赁有限公司</h4>
                        <p class="tl">中国融资租赁有限公司1986年成立于北京，是我国首批设立的从事租赁业务的专业公司。租赁资产总额近百亿元，
                            培养出了一支专业化的队伍，占据了广泛的市场，形成了科学的管理模式。公司已与多家银行、设备制造商、担保公司等形成了战略合作关系，
                            并将一如既往地秉承高效务实的服务理念，发挥自身集融资租赁、融资担保、股权投资、银行业务等为一体的集团化多品种业务优势，
                            积极致力于船舶、装备制造、医疗、节能环保、电信、能源、交通等行业的融资租赁业务的拓展，为客户提供全方位、专业化、多元化的金融服务。</p>
                    </li>
                    <li>
                        <h4>合作担保方</h4>
                        <h4>珠海华信保理有限公司</h4>
                        <p class="tl">珠海华信保理有限公司成立于2013年，注册资金人民币5000万元是经珠海横琴新区第一批批准成立的保理公司。
                            公司面向医疗、环保、教育、物流、公用、贸易、矿业、房地产行业提供集融资、销售分户账管理、客户资信调查与评估、
                            应收账款管理与催收、信用风险担保为一体的保理服务同时向企业、金融机构和政府机构提供金融外包服务、债权管理服务。</p>
                    </li>
                    <li>
                        <h4>合作担保方</h4>
                        <h4>深圳百禾商业保理有限公司</h4>
                        <p class="tl">深圳百禾保理有限公司注册于深圳前海深港合作区，注册资金5000万人民币，是国内领先的商业保理专业提供商。
                            公司依托母公司及相关兄弟公司构建了强大的金融服务平台，可以为企业提供丰富的保理项目服务，覆盖领域包括电子进出口、
                            通讯行业供应链、石油、化工项目供应链等。团队拥有中国商业保理行业第一批专业人才，拥有领先的项目设计理念、
                            扎实的行业理论基础和广泛的机构渠道资源。公司积极开展金融创新，并且可以根据客户的需求定制项目，以客户为中心，灵活的开展业务，满足客户需求。</p>
                    </li>
                </ul>
                <div class="circle">
                    <a href="javascript:;" class=""></a>
                    <a class="on" href="javascript:;"></a>
                    <a class="" href="javascript:;"></a>
                    <a class="" href="javascript:;"></a>
                    <a class="" href="javascript:;"></a>
                    <!--<a class="" href="javascript:;"></a>-->
                </div>
            </div>
        </div>
        <div class="section block5 rel">
            <h2><img src="images/h_tit5.jpg" width="1120" alt="常见问题"></h2>
            <div class="mm_area">
                <div class="moment">
                    <div class="event clearfix">
                        <div class="icon"></div>
                        <div class="message">
                            <h3>什么是应收账款？</h3>
                            <p>应收账款是指权利人因提供一定的货物、服务或设施等而获得的要求义务人付款的权利，包括现有的和未来的金钱债权及其产生的收益。</p>
                        </div>
                    </div>
                </div>

                <div class="moment">
                    <div class="event clearfix">
                        <div class="icon"></div>
                        <div class="message">
                            <h3>如果借款人无力还款，如何处置所抵押房产保障出借人的本金及收益安全？</h3>
                            <p>
                                如果借款人出现逾期或坏账，对该借贷行为担保的担保机构对每笔借款提供连带责任担保，贷款到期后，借款人出现任何问题，担保机构即会启动代偿机制，按照《保证合同》约定向出借人偿付所有剩余本金及利息。然后担保机构自行负责之后的追偿，催收工作。</p>
                        </div>
                    </div>
                </div>

                <div class="moment last">
                    <div class="event clearfix">
                        <div class="icon"></div>
                        <div class="message">
                            <h3>易收宝项目线上出借都需要签署哪些合同？</h3>
                            <p>易收宝项目属于企业应收账款转让类项目，符合资产收益权转让标准版模式,签订的合 同及签署主体如下：<br/>
                                (1) 《资产收益权转让协议》：转让方、受让方、平台方<br/>
                                (2) 《委托担保合同》：转让方、担保方<br/>
                                (3) 《保证合同》：受让方、担保方<br/>
                                (4) 《转让方咨询服务协议》：转让方、咨询方、平台方<br/>
                                (5) 《受让方咨询服务协议》：受让方、咨询方、平台方</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}
