{% extends '../../../lib/templates/web_base.swig.html' %}

{% block title %}金融工场是由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的专注于小贷公司资产交易的P2P平台—上金融工场，圆财富梦想！{% endblock %}

{% block js %}
<script src="javascripts/jquery.SuperSlide.2.1.1.js"></script>
<script src="javascripts/jquery.SuperSlide.2.1.1.source.js"></script>
<script src="javascripts/index.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}

<div class="consumerCreditBox">
    <div class="top">
        <img src="images/banner.jpg" width="100%">
    </div>
    <div class="centerBox">
        <div class="centerNav">
            <ul class="nav" id="nav">
                <li class="list1">
                    <a href="javascript:;" class="navLink">
                        <span></span>
                        项目简介
                    </a>

                </li>
                <li class="list2">
                    <a href="javascript:;" class="navLink">
                        <span></span>
                        资金安全
                    </a>

                </li>
                <li class="list3">
                    <a href="javascript:;" class="navLink">
                        <span></span>
                        投资案例
                    </a>

                </li>
                <li class="list4">
                    <a href="javascript:;" class="navLink">
                        <span></span>
                        合作机构
                    </a>

                </li>
                <li class="list5">
                    <a href="javascript:;" class="navLink">
                        <span></span>
                        常见问题
                    </a>

                </li>
            </ul>
        </div>
        <div class="centerMain">
            <div class="Introduction">
                <img src="images/Introduction.jpg" alt="">
                <div class="whatBox">
                    <div class="whatTitle">
                        什么是<span class="blue">消费贷?</span>
                    </div>
                    <div class="whatContent">
                        <span>“消费贷”系列项目是金融工场（www.9888.cn）推出的一款面向广大消费群体提供消费分期金融服务的产品。项目多为网信奇点、首山资产等资产提供方推荐。借款人资金多用于满足个人消费需求。本项目由金融工场向交易双方提供方便快捷的借贷信息撮合及居间</span>
                        <span class="more" style="display: none">服务，借款人和出借人通过金融工场平台直接签订法律协议，明确双方的权利义务关系。本项目由大型担保公司或国内有资质的资产管理公司为借款人提供连带责任保证担保或作为债权资产回购方，如果借款人未按时履行还款义务，则由担保方履行担保责任或由资产回购方回购债权人持有的债权，以保障投资人权益。</span>
                        <div class="handle" id="handle">
                        </div>
                    </div>
                </div>
                <div class="advantageBox">
                    <div class="advantageTitle">
                        <span class="blue">消费贷</span>的优势
                    </div>
                    <div class="advantageContent">
                        <div class="advantageContentL">
                            <p><span class="square"></span>还款方式为<span class="red">按月等额本息还款</span></p>
                            <p><span class="square"></span>借款期限为<span class="red">3个月—36个月</span></p>
                        </div>
                        <div class="advantageContentR">
                            <p><span class="square"></span>预期收益率高达<span class="red">9% --15%</span></p>
                            <p><span class="square"></span>起投金额仅<span class="red">100元</span></p>
                        </div>
                    </div>
                </div>
                <div class="flowBox">
                    <img src="images/flow.png" alt="">
                </div>
                <div class="featureBox">
                    <img src="images/feature.png" alt="">
                </div>
            </div>
            <div class="guaranteeBox">
                <img src="images/cashsafe.png" alt="">
            </div>
            <div class="caseBox" name="intro">
                <img src="images/case.jpg" alt="" class="casePic">
                <img src="images/left.jpg" alt="" class="caseleft">
                <img src="images/right.jpg" alt="" class="caseright">
                <a href="http://www.9888.cn/prdClaims/list.shtml" class="links">马上去投资</a>
                <div class="tips">*若在规定募集期内未完成资金的募集，项目募集将自动撤销，资金将退回至出借人的徽商银行电子账户。</div>
                <div class="buyBox">
                    <img src="images/buy.png" alt="" class="buyPic">
                </div>
            </div>
            <div class="cooperationBox">
                <img src="images/hezuo_07.jpg" alt="">
                <div id="slideBox" class="slideBox">
                    <div class="hd">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="bd">
                        <ul>
                            <li><a href="#">
                                <h2>金融工场</h2>
                                <p>
                                    金融工场是由香港上市金融科技企业——中国信贷科技控股有限公司（Credit
                                    China，股票代码：08207.HK）战略控股，由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的，专注于网络借贷信息撮合的互联网金融平台。
                                </p>
                                <p>
                                    金融工场致力于通过专业高效的投融资咨询服务，解决企业、个人融资门槛高、融资渠道少、融资速度慢等难题；为资金闲置、有投资需求的投资者提供精选的优质信贷资产。平台基于不同类型用户群体、需求特征与收益预期，打造多样化在线投资产品以及特色化的资金出借咨询服务。
                                </p>
                            </a></li>
                            <li><a href="#">
                                <h2>首山金融</h2>
                                <p>
                                    首山金融信息服务（上海）有限公司，是一家针对有一般性借款需求的个人和小微企业主的经营性借款需求量身定制借款方案的综合性互联网金融服务机构。公司致力于为客户提供全方位、个性化的普惠金融服务，打造综合性金融服务平台，以更加积极的态度助力中国小微金融事业的规范与发展。
                                </p>

                            </a></li>
                            <li><a href="#">
                                <h2>首山资产</h2>
                                <p>
                                    首山资产管理（上海）有限公司，是集信用风险评估与管理、信用数据整合服务、小额信贷行业投资、小微借款咨询服务与交易促成平台服务等业务于一体的综合融资解决方案服务企业，所提供的服务遍及整个产业链。同时作为小额信贷联盟的会员机构，首山资产管理（上海）有限公司始终以创新和变革的精神，在不断提升品牌价值的同时，追求持续发展，并逐步建立起先进的组织架构、科学的风险管理模式，基于大数据和云计算的风控决策机制。
                                </p>
                                <p>
                                    目前，公司业务遍及全国10多个省，60多个市，
                                    2000人的专业服务团队，为各行业客户提供融资借款咨询，信用风险评估等服务，在业内屡次获得好评。致力于建立综合性金融服务类公司，以信用为基础，立足微金融领域，服务大众。
                                </p>

                            </a></li>
                            <li><a href="#">
                                <h2>网信奇点</h2>
                                <p>
                                    北京网信奇点投资有限公司专注于向中国年轻群体提供以消费为目的金融服务解决方案。公司以“微金融，新互联”为理念，以通过互联网场景为消费者提供覆盖面更广、更便捷的普惠金融服务为使命，在“互联网+”的时代背景下，将理解新的规则，寻找新的伙伴，运用新的技术，探索新的模式，打造全新的消费金融体验。公司希望通过先进的技术、专业的服务、便捷的产品为年轻消费者提供最佳的互联网消费分期体验。掌上申请，快速审批，为年轻群体提供更便捷的普惠金融服务，呈现精彩生活。
                                </p>

                            </a></li>
                            <li><a href="#">
                                <h2>爱田园</h2>
                                <p>
                                    北京爱田园网络科技有限公司是一家从事文化咨询、投资咨询、资产管理、企业管理咨询以及经营企业策划、承办展览展示活动、翻译服务等多元化网络科技公司。
                                </p>
                            </a></li>
                        </ul>
                    </div>

                </div>

            </div>
            <div class="questionBox">
                <img src="images/question_07.jpg" alt="">
            </div>
        </div>

    </div>
</div>

{% endblock %}