{{#> base }}

{{#* inline "javascripts" }}
<script type='text/javascript' src="javascripts/echarts.common.min.js"></script>
<script type="text/javascript" src="javascripts/index.js"></script>
{{/inline}}

{{#* inline "content"}}
<div class="informationDisclosure">
    <div class="informationTab">
        <div class="tab tabFirst active">平台运营信息</div>
        <div class="tab tabMiddle ">企业信息</div>
        <div class="tab tabLast ">专项报告</div>
    </div>
    <div class="informationPartContent">
        <div class="infoConPart infoConPart1">
            <div class="partStatistics">
                <div class="statisticsContent">
                    <div class="staOne staCommon">
                        <div class="text">累计借贷金额(元)</div>
                        <div class="number"><span> </span></div>
                    </div>
                    <div class="staTwo staCommon">
                        <div class="text">累计借贷笔数(笔)</div>
                        <div class="number"><span> </span></div>
                    </div>
                    <div class="staThree staCommon">
                        <div class="text">累计赚取利息(元)</div>
                        <div class="number"><span> </span></div>
                    </div>
                    <div class="staFour staCommon">
                        <div class="text">借贷余额(元)</div>
                        <div class="number"><span> </span></div>
                    </div>
                    <div class="staFive staCommon">
                        <div class="text">借贷余额笔数(笔)</div>
                        <div class="number"><span> </span></div>
                    </div>
                </div>
            </div>
            <div class="partPie">
                <div class="partPieLeft">
                    <div id="main1" style="width: 550px;height:400px;float:left;"></div>
                    <div class="pieLeftText pieCommon ">
                        <div class="person">借款用户：<span></span></div>
                        <div class="person">人均累计借款金额：<span></span></div>
                        <div class="person">最大单一借款人待还金额占比：<span></span></div>
                        <div class="person">前十大借款人待还金额占比：<span></span></div>
                        <div class="person">关联关系借款余额：<span></span></div>
                        <div class="person">关联关系借款余额笔数：<span></span></div>
                    </div>
                </div>
                <div class="partPieRight">
                    <div id="main2" style="width: 550px;height:400px;float:left;"></div>
                    <div class="pieRightText pieCommon ">
                        <div class="person">出借用户：<span></span></div>
                        <div class="person">人均累计出借金额：<span></span>元</div>
                        <div class="person">最大单户出借余额占比：<span></span></div>
                        <div class="person">最大十户出借余额占比：<span></span></div>
                    </div>
                </div>
            </div>
            <div class="partEndurance">
                <div class="enduranceTitle">平台风险承受能力</div>
                <div class="enduranceContent">
                    <div class="endCommon end1">
                        <div class="text">利息余额(元)</div>
                        <div class="money"><span></span></div>
                    </div>
                    <div class="endCommon end2">
                        <div class="text">逾期金额(元)</div>
                        <div class="money"><span></span></div>
                    </div>
                    <div class="endCommon end3">
                        <div class="text">逾期90天(不含)以上金额(元)</div>
                        <div class="money"><span></span></div>
                    </div>
                    <div class="endCommon end4">
                        <div class="text">逾期90天(不含)以上笔数(笔)</div>
                        <div class="money"><span></span></div>
                    </div>

                    <div class="endCommon end1">
                        <div class="text">累计代偿金额(元)</div>
                        <div class="money"><span></span></div>
                    </div>
                    <div class="endCommon end2">
                        <div class="text">逾期笔数(笔)</div>
                        <div class="money"><span></span></div>
                    </div>
                    <div class="endCommon end3">
                        <div class="text">金额分级逾期率1-90天</div>
                        <div class="money"><span></span>%</div>
                    </div>
                    <div class="endCommon end4">
                        <div class="text">项目分级逾期率1-90天</div>
                        <div class="money"><span></span>%</div>
                    </div>

                    <div class="endCommon end1">
                        <div class="text">累计代偿笔数(笔)</div>
                        <div class="money"><span></span></div>
                    </div>
                    <div class="endCommon end2">
                        <div class="text">金额逾期率</div>
                        <div class="money"><span></span>%</div>
                    </div>
                    <div class="endCommon end3">
                        <div class="text">金额分级逾期率91-180天</div>
                        <div class="money"><span></span>%</div>
                    </div>
                    <div class="endCommon end4">
                        <div class="text">项目分级逾期率91-180天</div>
                        <div class="money"><span></span>%</div>
                    </div>

                    <div class="endCommon end1">
                        <div class="text">出借人本息损失(元)</div>
                        <div class="money"><span></span></div>
                    </div>
                    <div class="endCommon end2">
                        <div class="text">项目逾期率</div>
                        <div class="money"><span></span>%</div>
                    </div>
                    <div class="endCommon end3">
                        <div class="text">金额分级逾期率181天以上</div>
                        <div class="money"><span></span>%</div>
                    </div>
                    <div class="endCommon end4">
                        <div class="text">项目分级逾期率181天以上</div>
                        <div class="money"><span></span>%</div>
                    </div>
                </div>
            </div>
            <div class="table">
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <td colspan="2">收费标准</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>业务类型</td>
                            <td>资费标准</td>
                        </tr>
                        <tr>
                            <td>用户注册</td>
                            <td>免费</td>
                        </tr>
                        <tr>
                            <td>开通存管账户</td>
                            <td>免费</td>
                        </tr>
                        <tr height="130">
                            <td>
                                <table>
                                    <td style="padding:0">出借</td>
                                    <td >普通出借项目<br/>批量出借项目<br/>债权转让项目</td>
                                </table>
                            </td>
                            <td >免费</td>
                        </tr>
                        <tr>
                            <td >回款到账</td>
                            <td >免费</td>
                        </tr>
                        <tr height="88">
                            <td >债权转让</td>
                            <td >锁定期满后出借人申请债权转让且转让成功的，按成功 转让债权本金的0.5%向平台支付债权转让手续费。</td>
                        </tr>
                        <tr>
                            <td >充值</td>
                            <td >免费</td>
                        </tr>
                        <tr height="130">
                            <td>
                                <table>
                                    <td style="padding:0">提现</td>
                                    <td >快速提现<br/>充值未出借提现费</td>
                                </table>
                            </td>
                            <td >免费<br/>对充值后未进行出借的资金进行提现，将收取提现金额的0.4%的提现费。</td>
                        </tr>
                        <tr height="70">
                            <td >借款人收费</td>
                            <td >工场微金平台对借款人收取的服务费标准为1%-6%（年 化），具体标准以相关合同约定为准。</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{!-- <div class="partReportForm">
                <div class="reportFormTitle">经审计的年度报表</div>
                <div class="reportFormContent">
                    经审计的年度报表，
                    <a href="https://static.9888.cn/pdf/2016report.pdf">立即查看</a>
                </div>
            </div> --}}
            <div class="partStatisticsText">数据截止至 <span></span></div>
        </div>
        <div class="infoConPart infoConPart2 hidden">
            <div class="main">
                <!--基本信息模块-->
                <div class="basicInfo">
                    <div class="basicInfoTitle">
                        公司基本信息
                    </div>
                    <div class="basicInfoContent clearfix">
                        <div class="ContentLeft fl">
                            <p class="line">公司全称及简称：</p>
                            <p class="line">统一社会信用代码：</p>

                            <p class="line">注册资本：</p>

                            <p class="line">实缴资本：</p>

                            <p class="line">注册地址：</p>

                            <p class="line">成立时间：</p>

                            <p class="line">经营期限：</p>

                            <p class="line">法定代表人：</p>
                            
                            <p class="line">股东信息：</p>

                            <p class="range">经营范围：</p>

                            <p class="line">经营状态：</p>

                            <p class="line" style="height:44px">从业人员：</p>

                            <p class="line" >第三方机构合作：</p>

                            <p class="line" style="height:44px">风险管理负责人：</p>

                            <p class="line">经营场所：</p>

                            <p class="line">分支机构：</p>
                        </div>
                        <div class="ContentRight fl">
                            <p class="rline">北京凤凰信用管理有限公司（简称：凤凰信用）</p>

                            <p class="rline">91110000597734276G</p>

                            <p class="rline">5000万</p>

                            <p class="rline">5000万</p>

                            <p class="rline">北京市朝阳区朝阳门外大街18号11层1105内008号</p>

                            <p class="rline">2012年5月23日</p>

                            <p class="rline">2012-05-23至2062-05-22</p>

                            <p class="rline">魏薇</p>

                            <p class="rline">魏薇，持股比例：100%</p>

                            <p class="rrange">
                                企业信用征集、评定；企业信用管理咨询；经济贸易咨询；投资咨询；企业管理咨询；市场调查；投资管理；资产管理；软件开发；设计、制作、代理、发布广告；技术咨询；技术服务；委托生产电子产品、照相器材、计算机、软件及辅助设备；航空机票票务代理；经营电信业务；互联网信息服务；销售化工产品。（企业依法自主选择经营项目，开展经营活动；销售化工产品、“经营电信业务”；“互联网信息服务”以及依法须经批准的项目，经相关部门批准后依批准的内容开展经营活动；不得从事本市产业政策禁止和限制类项目的经营活动。）</p>

                            <p class="rline">开业</p>

                            <p class="rline" style="height:44px">
                                截止至2017年12月31日，北京凤凰信用管理有限公司人员数量共计47人，其中正式员工47人。从年龄机构看，25周岁以下员工2人，35（含）到45周岁员工44人，45周岁（含）以上员工1人；从学历结构看研究生及以上员工7人，本科及以下员工40人。</p>

                            <p class="rline" >主要由担保方（详见项目介绍）与出借人签署《保证合同》，为出借人提供连带保证责任担保。</p>

                            <p class="rline" style="height:44px">
                            邹晓东，工场微金首席风险官。毕业于东北财经大学，中国注册会计师（CICPA），英国特许公认会计师 （FCCA），曾任普华永道中天会计师事务所审计经理，联合创业担保集团辽宁公司首席风险官，拥有多年的风险管理经验。</p>

                            <p class="rline">北京市朝阳区朝阳门外大街18号11层1105内008号</p>

                            <p class="rline">无</p>
                        </div>
                    </div>
                </div>
                <!--风险管理信息-->
                <div class="webInfo riskInfo clearfix">
                    <div class="webInfoTitle">
                        风险管理信息
                    </div>
                    <div class="webInfoContent ">
                        <div class="webInfoContentL fl">
                            <p class="line">网贷机构风险管理架构：</p>
                            <p class="line" style="height:490px">风险评估流程：</p>
                            <p class="line" style="height:82px;">风险预警管理情况：</p>
                            <p class="line">催收方式：</p>
                        </div>
                        <div class="webInfoContentR fl">
                            <p class="rline" style="position: relative;z-index: 10;">风险管理部：首席风险官1名；高级风险经理1名；风险经理3名</p>
                            <p class="rLineTitle">工场微金项目审批流程图</p>
                            <img style="width: 1027px" src="./images/flow1.jpg" alt="">
                            <p class="rline" style="margin-top:-62px;width:768px;line-height:20px;">资产端业务部门进行贷后管理检查前要制定检查计划。贷后检查分日常检查和重点检查。对合作的资产端需要提供每月的资产质量报表，平台严格按《北京凤凰信用管理有限公司网络借贷信息中介平台贷后管理办法》与《北京凤凰信用管理有限公司网络借贷信息中介平台业务档案管理办法》执行。</p>
                            <p class="rline" style="margin-top:80px;">短信、电话。</p>
                        </div>
                    </div>
                </div>
                <!--网站平台信息模块-->
                <div class="webInfo clearfix">
                    <div class="webInfoTitle">
                        公司网站平台信息
                    </div>
                    <div class="webInfoContent ">
                        <div class="webInfoContentL fl">
                            <p class="line">网站或互联网平台地址：</p>
                            <p class="line">平台名称：</p>
                            <p class="line">平台上线运营时间：</p>
                            <p class="line">ICP备案号：</p>
                            <p class="line">经营性ICP许可证号：</p>
                            <p class="line">移动APP应用：</p>
                            <p class="line">官方微信公众号：</p>
                            <p class="line">全国公安网监备案：</p>
                            <p class="line">注册协议模板：</p>

                            <p class="line" style="height:48px">资金存管情况：</p>

                            <p class="line">联系电话：</p>

                            <p class="line">电子邮箱：</p>
                            <p class="line">通讯地址：</p>
                        </div>
                        <div class="webInfoContentR fl">
                            <p class="rline">www.gongchangp2p.com</p>
                            <p class="rline">工场微金</p>
                            <p class="rline">2012年7月1日</p>
                            <p class="rline">京ICP备14029254号-1</p>
                            <p class="rline">京ICP证140736号</p>
                            <p class="rline">工场微金</p>
                            <p class="rline">工场微金</p>
                            <p class="rline">京公网安备11010502031615号</p>
                            <p class="rline"><a class="lineLook" href="/static/p2p-web/protocol-user-service/index.html"
                                    target="_blank">点击查看</a></p>

                            <p class="rrange" style="height:48px;">
                                存管银行：徽商银行<br/>签约时间：2015年9月6日<br/>全量业务上线时间：2016年10月20日
                            </p>

                            <p class="rline">400-0322-988</p>

                            <p class="rline">kefu@9888.cn</p>
                            <p class="rline">北京市朝阳区朝阳门外大街18号11层1105内008号</p>
                        </div>
                    </div>
                </div>
                <!--组织架构模块-->
                <div class="organization">
                    <div class="orgTitle">
                        重大事项
                    </div>
                    <div class="table">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td colspan="3">公司减资、合并、分立、解散或申请破</td>
                                <td colspan="1">无</td>
                            </tr>
                            <tr>
                                <td colspan="3">公司依法进入破产程序</td>
                                <td colspan="1">无</td>
                            </tr>
                            <tr>
                                <td colspan="3">公司被责令停业、整顿、关闭</td>
                                <td colspan="1">无</td>
                            </tr>
                            <tr height="80">
                                <td colspan="3">公司涉及重大诉讼、仲裁，或涉嫌违法违规被有权机关调查，或受到刑事<br/>处罚、重大行政处罚</td>
                                <td colspan="1">无</td>
                            </tr>
                            <tr height="120">
                                <td colspan="3" >公司法定代表人、实际控制人、主要负责人、董事、监事、高级管理人员<br/>
涉及重大诉讼、仲裁，或涉嫌违法违纪被有权机关调查，或受到刑事处罚、<br/>
重大行政处罚，或被采取强制措施：</td>
                                <td colspan="1">无</td>
                            </tr>
                            <tr>
                                <td colspan="3">公司主要或者全部业务陷入停顿：</td>
                                <td colspan="1">无</td>
                            </tr>
                            <tr height="80">
                                <td colspan="3">存在欺诈、损害出借人利益等其他影响网络借贷信息中介机构经营活动的<br/>重大事项：</td>
                                <td colspan="1">无</td>
                            </tr>
                            <tr>
                                <td colspan="3">其他重大事项：</td>
                                <td colspan="1"><a href="http://static.9888.cn/pdf/web/%E4%BB%8E%E4%B8%9A%E6%9C%BA%E6%9E%84%E9%87%8D%E5%A4%A7%E4%BA%8B%E9%A1%B9.pdf" target="_blank">点击查看></a></td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
                <div class="organization">
                    <div class="orgTitle">
                        组织架构
                    </div>
                    <img src="images/org.png" alt="" class="orgPic">
                </div>
                <!--股东名单模块-->
                <div class="shareholder">
                    <div class="shareTitle">
                        实际控股人
                    </div>
                    <div class="shareContent">
                        <!-- <img src="images/logo.png" alt="" class="sharePic"> -->

                        <p class="des">Decade Elite Global Limited</p>
                    </div>
                </div>

                <!--董监高模块-->
                <div class="chairman">
                    <div class="chairmanLeft"></div>
                    <div class="chairmanRight">
                        <div class="chairmanRightTitle">
                            专家顾问
                        </div>
                        <div class="chairmanRightTitleContent">

                            <div class="person clearfix">
                                <div class="personL fl">
                                    <img src="images/men9.png" alt="" class="personPic">
                                </div>
                                <div class="personR fl">
                                    <div class="personRTitle">
                                        <span class="name">盛佳</span>
                                        <span class="position">金融科技专家</span>
                                    </div>
                                    <div class="personRContent">
                                        <p class="line">
                                            曾任Google中国产品经理，负责全球产品搜索及产品基础架构业务；云壤（北京）信息技术有限公司创办人之一。毕业于清华大学计算机科学与技术系，拥有加拿大多伦多大学计算机专业硕士学位。荣任中国证券业协会互联网证券专业委员会委员、中国人民银行研究局G20数字金融专家组专家。现任中新控股科技集团有限公司执行董事、中国网信金融集团有限公司首席执行官。
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="person clearfix personLast">
                                <div class="personL fl">
                                    <img src="images/men10.png" alt="" class="personPic">
                                </div>
                                <div class="personR fl">
                                    <div class="personRTitle">
                                        <span class="name">赵梦琴</span>
                                        <span class="position">小微金融业务专家</span>
                                    </div>
                                    <div class="personRContent">
                                        <p class="line">
                                            曾任包商银行小微金融部总经理，从2005年起从事小微金融的研究与实践，荣获“中国银监会全国银行业金融机构小企业金融服务先进个人”等多项荣誉。毕业于东北财经大学，工商管理硕士，参与编写了《微小企业贷款的研究与实践》等研究专著，是中国小微信贷、小微金融领域的理论研究者、技术传播者和实践领军者。现任北京锦源盛达信息技术咨询有限公司董事长。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--董监高模块-->
                <div class="chairman">
                    <div class="chairmanLeft">

                    </div>
                    <div class="chairmanRight">
                        <div class="chairmanRightTitle">
                            管理团队
                        </div>
                        <div class="chairmanRightTitleContent">

                            <div class="person clearfix">
                                <div class="personL fl">
                                    <img src="images/men2.png" alt="" class="personPic">
                                </div>
                                <div class="personR fl">
                                    <div class="personRTitle">
                                        <span class="name">魏薇·董事长兼CEO</span>
                                    </div>
                                    <div class="personRContent">
                                        <p class="line">
                                            毕业于中国人民大学。曾任北京联合开元投资担保有限公司副总经理和联合创业集团有限公司营运管理中心总经理。经过10余年金融行业管理岗位的历练，拥有丰富的网贷行业实战经验和全面而独到的行业视角及理念，是小微金融的领军人物，普惠金融体系的积极践行者。
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="person clearfix">
                                <div class="personL fl">
                                    <img src="images/men4.png" alt="" class="personPic">
                                </div>
                                <div class="personR fl">
                                    <div class="personRTitle">
                                        <span class="name">邹晓东</span>
                                        <span class="position">CRO 首席风险官</span>
                                    </div>
                                    <div class="personRContent">
                                        <p class="line">
                                            毕业于东北财经大学，中国注册会计师（CICPA），英国特许公认会计师 （FCCA），曾任普华永道中天会计师事务所审计经理，联合创业担保集团辽宁公司首席风险官，拥有多年的风险管理经验。
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="person clearfix">
                                <div class="personL fl">
                                    <img src="images/men7.png" alt="" class="personPic">
                                </div>
                                <div class="personR fl">
                                    <div class="personRTitle">
                                        <span class="name">张锐</span>
                                        <span class="position">CTO 首席技术官</span>
                                    </div>
                                    <div class="personRContent">
                                        <p class="line">
                                            毕业于青岛理工大学，曾任人人(NYSE:RENN)高级技术经理，先锋支付技术基础架构负责人，去哪儿(NYSE: QUNR)国际机票(供应链)技术负责人。现任工场微金CTO，负责工场微金互联网产品与技术团队。对大规模复杂在线交易系统架构设计及互联网产品技术团队管理具备丰富经验。
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="person clearfix" style="border-bottom:none">
                                <div class="personL fl">
                                    <img src="images/men8.png" alt="" class="personPic">
                                </div>
                                <div class="personR fl">
                                    <div class="personRTitle">
                                        <span class="name">段炼</span>
                                        <span class="position">CMO 首席营销官</span>
                                    </div>
                                    <div class="personRContent">
                                        <p class="line">
                                            毕业于北京交通大学，曾就职于中信国安集团和北京锐安科技有限公司，从事综合管理及互联网信息安全监管等相关工作，具备多年跨行业跨职能相关管理工作经验。对于营销管理、成本管理、团队管理具有丰富的工作经验，现任工场微金CMO,负责工场微金用户运营营销工作。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="infoConPart infoConPart3 hidden">
            <div class="specialTitle">专项报告</div>
            <div class="specialContent">
                <div class="conReport1 conReport">
                    <span>经审计的年度报表＞</span>
                    <a style="color:#fb6456" target="_blank" href="https://static.9888.cn/pdf/web/2016report.pdf">立即查看</a>
                </div>
                <div class="conReport1 conReport">
                    <span>会计师事务所审计报告＞</span>
                    <a href="javascript:;">整理中</a>
                </div>
                <div class="conReport3 conReport">
                    <span>信息系统安全等级测评报告＞</span>
                    <a style="color:#fb6456" target="_blank" href="https://static.9888.cn/pdf/web/%E4%BF%A1%E6%81%AF%E7%B3%BB%E7%BB%9F%E5%AE%89%E5%85%A8%E7%AD%89%E7%BA%A7%E6%B5%8B%E8%AF%84%E6%8A%A5%E5%91%8A.pdf">立即查看</a>
                </div>
                <div class="conReport2 conReport">
                    <span>律师事务所合规报告＞</span>
                    <a href="javascript:;">整理中</a>
                </div>
            </div>
        </div>
    </div>

</div>
{{/inline}}

{{/base}}
