{% extends '../../../lib/templates/web_base.swig.html' %}

{% block title %}金融工场是由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的专注于小贷公司资产交易的P2P平台—上金融工场，圆财富梦想！{% endblock %}

{% block javascripts %}
<script src="javascripts/index.js"></script>
{% endblock %}

{% block content %}

<div class="banner"></div>

<div class="cnt">
    <div class="understand-area">
        <h2 class="title">了解金融工场</h2>
        <div class="assistant-title">
            <div class="assistant-title-block">
                <img src="images/duideAbout-ico1.png">
                中國信貸科技旗下旗下互联网金融平台
            </div>
        </div>
        <p class="understand-text">
            金融工场是由香港上市公司——中国信贷科技控股有限公司（Credit China，股票代码：08207.HK）战略控股，由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的，专注于网络借贷信息撮合的互联网金融平台。
        </p>

        <div class="understand-img">
            <img src="images/guide-about.jpg"/>
        </div>
    </div>


    <div class="select-area">
        <div class="content">
            <h2 class="title">选择金融工场</h2>
            <div class="assistant-title">
                <h3 class="title-text">专于金融、精于风控，银行级安全保障确保您资金安全</h3>
            </div>

            <div class="tab-block">
                <div class="tab-title">
                    <ul id="tabTitle">
                        <li class="select-li">
                            <span class="text">我们的优势</span>
                        </li>
                        <li>
                            <span class="text">安全保障</span>
                        </li>
                        <li class="last-li">
                            <span class="text">我们的荣誉</span>
                        </li>
                    </ul>

                    <div id="selectTab" class="select-tab"></div>
                </div>

                <div class="tab-content">
                    <div class="tab-content-info">
                        <ul class="we">
                            <li>
                                <div class="img">
                                    <img src="images/guide_selectlistB-01.png"/>
                                </div>
                                <span class="title-text">上市公司</span>
                                <p class="text">上市公司<br>中國信貸科技战略控股</p>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="images/guide_selectlistB-02.png"/>
                                </div>
                                <span class="title-text">低门槛赚收益</span>
                                <p class="text">100元起投<br>预期年化6-13%</p>
                            </li>
                            <li class="free-li">
                                <div class="img">
                                    <img src="images/guide_selectlistB-03.png"/>
                                </div>
                                <span class="title-text">0手续费</span>
                                <p class="text">投资后提现<br>无手续费</p>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="images/guide_selectlistB-04.png"/>
                                </div>
                                <span class="title-text">资金周转灵活</span>
                                <p class="text">期限灵活、提现快<br>可债权转让</p>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="images/guide_selectlistB-05.png"/>
                                </div>
                                <span class="title-text">投资安全</span>
                                <p class="text">融资性担保公司<br>第三方担保</p>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="images/03.png"/>
                                </div>
                                <span class="title-text">银行资金存管</span>
                                <p class="text">徽商银行资金存管</p>
                            </li>
                        </ul>

                    </div>
                    <div class="tab-content-info" style="display: none;">
                        <ul class="security">
                            <li>
                                <div class="img">
                                    <img src="images/guide_selectlistA-01.png"/>
                                </div>
                                <span class="title-text">合作机构保障</span>
                                <p class="text">所有合作机构必须持有监管部门颁发的金融业务经营许可证，且由金融主管部门进行监督和审查。</p>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="images/guide_selectlistA-02.png"/>
                                </div>
                                <span class="title-text">项目审核保障</span>
                                <p class="text">所有理财产品，均经过合作机构初审和金融工场风控部门实地尽职调查复审后，确保两次审核结果一致才可上线募集。</p>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="images/guide_selectlistA-03.png"/>
                                </div>
                                <span class="title-text">投资安全保障</span>
                                <p class="text">银行级别投资保障，已与徽商银行达成资金存管战略合作，隐私信息MD5加密，电子合同TSA认证，具有纸质合同同等法律效力。</p>
                            </li>
                        </ul>

                        <div class="link">
                            <a href="/activity/safety/" target="_blank">了解更多安全保障信息></a>
                        </div>
                    </div>
                    <div class="tab-content-info" style="display: none;">
                        <ul class="honor">
                            <li>
                                <div class="img">
                                    <img src="images/guide_selectlistC-01.png"/>
                                </div>
                                <span class="title-text">中国网络借贷担保客户<br>信赖首选品牌</span>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="images/guide_selectlistC-02.png"/>
                                </div>
                                <span class="title-text">中国小额信贷机构联席<br>会会员单位</span>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="images/guide_selectlistC-03.png"/>
                                </div>
                                <span class="title-text">中网CNNIC“可信网<br>站验证单位”</span>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="images/guide_selectlistC-04.png"/>
                                </div>
                                <span class="title-text">北京市网贷行业协会创<br>始会员单位</span>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="images/guide_selectlistC-05.png"/>
                                </div>
                                <span class="title-text">首都金融服务商会互联<br>网金融专委会会员单位</span>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="images/guide_selectlistC-06.png"/>
                                </div>
                                <span class="title-text">中国互联网金融协会会<br>员单位（首批）</span>
                            </li>
                        </ul>

                        <div class="link">
                            <a href="/about-us/events/" target="_blank">了解更多荣誉></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="pluralistic-product">
        <div class="content">
            <h2 class="title">多元化投资产品</h2>
            <div class="assistant-title">
                <h3 class="title-text">精选产品, 期限灵活, 预期年化利率6-13%， 投资你做主</h3>
            </div>

            <div class="info-block">
                <ul id="pluralisticProductUl">
                    <li>
                        <div class="show-info">
                            <div class="t-cnt">
								<span class="title-text">
									<i class="icon icon-yi"></i>
									<em class="text">易赚盈</em>
								</span>

                                <span class="text-info">
									预期年化利率
									<strong class="strong-text">
                                        5<em class="change-text">%</em>-10<em class="change-text">%</em>
                                    </strong>
								</span>
                            </div>

                            <div class="b-cnt">
                                <p class="text">优质保理小贷公司债权转让项目</p>
                            </div>
                        </div>

                        <div class="hide-info">
                            <div class="info-text">
                                <span class="title-text">易赚盈</span>
                                <a target="_blank" href="/static/web/topic-yi-zhuan-ying/index.html"
                                   class="link">了解详情></a>
                            </div>
                            <p class="text">优质保理小贷公司债权转让类项目，投资期限短、灵活</p>
                        </div>
                    </li>
                    <li>
                        <div class="show-info">
                            <div class="t-cnt">
								<span class="title-text">
									<i class="icon icon-che"></i>
									<em class="text">易车享</em>
								</span>

                                <span class="text-info">
									预期年化利率
									<strong class="strong-text">
                                        5<em class="change-text">%</em>-10<em class="change-text">%</em>
                                    </strong>
								</span>
                            </div>

                            <div class="b-cnt">
                                <p class="text">优质车贷项目</p>
                            </div>
                        </div>

                        <div class="hide-info">
                            <div class="info-text">
                                <span class="title-text">易车享</span>
                                <a href="/static/web/topic-yi-che-xiang/index.html" target="_blank"
                                   class="link">了解详情></a>
                            </div>
                            <p class="text">优质车贷项目，车辆抵押，以半年以内项目为主。</p>
                        </div>
                    </li>
                    <li>
                        <div class="show-info">
                            <div class="t-cnt">
								<span class="title-text">
									<i class="icon icon-li"></i>
									<em class="text">利随享</em>
								</span>

                                <span class="text-info">
									预期年化利率
									<strong class="strong-text">
                                        5<em class="change-text">%</em>-10<em class="change-text">%</em>
                                    </strong>
								</span>
                            </div>

                            <div class="b-cnt">
                                <p class="text">优质个人或企业直接融资项目</p>
                            </div>
                        </div>

                        <div class="hide-info">
                            <div class="info-text">
                                <span class="title-text">利随享</span>
                                <a href="/static/web/topic-li-sui-xiang/index.html" target="_blank"
                                   class="link">了解详情></a>
                            </div>
                            <p class="text">优质个人或企业直接融资项目，≤18个月、期限灵活。</p>
                        </div>
                    </li>
                    <li>
                        <div class="show-info">
                            <div class="t-cnt">
								<span class="title-text">
									<i class="icon icon-you"></i>
									<em class="text">友居贷</em>
								</span>

                                <span class="text-info">
									预期年化利率
									<strong class="strong-text">
                                        5<em class="change-text">%</em>-10<em class="change-text">%</em>
                                    </strong>
								</span>
                            </div>

                            <div class="b-cnt">
                                <p class="text">优质房产抵押项目</p>
                            </div>
                        </div>

                        <div class="hide-info">
                            <div class="info-text">
                                <span class="title-text">友居贷</span>
                                <a href="/static/web/topic-you-ju-dai/index.html" target="_blank" class="link">了解详情></a>
                            </div>
                            <p class="text">优质房产抵押项目，≤12个月，部分项目有锁定期。</p>
                        </div>
                    </li>
                    <li>
                        <div class="show-info">
                            <div class="t-cnt">
								<span class="title-text">
									<i class="icon icon-bao"></i>
									<em class="text">易收宝</em>
								</span>

                                <span class="text-info">
									预期年化利率
									<strong class="strong-text">
                                        5<em class="change-text">%</em>-10<em class="change-text">%</em>
                                    </strong>
								</span>
                            </div>

                            <div class="b-cnt">
                                <p class="text">优质应收账款项目</p>
                            </div>
                        </div>

                        <div class="hide-info">
                            <div class="info-text">
                                <span class="title-text">易收宝</span>
                                <a href="/static/web/topic-yi-shou-bao/index.html" target="_blank"
                                   class="link">了解详情></a>
                            </div>
                            <p class="text">优质应收账款项目，≤12个月、中长期为主。</p>
                        </div>
                    </li>
                    <li>
                        <div class="show-info">
                            <div class="t-cnt">
								<span class="title-text">
									<i class="icon icon-bu"></i>
									<em class="text">埠贸通</em>
								</span>

                                <span class="text-info">
									预期年化利率
									<strong class="strong-text">
                                        5<em class="change-text">%</em>-10<em class="change-text">%</em>
                                    </strong>
								</span>
                            </div>

                            <div class="b-cnt">
                                <p class="text">优质跨境电商供应链金融项目</p>
                            </div>
                        </div>

                        <div class="hide-info">
                            <div class="info-text">
                                <span class="title-text">埠贸通</span>
                                <a href="/static/web/topic-bu-mao-tong/index.html" target="_blank"
                                   class="link">了解详情></a>
                            </div>
                            <p class="text">优质跨境电商供应链金融项目，期限灵活、安全收益高。</p>
                        </div>
                    </li>

                    <li>
                        <div class="show-info">
                            <div class="t-cnt">
								<span class="title-text">
									<i class="icon-xiao"></i>
									<em class="text">消费贷</em>
								</span>

                                <span class="text-info">
									预期年化利率
									<strong class="strong-text">
                                        5<em class="change-text">%</em>-14.5<em class="change-text">%</em>
                                    </strong>
								</span>
                            </div>

                            <div class="b-cnt">
                                <p class="text">优质消费分期金融服务项目</p>
                            </div>
                        </div>

                        <div class="hide-info">
                            <div class="info-text">
                                <span class="title-text">消费贷</span>
                                <a href="/static/web/topic-xiao-fei-dai/index.html" target="_blank"
                                   class="link">了解详情></a>
                            </div>
                            <p class="text">优质消费分期金融服务项目，期限灵活、安全收益高。</p>
                        </div>
                    </li>

                    <li style="display: none">
                        <div class="show-info show-info-hidden">
                            <div class="t-cnt">
								<span class="title-text">
									<i class="icon-zun"></i>
									<em class="text">尊享计划</em>
								</span>

                                <span class="text-info">
									预期年化利率
									<strong class="strong-text">
                                        5<em class="change-text">%</em>-10<em class="change-text">%</em>
                                    </strong>
								</span>
                            </div>

                            <div class="b-cnt">
                                <p class="text">优质金融资产交易所收益分享合约产品</p>
                            </div>
                        </div>

                        <div class="hide-info">
                            <div class="info-text">
                                <span class="title-text">尊享计划</span>
                                <a href="/static/web/topic-zun-xiang/index.html" target="_blank"
                                   class="link">了解详情></a>
                            </div>
                            <p class="text">优质金融资产交易所收益分享合约产品。</p>
                        </div>
                    </li>

                </ul>
            </div>

            <p class="pluralistic-product-text">温馨提示：当您急需用钱或资金流转需要时，可在持有30天后转出债权，快速回收资金。
                <a href="/credit-assignment/">了解债权转让></a>
            </p>
        </div>
    </div>


    <div class="make-money-start">
        <div class="content">
            <h2 class="title">选择金融工场</h2>

            <div class="content-info">
                <div class="tiro-content">
                    <div class="content-title-block">
                        <h3 class="title-text">新手投资流程及秘笈</h3>
                        <a target="_blank" href="/static/web/guide-cookbook/index.html">查看完整攻略></a>
                    </div>

                    <div class="tro-content-info">
                        <div class="img-link">
                            <a target="_blank" href="/static/web/guide-cookbook/index.html"></a>
                        </div>
                        <!--<ul>-->
                            <!--<li>-->
                                <!--<span class="title-text">注册</span>-->
                                <!--<span class="info-text">即送120元</span>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<span class="title-text">开户</span>-->
                                <!--<span class="info-text">安全有保障</span>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<span class="title-text">充值</span>-->
                                <!--<span class="info-text">投资后无提现费</span>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<span class="title-text">首次投资</span>-->
                                <!--<span class="info-text">最高可送150元</span>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<span class="title-text">邀请朋友</span>-->
                                <!--<span class="info-text">好友首投满额还送50元</span>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<span class="title-text">好友达到VIP2及以上</span>-->
                                <!--<span class="info-text">最高再送1500元</span>-->
                            <!--</li>-->
                        <!--</ul>-->
                    </div>
                </div>

                <div class="constantly-content">
                    <div class="content-title-block">
                        <h3 class="title-text">随时随地，方便赚钱</h3>
                    </div>

                    <div class="constantly-content-info">
                        <ul>
                            <li>
                                <div class="img">
                                    <img src="images/guide_code01.png"/>
                                </div>
                                <span class="title-text">手机客户端</span>
                                <p class="text">用户可扫描上方二维码下载金融工场手机APP。快捷支付，随手可投。</p>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="images/guide_code02.png"/>
                                </div>
                                <span class="title-text">微信公众号</span>
                                <p class="text">打开微信扫描二维码或搜索公众号jrgc_p2p，关注金融工场微信，轻松自如投资，第一时间了解最新活动。</p>
                            </li>
                            <li>
                                <div class="img">
                                    <img src="images/guide_code03.png"/>
                                </div>
                                <span class="title-text">手机WAP版</span>
                                <p class="text">用户可通过手机浏览器输入金融工场网址：www.9888.cn，或直接搜索“金融工场”，即可快捷注册投资。</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="QA">
        <div class="content">
            <div class="title-block">
                <h3 class="title-text">还有疑问？您可以</h3>
            </div>

            <div class="QA-content">
                <ul>
                    <li class="help-li">
                        <a href="/help/explanation/" target="_blank">
							<span class="img">
								<img src="images/guide_ques-01.png"/>
							</span>

                            <span class="text-block">
								<span class="title-text">帮助中心</span>
								<span class="link-text">查看常见问题</span>
							</span>
                        </a>
                    </li>
                    <li class="home-li">
                        <a href="https://bbs.9888.cn" target="_blank">
							<span class="img">
								<img src="images/guide_ques-02.png"/>
							</span>

                            <span class="text-block">
								<span class="title-text">工友之家</span>
								<span class="link-text">向其他工友提问</span>
							</span>
                        </a>
                    </li>
                    <li class="server-li">
                        <a target="_blank" href="https://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODA1MDEyNl80NTQzNjZfNDAwNjc2Njk4OF8yXw">
							<span class="img">
								<img src="images/guide_ques-03.png"/>
							</span>

                            <span class="text-block">
								<span class="title-text">在线客服</span>
								<span class="link-text">在线提问</span>
							</span>
                        </a>
                    </li>
                    <li class="phone-li">
                        <a>
							<span class="img">
								<img src="images/guide_ques-04.png"/>
							</span>

                            <span class="text-block">
								<span class="title-text">热线电话</span>
								<span class="link-text">400-0322-988</span>
							</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="register-btn">
        <a href="/depository/regist/toRegist.shtml?sourceSite=jrgc" class="btn">立即注册，领取120元</a>
    </div>

    <div class="topic-link">
        <!-- 由PHP CMS提供动态图片显示内容 -->
        <script src="https://fore.9888.cn/cms/caches/poster_js/34.js"></script>
        <script src="https://fore.9888.cn/cms/caches/poster_js/35.js"></script>
    </div>

</div>

{% endblock %}
