{{> base }}

{{#* inline "javascripts" }}
<script src="javascripts/index.js" type="text/javascript" charset="utf-8"></script>
{{/inline}}

{{#* inline "content"}}

<div class="top_event">
    <div class="top1">
        <!--<span class="dis">易赚盈 预期年化收益率高达6%-13% 认购起点仅100元</span>-->
        <div class="top_innner rel">
            <a href="http://www.gongchangzx.com"></a>
        </div>
    </div>

</div>

<div class="main_event">
    <div style="position: relative; top: -6px; left: 0px;" class="menue">
        <ul>
            <li class="list1"><a class="" href="javascript:;"><span></span>项目简介</a></li>
            <li class="list2"><a class="" href="javascript:;"><span></span>安全保障</a></li>
            <li class="list3"><a class="" href="javascript:;"><span></span>认购案例</a></li>
            <li class="list4"><a class="" href="javascript:;"><span></span>常见问题</a></li>
            <li class="list5"><a class="" href="javascript:;"><span></span>风险揭示</a></li>
        </ul>
    </div>
    <div class="innerment">
        <div class="section block1">
            <h2><img src="images/introduction.png" alt="项目简介" height="45" width="1017"></h2>
            <div class="project_info">
                <h3 class="tc">什么是<span class="jin">尊享计划？</span></h3>
                <p class="info_p">
                    尊享计划是指：<br/>
                     ①委托投资模式----投资人（委托人）通过平台自愿将合法所有的资金委托资产管理机构对特定项目进行投资，受托资产管理机构以委托人利益最大化为原则对委托投资资金按约定进行投资管理，以获取投资收益。<br/>
                      ②应收账款（收益权）转让模式----该模式是基于租赁业务的租金收益权及保理业务的应收账款（收益权）进行的转让，转让方为行业内领先的融资租赁公司或保理公司或其他相关权利方。转让基础资产均经专业风控团队严格审核，以保障基础资产真实合法。<br/>
                        ③金交所合作模式--由工场尊享平台为投资人展示与平台建立合作关系的金交所（金融资产交易中心）挂牌登记产品信息，包括在金交所挂牌发行的定向融资计划及收益权转让产品，为投资人提供互联网金融信息服务。

                      </p>
                <h3 class="tc" style="margin:60px 0 20px"><span class="jin">尊享计划</span>的优势</h3>
                <ul class="advantage">
                    <li><em></em>期限丰富<span class="red2">30天-24个月不等</span>，以 <span class="red2">12 个月以内</span>项目为主</li>
                    <li style="width:300px"><em></em>预期年化利率约<span class="red2">5%-10%</span></li>
                    <li><em></em>回款方式以<span class="red2">到期一次性回款</span>为主</li>
                    <li style="width:500px"><em></em>起购金额因产品不同而异，以<span class="red2">1000 元起购额</span>为主
                    </li>
                </ul>
            </div>
        </div>
        <div class="section block7 rel blockTrade">
            <div class="agency agencyTrade">
                <ul style="left: 0px; width: 0px;" class="agency_list clearfix">
                    <li style="position: static; left: 2868px;" class="ag1">
                        <img src="images/investTrade2.jpg" style="margin-top:-20px" alt="">
                    </li>
                    <li class="ag2">
                        <img src="images/investTrade1.jpg" alt="">
                    </li>
                    <li class="ag3">
                        <img src="images/investTrade3.jpg" width="1016" alt="">
                    </li>
                </ul>
                <div class="circle">
                    <a href="javascript:;" class="on"></a>
                    <a class="" href="javascript:;"></a>
                    <a class="" href="javascript:;"></a>
                </div>
            </div>
            <p class="tc"><img src="images/pic_info2.jpg" alt="项目特点" height="289" width="903"></p>
        </div>
        <div class="section block2">
            <h2><img src="images/safe.png" alt="项目保障" height="44" width="1017"></h2>
            <div class="agency agencyRisk">
                <ul style="left: 0px; width: 0px;" class="agency_list clearfix">
                    <li style="position: static; left: 2868px;" class="ag1">
                        <img src="images/riskControl2.jpg" alt="">
                    </li>
                    <li class="ag2">
                        <img src="images/riskControl1.jpg" alt="">
                    </li>
                    <li class="ag3">
                        <img src="images/riskControl3.jpg" alt="">
                    </li>
                </ul>
                <div class="circle">
                    <a href="javascript:;" class="on"></a>
                    <a class="" href="javascript:;"></a>
                    <a class="" href="javascript:;"></a>
                </div>
            </div>
        </div>
        <div class="section block3">
            <h2><img src="images/invest2.png" alt="认购案例" height="44" width="1017"></h2>
            <div class="example">
                <ul class="example_list clearfix">
                    <li class="ag1">
                        <div class="invest1 rel"><a href="http://www.gongchangzx.com" class="btn_invest"></a></div>
                    </li>
                </ul>
                <!--<div class="circle">-->
                <!--<a href="javascript:;" class="on"></a>-->
                <!--<a href="javascript:;"></a>-->
                <!--</div>-->
            </div>
            <p class="tc"><img src="images/pic_info5.jpg" alt="认购方式" height="433" width="907"></p>
        </div>
        <div class="section block7 rel">
            <h2><img src="images/cooperate.png" alt="合作机构" height="44" width="1017"></h2>
            <div class="agency agencyCooperate">
                <ul style="left: -237.917px; width: 2868px;" class="agency_list clearfix">
                    <li style="position: static; left: 2868px;" class="ag1">
                        <h6><span class="dis">联合创业担保集团有限公司</span></h6>
                        <p class="tl">联合创业担保集团有限公司始创于2003年，注册资本10亿元，是一家从事贷款担保、融资顾问、股权投资等业务的新型金融服务机构，集团在国内同行业中创造性地发展出“担保投资银行”的商业模式。集团公司已与50余家银行建立了深度合作关系，取得银行授信超百亿元，累计担保额位于全国担保行业前列。累计支持企业客户2000余户，支持企业从业人数12万余人，协助企业累计实现销售收入450亿元，实现利润55亿元，为地方经济发展做出了卓越的贡献，已成为一家跨区域经营、业务品种齐全、极具影响力的金融服务机构。
                        </p>
                    </li>
                    <li class="ag2">
                        <h6><span class="dis">天津金融资产交易所</span></h6>
                        <p class="tl">天津金融资产交易所成立于2010年，注册资本4357万，是经财政部和天津市人民政府共同批准的国内首家注册成立的金融资产交易所。初始股东为中国长城资产管理公司和天津产权交易中心。2015年11月，天金所顺利引进浙江蚂蚁小微金融服务集团、中国东方资产管理公司、中信信托有限责任公司战略入股，公司发展跨入新的阶段。
                        </p>
                    </li>
                    <li class="ag3">
                        <h6><span class="dis">大连金融资产交易所</span></h6>
                        <p class="tl">大连金融资产交易所成立于2011年，由大连市国资控股，注册资本1亿元，是国务院备案的十家金融资产交易所之一，也是东北地区第一家和目前唯一一家以“交易所”冠名的金融资产交易机构。大金所以服务实体经济、支持城市基础设施建设、增加金融资产流动性、提供多元化投融资渠道为宗旨，立足大连，面向东北，辐射全国，致力于发展成为在东北亚地区有较大影响力的非标金融资产交易所，及在全国范围内有较高知名度的互联网金融企业。
                        </p>
                    </li>
                </ul>
                <div class="circle">
                    <a href="javascript:;" class="on"></a>
                    <a class="" href="javascript:;"></a>
                    <a class="" href="javascript:;"></a>
                </div>
            </div>
        </div>
        <div class="section block4">
            <h2><img src="images/problem.png" alt="常见问题" height="44" width="1017"></h2>
            <div class="mm_area">
                <div class="moment">
                    <div class="event clearfix">
                        <div class="message">
                            <h3><span class="icon"></span>尊享计划是什么？</h3>
                            <p>
                                ①委托投资----是投资人（委托人）通过平台自愿将合法所有的资金委托资产管理机构对特定项目进行投资，受托资产管理机构以委托人利益最大化为原则对委托投资资金按约定进行投资管理，以获取投资收益。<br/>
                                ②应收账款（收益权）转让模式----该模式是基于租赁业务的租金收益权及保理业务的应收账款（收益权）进行的转让，转让方为行业内领先的融资租赁公司或保理公司或其他权利相关方。转让基础资产均经专业风控团队严格审核，以保障基础资产真实合法。<br/>
                                ③金交所合作模式--由工场尊享平台为投资人展示与平台建立合作关系的金交所（金融资产交易中心）挂牌登记产品信息，包括在金交所挂牌发行的定向融资计划及收益权转让产品，为投资人提供互联网金融信息服务。
                            </p>
                        </div>
                    </div>
                </div>

                <div class="moment">
                    <div class="event clearfix">
                        <div class="message">
                            <h3><span class="icon"></span>什么是合格机构／自然人投资者？如何界定？</h3>
                            <p>合格机构／自然人投资者指经过《风险承受能力评估》，在一定级别以上的具有能够识别、判断和承担所认购产品相应风险的机构或者自然人。<br/>
（注：不同风险级别的产品对于合格投资者的风险级别界定不同）
                            </p>
                        </div>
                    </div>
                </div>
                <div class="moment">
                    <div class="event clearfix">
                        <div class="message">
                            <h3><span class="icon"></span>如果债务人发生逾期还款或无力还款的情况，如何保障投资人的利益？</h3>
                            <p>
                                如果债务人出现逾期，担保方需对发行的产品承担连带责任担保。</p>
                        </div>
                    </div>
                </div>
                <div class="moment last">
                    <div class="line">
                        <span></span>
                    </div>
                    <div class="event clearfix">
                        <div class="message">
                            <h3><span class="icon"></span>应收账款（收益权）转让项目满标后一般什么时间计算收益？</h3>
                            <p>应收账款（收益权）转让项目通常都有固定的收益起算日，到期日一般为到原应收账款（收益权）到期日，具体起息时间以平台网站标的公示的收益起算日期为准。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section block5">
            <h2><img src="images/risk.png" alt="风险揭示" height="44" width="1017"></h2>
            <div class="mm_area">
                <div class="moment">
                    <div class="message message5">
                        <h3>一、信用风险</h3>
                        <p> 收益分享合约产品投资运作过程中，如果该产品基础资产投资项目的债务人、 交易对手等发生违约，信用状况恶化等，客户将面临投资的本金和收益损失的风险。该项风 险出现时依据产品业务觃则及相应担保文件由担保人履行担保义务以保障约定收益实现。
                        </p>
                    </div>
                </div>
                <div class="moment">
                    <div class="message message5">
                        <h3>二、可回购式产品的回购违约风险、第一手可再交易式产品的流动性风险</h3>
                        <p>对于可回购式收益分享合约产品，不能完全排除因转让方资金紧张而不能及时足额支付回购资金从而导致回购不能实际进行的违约风险；对于第一手可再交易式收益分享合约产品，如果未能有其他投资者受让产品，则会形成再交易流动性风险。产品首次发售挂牌转让期内若提前足额转让，则产品存续期相应增加；若未能足额转让，则挂牌期限延长不超过五个交易日，产品存续期相应减少。

                        </p>
                    </div>
                </div>

                <span class="more_txt" style="display:none">
                <div class="moment">
                    <div class="message message5">
                        <h3>三、法律与政策风险</h3>
                        <p>国家监管政策、货币政策、财政税收政策、产业政策、宏观政策及相关法律、法规的调整与变化将会影响本收益分享合约产品的正常运行，甚至导致本 收益分享合约产品本金和收益发生损失。该项风险出现时依据产品业务规则及相应担保文件由担保人履行担保义务以保障约定收益实现。</p>
                    </div>
                </div>
                <div class="moment">
                    <div class="message message5">
                        <h3>四、延期支付风险</h3>
                        <p>指因市场内部和外部的原因导致收益分享合约产品基础资产不能及时变现而造成收益分享合约产品不能按时分配， 收益分享合约产品期限将相应延长，从而导致本收益分享合约产品部分本金及收益的延期支付。该项风险出现时依据产品业务规则及相应担保文件由担保人履行担保义务以保障约定收益实现。</p>
                    </div>
                </div>
                <div class="moment">
                    <div class="message message5">
                        <h3>五、不可抗力及意外事件风险</h3>
                        <p>
                            因战争、自然灾害、重大政治事件等不可抗力以及其他不可预见的意外事件可能致使收益分享合约产品面临损失的任何风险。
                        </p>
                    </div>
                </div>
            </span>
                <a href="javascript:;" class="more_link">展开全部</a>
            </div>
        </div>
        <div class="section block6" style="border-radius: 0 0 20px 20px;">
            <h2><img src="images/article.png" alt="免责条款" height="44" width="1017"></h2>
            <div class="mm_area">
                <div class="moment">
                    <div class="message message6">
                        <p>
                            工场尊享作为互联网金融信息服务平台进行信息发布，不对任何投资人及/或任何交易提供任何担保。工场尊享平台提供的各种信息及资料供投资人决策参考，投资人应独立判断做出决策，投资人行投资交易产生的投资风险由投资人自行承担，工场尊享平台不承担任何责任。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{{/inline}}
