{% extends '../../../lib/templates/web_base.swig.html' %}

{% block content %}
<div class="qq-panel">
    欢迎使用
    <a id="qq-ke-fu-3" title="点击打开QQ聊天窗口">QQ客服(请点击)</a>
    <p>如果没有打开QQ, 请拨打金融工场电话客服: <a href="tel:400-0322-988">400-0322-988</a></p>
</div>

{% endblock %}

{% block javascripts %}
<script>
    $(function () {
        window.__lazy_load_qq_wpa_click_timer = setInterval(function () {
            var e = $("#qq-ke-fu-3");
            if(e.data("qq-ke-fu-ready")) {
                e.click();
                clearInterval(window.__lazy_load_qq_wpa_click_timer)
            }
        }, 1000)
    })
</script>
{% endblock %}
