{% extends '../../../lib/templates/web_base.swig.html' %} {% block content %}
<div style="text-align: center; margin: 150px auto 200px">
    欢迎使用
    <a id="qq-ke-fu-3">QQ客服</a>
    <p>如果没有自动打开QQ, 请联系金融工场电话客服: <a href="">400-0322-988</a></p>
</div>

{% endblock %}

{% block javascripts %}

<script>
    $(function () {
        window.__lazy_load_qq_wpa_click_timer = setInterval(function () {
            var e = $("#qq-ke-fu-3");
            if(e.data("qq-ke-fu-ready")) {
                e.click();
                clearInterval(window.__lazy_load_qq_wpa_click_timer)
            }
        }, 1000)
    })
</script>
{% endblock %}
