{% extends '../../../lib/templates/web_base.swig.html' %}

{% block content %}
<div class="container main-panel">

    <div class="successfulPrompt">
        <div class="promptContent_1">
            <img src="images/ico_right.jpg" class="promptPic">
            <span class="promptText">注册成功</span>
        </div>
        <p class="promptContent_2">
            恭喜您获得注册奖励<span class="promptRed">120元</span>返现券
        </p>
    </div>

    <img src="images/reg_prize.png" class="returnCashPic">

    <div class="loginBox">
        <div class="loginTips">赶快登录使用吧</div>
        <a href="/orderUser/login.shtml" class="loginButton">登录</a>
    </div>
</div>
{% endblock %}