@import "common.less";
.couponWrap{
  width: 1140px;
  margin: auto;
  height: 1000px;
  background: #f00;
}
.couponContent{
  width: 840px;
  height: 1000px;
  border: 1px solid @colorBorder;
  float: right;
}