.invest {

  .invest-title {

    font-size: 30px;
    color: #164478;
    line-height: 38px;
    padding: 34px 0 16px;
    text-align: center;
  }

  .invest-list {
    border: solid 1px #eaeaea;
    width: 1140px;
    margin: 0 auto 20px;
  }

}
