{% extends '../lib/templates/zx-base.swig.html' %}

{% block javascripts %}
<script src="javascripts/index.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}

<div class="top_event">
    <div class="top1">
        <!--<span class="dis">易赚盈 预期年化收益率高达6%-13% 认购起点仅100元</span>-->
        <div class="top_innner rel">
            <a href="http://www.gongchangzx.com"></a>
        </div>
        <!--<a href="https://www.9888.cn/prdClaims/list.shtml" class="now_invest"></a>-->
    </div>

</div>

<div class="main_event">
    <div style="position: relative; top: -6px; left: 0px;" class="menue">
        <ul>
            <li class="list1"><a class="" href="javascript:;"><span></span>项目简介</a></li>
            <li class="list2"><a class="" href="javascript:;"><span></span>安全保障</a></li>
            <li class="list3"><a class="" href="javascript:;"><span></span>投资案例</a></li>
            <li class="list4"><a class="" href="javascript:;"><span></span>合作机构</a></li>
            <li class="list5"><a class="" href="javascript:;"><span></span>常见问题</a></li>
        </ul>
    </div>
    <div class="innerment">
        <div class="section block1">
            <h2><img src="images/introduction.png" alt="项目简介" height="66" width="987"></h2>
            <div class="project_info">
                <h3 class="tc">什么是<span class="jin">尊享金? </span></h3>
                <p class="info_p">
                    尊享金是指由深圳市众瑞珠宝有限公司作为黄金项目运营方为平台用户提供的黄金销售服 务，同时接受用户委托，灵活运用其在黄金行业上下游资源，在用户购买黄金后自主选择的委托服务期限内，以一定方式管理用户所购黄金，协助购金用户实现实物黄金赚收益的目的， 最终实现黄金保值、增值。
                    <h3 class="tc" style="margin:60px 0 20px"><span class="jin">尊享金</span>的优势</h3>
                <ul class="advantage">
                    <li><em></em>期限丰富多样，目前 <span class="red2">以70天和100天为主</span></li>
                    <li style="width:300px"><em></em>起购克重起点低，<span class="red2">1克即可</span></li>
                    <li><em></em>到期自动转为期限灵活的黄金产品管理服务，<br/>
                        用户可在交易时间内随时申请提金或申请回购黄金</li>
                    <li style="width:270px"><em></em>利于抵抗通货膨胀，优化个人资产配置</li>
                </ul>
            </div>
        </div>
        <div class="section block7 rel">
            <div class="agency agencyTrade">
                <ul style="left: 0px; width: 0px;" class="agency_list clearfix">
                    <li class="ag2">
                        <img src="images/investTrade1.jpg" alt="">
                    </li>
                </ul>
            </div>
            <p class="tc"><img src="images/pic_info2.jpg" alt="项目特点" height="405" width="968"></p>
        </div>
        <div class="section block2">
            <h2><img src="images/safe.png" alt="安全保障" height="69" width="987"></h2>
            <div class="agency agencyRisk">
                <ul style="left: 0px; width: 0px;" class="agency_list clearfix">
                    <li style="position: static; left: 2868px;" class="ag1 clearfix">
                        <div class="safe safe1">
                            <img src="images/safe1.png" alt="">
                            <div class="safeTitle">第一重</div>
                            <div class="safeSub">运营保障</div>
                            <div class="safeText">工场尊享金运营方专业团队提供全面服务保障，保证用户信息安全的同时， 专属客服人员对接用户售后需求，提供专业的售后咨询服务。</div>
                        </div>
                        <div class="safe safe2">
                            <img src="images/safe2.png" alt="">
                            <div class="safeTitle">第二重</div>
                            <div class="safeSub">运营保障</div>
                            <div class="safeText">通过国家级黄金交易市场上海黄金交易所，为用户进行实物黄金原料采购， 确保黄金全部符合国家标准规范。</div>
                        </div>
                        <div class="safe safe3">
                            <img src="images/safe3.png" alt="">
                            <div class="safeTitle">第三重</div>
                            <div class="safeSub">运营保障</div>
                            <div class="safeText">与国内知名、优质的物流公司合作，为用户提供黄金提货的寄送与全额保价服务幵投保物流险。</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section block3">
            <h2><img src="images/investExample.png" alt="认购案例" height="70" width="990"></h2>
            <div class="example">
                <ul class="example_list clearfix">
                    <li class="ag1">
                        <div class="invest1 rel"><a href="http://www.gongchangzx.com" class="btn_invest"></a></div>
                    </li>
                </ul>
            </div>
            <p class="tc"><img src="images/shop.png" alt="认购方式" height="470" width="815"></p>
        </div>
        <div class="section block7 rel">
            <h2><img src="images/cooperate.png" alt="合作机构" height="70" width="986"></h2>
            <div class="agency agencyCooperate">
                <ul class="agency_list clearfix">
                    <li style="position: static; left: 2868px;" class="ag1">
                        <h6><span class="dis">深圳市众瑞珠宝有限公司</span></h6>
                        <p class="tl">深圳市众瑞珠宝有限公司于 2012 年 2 月成立，注册资本 20000 万元人民币，是一家集贵金属产品生产、定做、批发、零售为一体的企业。公司拥有专业的生产、销售团队，业务 遍及深圳、北京、山东等多地，在深圳等地开设多家贵金属产品展厅，除一线城市外，公司 亦积极开拓具发展潜力的二、三线城市，将公司之零售网络拓展至中国更多地方。</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section block4 last" style="border-radius: 30px;">
            <h2><img src="images/problem.png" alt="常见问题" height="69" width="987"></h2>
            <div class="mm_area">
                <div class="moment">
                    <div class="event clearfix">
                        <div class="message">
                            <h3><span class="icon">1</span>尊享金产品为什么没有担保公司担保?</h3>
                            <p>
                                尊享金产品是用户通过工场尊享平台向平台合作方深圳众瑞珠宝申请购买黄金产品幵委托 深圳众瑞珠宝进行管理以获取收益的一种交易方式，<br/>
                                属于买卖法律关系而非借贷法律关系，因此无需担保公司担保。</p>
                        </div>
                    </div>
                </div>

                <div class="moment last">
                    <div class="event clearfix">
                        <div class="message">
                            <h3><span class="icon">2</span>如黄金出现下跌挤兑的情况，平台如何处理?</h3>
                            <p>黄金作为一款实物投资产品，金价会存在上下浮动现象，用户购金幵在委托管理服务期限届 满后，如金价下跌，用户可选择通过继续持有黄金产品，幵通过委托平台运营方继续提供黄金管理服务，待金价上涨后再申请变现或提金，最终实现黄金保值、增值。平台作为黄金交易信息发布方和技术服务方，将严格按照约定为用户提供交易安全保障。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="risk">风险揭示：工场尊享金项目的黄金定价标准实时参考上海黄金交易所价格，由于金价下跌造成的损失， 需由客户自行承担。市场有风险，购买需谨慎</div>
</div>
</div>

{% endblock %}
