.clearfix:after {
  content: "";
  display: block;
  clear: both
}

.clearfix {
  zoom: 1
}

ul, li {
  margin: 0;
  padding: 0
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
.tc {
  text-align: center;
  //padding-bottom: 30px;
}

.ft1 {
  font-size: 14px
}

.col10 {
  color: #777 !important
}

.red {
  color: #f03b43 !important
}

.red2 {
  color: #f9655a !important
}

.mt2 {
  margin-top: 15px
}

img {
  vertical-align: top
}

.dis {
  display: block;
  text-align: center;
  color: #e7962a;
  font-size: 30px;
  font-weight: normal;
}

.top_event, .main_event {
  width: 100%;
  min-width: 1000px
}

.top1 {
  height: 331px;
  background: #2a6aaa url(../images/banner.png) no-repeat 50% 0;
  position: relative;
  .now_invest{
    position: absolute;
    top: 136px;
    right:480px;
    width: 70px;
    height: 70px;
    cursor: pointer;
  }
}

.main_event {
  background: #f0b669 url(../images/bg_top1.jpg) no-repeat 50% 0;
  padding-bottom: 79px
}

.menue {
  width: 100%;
  position: relative;
  z-index: 101
}

.menue ul {
  width: 1140px;
  margin: 0 auto;
  height: 62px;
  overflow: hidden;
  background: #fff;
  position: relative
}

.menue li {
  display: block;
  float: left;
  width: 228px;
  text-align: center
}

.menue li a {
  display: inline-block;
  line-height: 62px;
  color: #777;
  font-size: 16px;
  width: 100%;
  background: #ededed
}

.menue li a span {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../images/sp_nav.png) no-repeat;
  vertical-align: -5px;
  *vertical-align: 0px;
  margin-right: 5px
}

.menue li.list1 a span {
  background-position: 0 0;
  vertical-align: -7px;
  *vertical-align: -3px
}

.menue li.list1 a:hover span, .menue li.list1 a.on span {
  background-position: 0 -32px
}

.menue li.list2 a span {
  background-position: 0 -62px
}

.menue li.list2 a:hover span, .menue li.list2 a.on span {
  background-position: 0 -98px
}

.menue li.list3 a span {
  background-position: 0 -133px;
  vertical-align: -7px;
  *vertical-align: -3px
}

.menue li.list3 a:hover span, .menue li.list3 a.on span {
  background-position: 0 -166px
}

.menue li.list4 a span {
  background-position: 0 -195px
}

.menue li.list4 a:hover span, .menue li.list4 a.on span {
  background-position: 0 -233px
}

.menue li.list5 a span {
  background-position: 0 -274px
}

.menue li.list5 a:hover span, .menue li.list5 a.on span {
  background-position: 0 -312px
}

.menue li.list6 a span {
  background-position: 0 -346px
}

.menue li.list6 a:hover span, .menue li.list5 a.on span {
  background-position: 0 -380px
}

.menue li a.on, .menue li a:hover {
  color: #78b3f7;
  background: #fff
}

.innerment {
  position: relative;
  top: 0px
}

.section {
  width: 1140px;
  margin: -20px auto;
  position: relative;
  z-index: 100;
  background: #ffffff;
  padding-top: 1px;
  h2{
    margin: 50px 0 0 60px;
  }
}

.project_info {
  width: 956px;
  margin: 0 auto;
  border-bottom:1px dashed #dddddd;
}

.project_info h3 {
  color: #555;
  font-size: 30px;
}

.info_p{
  line-height: 24px;
  padding: 0 5px;
  margin-top: 15px;
  color: #777!important;
  font-size: 14px;
}

.jin {
  color: #e7962a;
  cursor: pointer;
}

.advantage {
  display: block;
  overflow: hidden;
  padding: 0 0 50px 60px;
}

.advantage li {
  display: block;
  float: left;
  font-size: 14px;
  color: #777;
  width: 443px;
  margin-bottom: 8px;
  line-height: 22px;
}

.advantage li em {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #f46d91;
  vertical-align: middle;
  margin-right: 5px;
}

.project_info.nopp {
  padding: 40px 0 50px;
  border-bottom: transparent;
}
.block2{
  height: 560px;
}
.block2 h2 {
  img{
    margin: 20px 0 30px;
  }
}
.block3{
  height: 1240px;
}
.block3 .invest1 {
  width: 952px;
  height: 557px;
  background: url(../images/example.png) no-repeat 0 0;
  margin: 0 auto
}

.block3 .invest2 {
  width: 953px;
  height: 913px;
  background: url(../images/pic_info4_2.jpg) no-repeat 0 0;
  margin: 0 auto
}

.block3 .btn_invest {
  display: block;
  width: 473px;
  height: 77px;
  position: absolute;
  bottom: 1px;
  right: 0px;
  z-index: 10;
  cursor: pointer;
}

.example {
  width: 956px;
  height: 600px;
  margin: 40px auto 0;
  overflow: hidden;
  position: relative
}

.example_list {
  position: absolute;
  top: 0;
  left: 0;
}

.example li {
  display: block;
  float: left;
  width: 956px
}

.example li h3 {
  width: 150px;
  height: 30px;
  background: url(../images/sp_btn.png) no-repeat 0 0;
  margin: 24px auto 14px;
}

.example li.ag1 h3 {
  background-position: 0 -60px;
}

.example li.ag2 h3 {
  background-position: 0 -113px;
  width: 122px
}

.example li.ag3 h3 {
  background-position: 0 -169px;
  width: 122px
}

.example li h4 {
  color: #36485c;
  font-size: 24px;
  font-weight: bold;
  text-align: center
}

.example li p, .moment .message p {
  font-size: 14px;
  color: #777;
}

.example li p {
  width: 843px;
  margin: 0 auto
}

.moment .message p {
  line-height: 26px;
  width: 930px;
}
.agency{width:956px;height:293px;margin:10px auto 0;overflow:hidden;position:relative}
.agency_list{position:absolute;top:0px;left:0px}
.agency li{display:block;float:left;width:956px}
.agency li h3{height:30px;background:url(../images/sp_btn.png) no-repeat 0 0;margin:24px auto 22px}
.agency li.ag1 h3{background-position:0 -60px;width:415px}
.agency li.ag2 h3{background-position:0 -113px;width:358px}
.agency li.ag3 h3{background-position:0 -169px;width:120px}
.agency li h4{color:#36485c;font-size:24px;font-weight:bold;text-align:center}
.agency li p,.moment .message p{font-size:14px;color:#777}
.agency li p{width:956px;margin:0 auto}
.moment .message p{line-height:26px;padding-left: 38px}
.agency .circle{position:absolute;bottom:20px;left:50%;width:100px;height:30px;margin-left:-50px}
.agency .circle a,.anli .circle a{display:inline-block;width:13px;height:13px;border-radius:10px;border:1px solid #dbdbdb;background:#fff;margin-left:10px}
.agency .circle a.on,.anli .circle a.on{background:#dbdbdb}

.block7 p {
  line-height: 24px;
}

.circle {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 64px;
  height: 30px;
  margin-left: -32px
}

.circle a {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  background: #fff;
  margin-left: 10px
}

.circle a.on {
  background: #dbdbdb
}

.mm_area {
  width: 1000px;
  margin: 18px auto 0;
  padding-bottom: 12px
}

.moment {
  width: 100%;
  position: relative;
  line-height: 22px
}

.block5 .moment {
  //padding-bottom: 15px;
}

.block5 .moment .message h3 {
  font-size: 18px;
}

.moment .line {
  display: inline-block;
  position: absolute;
  left: 11px;
  top: 0px;
  width: 2px;
  height: 100%;
  background: #dddddd;
  z-index: 1;
}

.moment.last .line {
  background: #fff
}
.mm_area .moment.last{
  padding-bottom: 20px !important;
}

.moment .icon {
  width: 22px;
  height: 22px;
  background: url(../images/sp_btn.png) no-repeat 3px -57px;
  position: relative;
  z-index: 10;
  display: inline-block;
  margin: 0 15px 0 0;
  float: left;
  top: 2px
}

.moment .message {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 980px;
  margin-left: 30px;
}

.moment .message h3 {
  font-size: 22px;
  font-weight: normal;
  color: #e7962a;
}
.moment .message5 h3{
  font-style: normal;
  line-height: 0;
}
.moment .message5 p{
  line-height: 20px;
}
.moment .message6 p{
  height: 110px;
  width: 930px;
}

.top_innner {
  width: 1000px;
  margin: 0 auto;
  height: 331px
}

.top_innner a {
  display: inline-block;
  width: 280px;
  height: 90px;
  position: absolute;
  right: 13px;
  bottom: 97px;
}

.more_link {
  width: 80px;
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  color: #fff;
  display: inline-block;
  background: url(../images/sp_btn.png) no-repeat;
  padding-left: 7px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.more_link:hover {
  color: #fff
}

.more_link.on {
  background-position: 0 -28px
}

















