.welcomeBg {
  background: #fff;
  .welcomeTitle {
    width: 1140px;
    height: 80px;
    margin: 0 auto;
    display: table;
    .titleLeft {
      width: 310px;
      height: 80px;
      background: url("../images/logo.jpg") no-repeat center;
      float: left;
    }
    .titleRight {
      height: 100%;
      float: right;
      font-size: 12px;
      line-height: 80px;
      color: #666;
    }
  }
  .banner {
    width: 100%;
    height: 450px;
    background: url("../images/banner.png") no-repeat center;
    background-size: cover;

    .content {
      width: 1140px;
      height: 100%;
      position: relative;
      margin: 0 auto;
      .step {
        width: 330px;
        height: 364px;
        background: #ffffff;
        border-radius: 10px;
        position: absolute;
        right: 0;
        top: 30px;

        .stepOne {
          width: 271px;
          height: 235px;
          margin: 80px auto 0;
          font-size: 14px;
          .inputWrapper {
            width: 268px;
            height: 30px;
            border: 1px solid #eaeaea;
            background: #f5f5f5;
            color: #8a8a8a;
            border-radius: 4px;
            .iconPhone {
              display: inline-block;
              width: 16px;
              height: 18px;
              background: url("../images/icon-phone.png") no-repeat center;
              background-size: 100%;
              margin: 3px 10px 0 16px;
              vertical-align: middle;
            }
            .input {
              width: 200px;
              height: 20px;
              vertical-align: middle;
              outline: none;
              border: 0 none;
              margin-top: 5px;
              background: #f5f5f5;
            }
          }

          .codeWrapper {
            display: inline-block;
            width: 176px;
            height: 30px;
            border: 1px solid #eaeaea;
            background: #f5f5f5;
            color: #8a8a8a;
            border-radius: 4px;
            vertical-align: middle;
            .iconComputer {
              display: inline-block;
              width: 18px;
              height: 18px;
              background: url("../images/icon-computer.png") no-repeat center;
              background-size: 100%;
              margin: 3px 10px 0 16px;
              vertical-align: middle;
            }

            .inputCode {
              width: 110px;
              height: 20px;
              vertical-align: middle;
              outline: none;
              border: 0 none;
              margin-top: 5px;
              background: #f5f5f5;
            }
          }

          .code {
            display: inline-block;
            width: 85px;
            height: 35px;
            margin-left: 8px;
            vertical-align: middle;
          }
          .protocol {
            width: 100%;
            font-size: 12px;
            color: #666666;
            margin: 30px 0 20px 0;

            .checked {
              display: inline-block;
              width: 20px;
              height: 20px;
              background: url("../images/icon-check.png") no-repeat center;
              background-size: 100%;
              vertical-align: middle;
              margin-right: 10px;
              cursor: pointer;
            }

            .unChecked {
              display: inline-block;
              width: 20px;
              height: 20px;
              background: url("../images/icon-uncheck.png") no-repeat center;
              background-size: 100%;
              vertical-align: middle;
              margin-right: 10px;
              cursor: pointer;
            }

            .proText {
              vertical-align: middle;
            }

            .proName {
              display: inline-block;
              cursor: pointer;
            }
          }
        }

        .stepTwo {
          width: 271px;
          height: 275px;
          margin: 45px auto 0;
          font-size: 14px;
          .phoneNum {
            font-size: 14px;
            color: #666666;
            margin-bottom: 20px;
            .number {
              display: inline-block;
              margin-left: 20px;
            }
          }

          .vCodeWrapper {
            display: inline-block;
            width: 176px;
            height: 30px;
            border: 1px solid #eaeaea;
            background: #f5f5f5;
            color: #8a8a8a;
            border-radius: 4px;
            vertical-align: middle;
            .iconVcode {
              display: inline-block;
              width: 20px;
              height: 18px;
              background: url("../images/icon-message.png") no-repeat center;
              background-size: 100%;
              margin: 3px 10px 0 16px;
              vertical-align: middle;
            }

            .inputVcode {
              width: 110px;
              height: 20px;
              vertical-align: middle;
              outline: none;
              border: 0 none;
              margin-top: 3px;
              background: #f5f5f5;
            }
          }
          .getCode {
            display: inline-block;
            font-size: 14px;
            color: #3197e6;
            margin-left: 10px;
            cursor: pointer;
          }

          .psdWrapper {
            width: 268px;
            height: 30px;
            border: 1px solid #eaeaea;
            background: #f5f5f5;
            color: #8a8a8a;
            border-radius: 4px;

            .iconLock {
              display: inline-block;
              width: 18px;
              height: 20px;
              background: url("../images/icon-lock.png") no-repeat center;
              background-size: 100%;
              margin: 3px 10px 0 16px;
              vertical-align: middle;
            }

            .iconBook {
              display: inline-block;
              width: 19px;
              height: 18px;
              background: url("../images/icon-boook.png") no-repeat center;
              background-size: 100%;
              margin: 3px 10px 0 16px;
              vertical-align: middle;
            }
            .inputPsd {
              width: 200px;
              height: 20px;
              vertical-align: middle;
              outline: none;
              border: 0 none;
              margin-top: 5px;
              background: #f5f5f5;
            }
          }
        }
      }
    }
  }
}

.register {
  width: 100%;
  height: 40px;
  background: #f9655a;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.inputTips {
  width: 100%;
  min-height: 30px;
  line-height: 30px;
  color: #fa4f51;
  font-size: 12px;
}

.colorBlue {
  color: #679efb;
}

.wrapper {
  width: 1140px;
  height: 560px;
  margin: 0 auto;
}

.title {
  width: 453px;
  height: 77px;
  background: url("../images/bg-title.png") no-repeat center;
  background-size: 100%;
  margin: 60px auto 50px;
  font-size: 32px;
  color: #fff;
  line-height: 58px;
  text-align: center;
}

.feature {
  display: table;
  text-align: center;
}

.featureItem {
  width: 218px;
  float: left;
  margin-right: 88px;
}

.featureItem:last-child {
  margin-right: 0;
}

.itemTitle {
  font-size: 28px;
  color: #2bb1f3;
  margin-top: 40px;
  margin-bottom: 10px;
}

.itemDes {
  font-size: 18px;
  color: #999999;
}
