{% extends '../../../lib/templates/eten_base.swig.html' %}

{% block title %}金融工场是由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的专注于小贷公司资产交易的P2P平台—上金融工场，圆财富梦想！{% endblock %}

{% block js %}
<script src="javascripts/index.js"></script>
{% endblock %}

{% block content %}
<div class="main">
    <!--顶部图片-->
    <div class="topPciture">

    </div>
    <!--了解部分-->
    <div class="mcenter">
        <div class="understand">
            <!--主标题-->
            <h1>了解金融工场</h1>
            <!--二级标题-->
            <div class="subTitle">
                <div class="subTitleContent">
                    <img src="images/duideAbout-ico1.png" alt="">
                    <span>中国信贷旗下互联网金融平台</span>
                </div>
            </div>
            <p>金融工场是由香港上市金融企业中国信贷控股有限公司（Credit China，股票代码：08207.HK）战略控股，由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的，专注于金融资产交易信息撮合的互联网金融平台。
            </p>
            <!--图片部分-->
            <div class="understandImg">
                <img src="images/guide-about.jpg" alt="">
            </div>
        </div>
    </div>

    <!--选择部分-->
    <div class="choose">
        <div class="chooseCenter">

            <h1>选择金融工场</h1>
            <div class="subTitle">
                <p3>专于金融、精于风控，银行级安全保障确保您资金安全</p3>
            </div>
            <div class="checkTab">
                <div class="checkTabTitle">
                    <ul>
                        <li class="current">
                            我们的优势
                        </li>
                        <li>
                            安全保障
                        </li>
                        <li class="last">
                            我们的荣誉
                        </li>
                    </ul>
                </div>
                <div class="checkTabContent">
                    <div class="checkTabContentInfo">
                        <ul>
                            <li>
                                <div class="image">
                                    <img src="images/guide_selectlistB-01.png" alt="">
                                </div>
                                <span></span>
                                <p></p>
                            </li>
                            <li>
                                <div class="image">
                                    <img src="images/guide_selectlistB-02.png" alt="">
                                </div>
                                <span></span>
                                <p></p>
                            </li>
                            <li>
                                <div class="image">
                                    <img src="images/guide_selectlistB-03.png" alt="">
                                </div>
                                <span></span>
                                <p></p>
                            </li>
                            <li>
                                <div class="image">
                                    <img src="images/guide_selectlistB-04.png" alt="">
                                </div>
                                <span></span>
                                <p></p>
                            </li>
                            <li>
                                <div class="image">
                                    <img src="images/guide_selectlistB-05.png" alt="">
                                </div>
                                <span></span>
                                <p></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}