body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0;padding:0}
//select,input,textarea,button{font-family:Microsoft YaHei,Arial,Sans;font-size:12px;color:#000}
//button{cursor:pointer; _cursor:hand;}
//table {border-collapse:collapse;border-spacing:0}
//fieldset,img {border:0}
//img{vertical-align:center;}
//address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:normal}
//ol,ul {list-style:none}
//caption,th {text-align:left}
//h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal}
//body{font-family:Microsoft YaHei,Arial,Sans;font-size:12px;color:#333;}
//html { overflow-y: scroll; overflow-y:-moz-scrollbars-vertical; }
//a{text-decoration:none;color:#333;cursor:pointer;}
//a:hover{text-decoration:none}
//.clearfix{zoom:1}
//.clearfix:after{content:"";display:block;clear:both}
.safety_box{
  width: 100%;
  .safe_banner{
    width: 100%;
    height: 300px;
    background: url("../images/banner.jpg") no-repeat center;
  }
  .safe_ensure{
    width: 1140px;
    padding: 80px 0;
    margin: 0 auto;
    text-align: center;
    .safe_enTit{
      font-size: 30px;
      color: #224d7d;
      margin-bottom: 20px;
      line-height: 30px;
    }
    .safe_enExp{
      font-size: 16px;
      color: #666666;
      line-height: 20px;
    }
    .safe_enico{
      overflow: hidden;
      margin-top: 50px;
      .safe_enContA{
        width: 33.3%;
        img{
          margin-bottom: 30px;
        }
        .safe_entitle{
          font-size: 16px;
          color: #333333;
          line-height: 32px;
        }
        .safe_exptitle{
          font-size: 13px;
          width: 200px;
          margin: 0 auto;
          text-align: left;
          color: #969696;
          line-height: 23px;
        }
      }
      .fl{
        float: left;
      }
    }
  }
}

