{% extends '../../../lib/templates/eten_base.swig.html' %}

{% block title %}金融工场是由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的专注于小贷公司资产交易的P2P平台—上金融工场，圆财富梦想！{% endblock %}

{% block content %}
<div class="part1">
    <div class="wrap">
        <p>金融工场成立四年来，坚持合规自律开展平台业务。10月19日，金融工场以“银行直连”模式接入徽商银行资金存管，符合监管相关规定，不仅是平台合规自律的有力举措，也是平台各方面综合实力的体现。</p>
    </div>
</div>
<div class="part2">
    <div class="wrap">
        <h3 class="title">“直连存管”模式<span></span>引领行业合规先锋</h3>
        <p>接入徽商银行存管后，借款人、投资人将在徽商银行开设独立的银行电子账户，交易资金均根据用户指令通过该电子银行账户划拨，从源头上杜绝资金池以及资金占用风险的发生。徽商银行独立电子账户在借款人、平台、投资人之间建立安全屏障，实现投资者资金和平台自有资金的完全隔离。</p>
        <img src="images/part2.jpg" title="" alt="" class="huishang-img"/>
    </div>
</div>
<div class="part3"></div>
<div class="part4">
    <div class="wrap">
        <h3 class="title">金融工场合规五步走</h3>
        <ul class="clearfix">
            <li class="li1"><img class="get" src="images/get.png"/></li>
            <li class="li2"><img class="get" src="images/get.png"/></li>
            <li class="li3"><img class="get" src="images/get.png"/></li>
            <li class="li4"><img class="adjust" src="images/adjust.png"/></li>
            <li class="li5"><img class="adjust" src="images/prepare.png"/></li>
        </ul>
        <div class="btn-wrap">
            <a href="http://www.9888.cn/depository/openAccount/toOpenAccount.shtml" class="open-account-btn">还未开户，立即开户</a>
            <a href="http://www.9888.cn/static/web/topic-hui-shang-guide/index.html" class="more">了解更多></a>
        </div>
    </div>
</div>
{% endblock %}