@import "variables.less";
.drawMobile{
  width: 100%;
  height: 2000px;
  background: @colorBg;
  padding-top: 1px;
  color: @colorWhite;
  .drawTitleMobile{
    width: 664px;
    height: 118px;
    background: url("../images/drawTitleMobile.png") no-repeat;
    margin: 20px auto 80px;
    font-size: @fontSize32;
    text-align: center;
    line-height: 60px;
  }
  .monthStateTab {
    width: 100%;
    height: 44px;
    margin: auto;
    display: table;
    margin-top: 30px;
    .monthTab {
      width: 237px;
      height: 96px;
      margin-left:30px;
      margin-right: 10px;
      margin-top: -30px;
      float: left;
      background: url("../images/notStarting.png") no-repeat;
      display: table;
      cursor: default;
      .tabLeft {
        float: left;
        width: 34px;
        font-size: @fontSize18;
        margin: 10px 0 10px 24px;
      }
      .tabRight {
        float: left;
        width: 120px;
        text-align: center;
        margin: 14px 0 0 16px;
        .month {
          font-size: @fontSize28;
        }
        .section {
          font-size: @fontSize18;
        }
      }
    }
    .going {
      width: 263px;
      height: 104px;
      margin-right: 30px;
      margin-left: 45px;
      background: url("../images/going.png") no-repeat;
      cursor: pointer;
      .tabLeft {
        margin: 10px 0 10px 30px;
      }
      .tabRight {
        margin: 14px 0 0 10px;
      }
    }
    .end {
      width: 263px;
      height: 104px;
      margin-left: 55px;
      margin-right: 45px;
      background: url("../images/end.png") no-repeat;
      cursor: pointer;
    }
  }
  .drawTips{
    color: @colorWhite;
    font-size: @fontSize24;
    padding: 20px 30px;
    margin: 50px 30px 0;
    background: @colorDarkBlue;
    border-radius: 8px;
    em{
      font-size: @fontSize30;
      color: @colorYellow;
    }
    p{
      width: 100%;
      text-align: center;
      font-size: @fontSize24;
    }
    .login{
      width: 205px;
      height: 62px;
      margin: 10px auto;
      background: #d45358;
      line-height: 62px;
      text-align: center;
      border-radius: 62px;
    }
  }
  .switchMonthLadder{
    width: 632px;
    height: 638px;
    background: url("../images/monthLadder.png") no-repeat;
    margin: 100px auto;
    position: relative;
    .ladderTab{
      width: 274px;
      height: 70px;
      background: url("../images/monthTab.png") no-repeat;
      display: inline-block;
      line-height: 70px;
      text-align: center;
      font-size: @fontSize24;
    }
  }
}