{{#> base }}

{{#* inline "javascripts" }}
<script src="javascripts/jquery.SuperSlide.2.1.1.js"></script>
<script src="javascripts/jquery.SuperSlide.2.1.1.source.js"></script>
<script src="javascripts/index.js" type="text/javascript" charset="utf-8"></script>
{{/inline}}

{{#* inline "content"}}

<div class="consumerCreditBox">
    <div class="top">
        <div class="top-banner-position" style="">
            <span class="link-btn">
                <a href="/prdClaims/list.shtml" target="_self"></a>
            </span>

        </div>

    </div>
    <div class="centerBox">
        <div class="centerNav">
            <ul class="nav" id="nav">
                <li class="list1">
                    <a class="navLink">
                        <span></span>
                        项目简介
                    </a>

                </li>
                <li class="list2">
                    <a class="navLink">
                        <span></span>
                        资金安全
                    </a>

                </li>
                <li class="list3">
                    <a class="navLink">
                        <span></span>
                        出借案例
                    </a>

                </li>
                <li class="list4">
                    <a class="navLink">
                        <span></span>
                        合作机构
                    </a>

                </li>
                <li class="list5">
                    <a class="navLink">
                        <span></span>
                        常见问题
                    </a>

                </li>
            </ul>
        </div>
        <div class="centerMain">
            <div class="Introduction">
                <img src="images/Introduction.jpg" />
                <div class="whatBox">
                    <div class="whatTitle">
                        什么是<span class="blue">消费贷?</span>
                    </div>
                    <div class="whatContent">
                        <span>“消费贷”系列项目是一款面向广大消费用户提供消费借贷信息服务的产品。项目借款人主要由通善金融、掌众金融、悠融资产等推荐。借款人资金主要用于满足个人消费需求。本项目由工场微金向交易双方提供方便快捷的借贷信息撮合及居间服务，借款人和出借人</span><span
                        class="more" style="display: none">通过工场微金平台直接签订法律协议，明确双方的权利义务关系。本项目由大型担保公司或国内大型知名机构为借款人提供连带责任保证担保，如果借款人未按时履行还款义务，则由担保方履行担保责任，以保障出借人权益。</span>
                        <div class="handle" id="handle">
                        </div>
                    </div>
                </div>
                <div class="advantageBox">
                    <div class="advantageTitle">
                        <span class="blue">消费贷</span>的优势
                    </div>
                    <div class="advantageContent">
                        <div class="advantageContentL">
                            <p>
                                <span class="square"></span><span class="red">项目类型：</span>
                                直接借贷项目
                            </p>
                            <p>
                                <span class="square"></span><span class="red">借款期限：</span>
                                7天—36个月(以网站项目公示期限为准)
                            </p>
                            <p>
                                <span class="square"></span><span class="red">还款方式：</span>
                                按天一次性还本付息、按月等额本息还款
                            </p>
                        </div>
                        <div class="advantageContentR">
                            <p>
                                <span class="square"></span><span class="red">资金用途：</span>
                                个人消费、小额短期资金周转
                            </p>
                            <p>
                                <span class="square"></span><span class="red">预期利率：</span>
                                5% --15%(以网站项目公示收益率为准)
                            </p>
                            <p>
                                <span class="square"></span><span class="red">起投金额：</span>
                                100元起
                            </p>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="flowBox">
                </div>
                <div class="featureBox"></div>
                <table class="feature-desc">
                    <tr>
                        <td>
                            操作便捷
                            <div>轻松出借</div>
                        </td>
                        <td>
                            期限丰富
                            <div>灵活可配</div>                 
                        </td>
                        <td>
                            多重保障
                            <div>回报可观</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="guaranteeBox">
                <img src="images/safe-title.png"/>
                <div class="safeContent">
                    <img src="images/safe-subtitle.png"/>
                    <div class="guaranteeItems">
                        <div class="guarantee-item">
                            <img src="images/icon-safe1.png"/>
                            <div class="gi-title">第一重保障</div>
                            <div class="gi-feature">借款方资质优良</div>
                            <div class="gi-line">借款方资质优良，</div>
                            <div class="gi-line">个人信用良好，现金流稳定，</div>
                            <div class="gi-line">还款意愿强</div>
                        </div>
                        <div class="guarantee-item">
                            <img src="images/icon-safe2.png"/>
                            <div class="gi-title">第二重保障</div>
                            <div class="gi-feature">风险审核体系严谨</div>
                            <div class="gi-line">业内经验丰富的专业管理团队对借款人的经济</div>
                            <div class="gi-line">状况及还款能力进行严格的项目审核及风险防</div>
                            <div class="gi-line">控，最大程度上筛选出更优质的资产供出借人</div>
                            <div class="gi-line">选择。</div>
                        </div>
                        <div class="guarantee-item">
                            <img src="images/icon-safe3.png"/>
                            <div class="gi-title">第三重保障</div>
                            <div class="gi-feature">担保方实力雄厚</div>
                            <div class="gi-line">本项目由大型担保公司或国内大型知名机构为债务</div>
                            <div class="gi-line">人提供连带责任保证担保，如果债务人未按时履行</div>
                            <div class="gi-line">还款义务，则担保方履行担保责任。</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="caseBox" name="intro">
                <img src="images/case.jpg" class="casePic" />
                <div id="slideBox1" class="slideBox">
                    <div class="hd">
                        <ul>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="bd">
                        <ul>
                            <li><a href="#">
                                <img src="images/case1left.png" class="case1Picl" />
                                <div class="case1Pic2">
                                    <div class="case1Pic2-desc">项目到期后，董先生一共可以获得的本金与利息合计为：</div>
                                    <div class="case1Pic2-title">78,631.68元</div>
                                    <div class="case1Pic2-desc">还款计划表如下：</div>
                                    <div class="casetable">
                                        <div class="casetabletitle">
                                            <span class="case-line">期数</span>
                                            <span class="case-line">还款日期</span>
                                            <span class="case-line">本金(元)</span>
                                            <span class="case-line">利息(元)</span>
                                            <span class="case-line">合计(元)</span>
                                        </div>
                                        <div class="caseTableItem case-white">
                                            <span class="case-line">1</span>
                                            <span class="case-line">2017.9.9</span>
                                            <span class="case-line">2,580.32</span>
                                            <span class="case-line">696.00</span>
                                            <span class="case-line">3,276.32</span>
                                        </div>
                                        <div class="caseTableItem">
                                            <span class="case-line">2</span>
                                            <span class="case-line">2017.10.9</span>
                                            <span class="case-line">2,606.12</span>
                                            <span class="case-line">670.20</span>
                                            <span class="case-line">3,276.32</span>
                                        </div>
                                        <div class="caseTableItem case-white">
                                            <span class="case-line">3</span>
                                            <span class="case-line">2017.11.9</span>
                                            <span class="case-line">2,632.18</span>
                                            <span class="case-line">644.14</span>
                                            <span class="case-line">3,276.32</span>
                                        </div>
                                        <div class="caseTableItem">
                                            <span class="case-line">4</span>
                                            <span class="case-line">2017.12.9</span>
                                            <span class="case-line">2,658.50</span>
                                            <span class="case-line">617.82</span>
                                            <span class="case-line">3,276.32</span>
                                        </div>
                                        <div class="caseTableItem case-white">
                                            <span class="case-line">5</span>
                                            <span class="case-line">2018.1.9</span>
                                            <span class="case-line">2,685.09</span>
                                            <span class="case-line">591.23</span>
                                            <span class="case-line">3,276.32</span>
                                        </div>
                                        <div class="caseTableItem">
                                            <span class="case-line">6</span>
                                            <span class="case-line">2018.2.9</span>
                                            <span class="case-line">2,711.93</span>
                                            <span class="case-line">564.39</span>
                                            <span class="case-line">3,276.32</span>
                                        </div>
                                        <div class="caseTableItem case-white">
                                            <span class="case-line">7</span>
                                            <span class="case-line">2018.3.9</span>
                                            <span class="case-line">2,739.06</span>
                                            <span class="case-line">537.26</span>
                                            <span class="case-line">3,276.32</span>
                                        </div>
                                        <div class="caseTableItem">
                                            <span class="case-line">8</span>
                                            <span class="case-line">2018.4.9</span>
                                            <span class="case-line">2,766.45</span>
                                            <span class="case-line">509.87</span>
                                            <span class="case-line">3,276.32</span>
                                        </div>
                                        <div class="caseTableItem case-white">
                                            <span class="case-line">9</span>
                                            <span class="case-line">2018.5.9</span>
                                            <span class="case-line">2,822.05</span>
                                            <span class="case-line">482.21</span>
                                            <span class="case-line">3,276.32</span>
                                        </div>
                                        <div class="caseTableItem">
                                            <span class="case-line">10</span>
                                            <span class="case-line">2018.6.9</span>
                                            <span class="case-line">2,822.05</span>
                                            <span class="case-line">454.27</span>
                                            <span class="case-line">3,276.32</span>
                                        </div>
                                        <div class="caseTableItem case-white">
                                            <span class="case-line">11</span>
                                            <span class="case-line">2018.7.9</span>
                                            <span class="case-line">2,850.27</span>
                                            <span class="case-line">426.05</span>
                                            <span class="case-line">3,276.32</span>
                                        </div>
                                        <div class="caseTableItem">
                                            <span class="case-line">12</span>
                                            <span class="case-line">2018.8.9</span>
                                            <span class="case-line">2,878.78</span>
                                            <span class="case-line">397.54</span>
                                            <span class="case-line">3,276.32</span>
                                        </div>
                                    </div>
                                    <div class="case1Pic2-desc">如果借款人未按时履行还款义务，则由担保方履行担保责任，以保障出借人权益。</div>
                                </div>
                                <a href="/prdClaims/list.shtml" class="links" target="_self">马上去出借</a>
                                <div class="tips">*若在规定募集期内未完成资金的募集，项目募集将自动撤销，资金将退回至出借人的徽商银行电子账户。</div>
                            </a></li>
                        </ul>
                    </div>

                </div>
                <div class="buyBox">
                    <img src="images/borrow-method.jpg" class="buyPic" />
                </div>


            </div>
            <div class="cooperationBox">
                <img src="images/corperate-title.png"/>
                <div id="slideBox" class="slideBox">
                    <div class="hd">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="bd">
                        <ul>
                            <li><a href="#">
                                <h2>工场微金</h2>
                                <p>
                                    工场微金是以向借款人及出借人（用户）提供撮合服务的网络借贷信息中介平台。作为首批中国互联网金融协会成员单位及北京网贷行业协会发起会员单位，主要为用户提供网络借贷信息搜集、信息公布、资信评估、信息交互、借贷撮合等服务。于2016年率先完成资金的银行存管，实现用户资金和平台自有资金的完全隔离，确保用户资金安全。平台顺应网贷行业监管要求，更加贴近小微信贷与普惠金融，更好的服务于平台新老用户，服务于中国实体经济，合规发展，稳健运营！
                                </p>
                            </a></li>
                            <li><a href="#">
                                <h2>悠融资产</h2>
                                <p>
                                    悠融资产管理（上海）有限公司注册资本金1亿元人民币，是一家集财富管理、信用风险评估与管理、信用数据整合服务、小额贷款咨询等业务于一体的综合性互联网金融服务机构。悠融资产管理（上海）有限公司始终以创新和变革的精神，在不断提升品牌价值的同时，追求持续发展，并逐步建立起先进的组织架构、科学的风险管理模式，为各行业客户提供融资借款咨询，信用风险评估等服务，在业内屡次获得好评。公司致力于建立综合性金融服务类公司，以信用为基础，立足微金融领域，服务大众。
                                </p>

                            </a></li>
                            <li><a href="#">
                                <h2>通善金融</h2>
                                <p>
                                    上海通善互联网金额信息服务有限公司成立于2015年5月，注册资本9473.68万元。通善金融是致力于互联网金融服务事业的创新型专业金融服务机构，集信用评估与管理、小额信贷咨询与交易促成等服务于一体。自成立以来，公司建立起一套完善的风控体系，严格按照相关标准建立起各项规范和业务流程。
                                </p>

                            </a></li>
                            <li><a href="#">
                                <h2>掌众金融</h2>
                                <p>
                                    北京掌众金融信息服务有限公司（简称“掌众金融”）是一家提供移动互联网和大数据建模技术服务的公司，通过大数据匹配的模式对资金充裕方与资金短缺方进行撮合，响应国家普惠金融的政策号召，充分发挥社会共享经济机制，为急需资金的用户和有闲钱的用户之间搭建桥梁，主要提供1万元以下的小额短期借款信息撮合服务。
                                </p>

                            </a></li>
                        </ul>
                    </div>

                </div>

            </div>
            <div class="questionBox">
                <img src="images/question-title.png"/>
                <div class="question-text">
                    <div>
                        <img src="images/icon-order.png" class="icon-order"/>
                        <span class="qt-title">如果借款人无力还款，如何保障出借人的本金及利息安全？</span>
                        <div class="qt-line-1">如果借款人未按期还款，由担保机构履行担保责任代为清偿借款,以保障出借人权益。担保机构负责借款追偿，催收工作。</div>
                    </div>

                    <div>
                        <img src="images/icon-order.png" class="icon-order"/>
                        <span class="qt-title">消费贷项目出借人线上都需要签哪些合同及文件？</span>
                        <div class="qt-line-2 qt-line-top">消费贷项目为个人直接借贷项目，出借人资金出借涉及的合同及签署主体如下(仅供参考，以实际签署合同为准)：</div>
                        <div class="qt-line-2">(1) 《借款合同》：出借人、借款人</div>
                        <div class="qt-line-2">(2) 《出借咨询与服务协议》：出借人、平台方</div>
                        <div class="qt-line-2">(3) 《保证合同》：出借人、担保方</div>
                        <div class="qt-line-2">(4) 《委托划款授权书》：出借人、平台方</div>
                        <div class="qt-line-2">(5) 《网络借贷出借风险提示》</div>
                        <div class="qt-line-2">(6) 《出借人承诺书》</div>
                        <div class="qt-line-2">(7) 《履行反洗钱义务的承诺书》</div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

{{/inline}}

{{/base}}
