{% extends '../../../lib/templates/eten_base.swig.html' %}

{% block title %}金融工场是由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的专注于小贷公司资产交易的P2P平台—上金融工场，圆财富梦想！{% endblock %}

{% block js %}
<script src="javascripts/index.js"></script>
{% endblock %}

{% block content %}
<div class="main">
    <div class="top">
        <div class="banner">

        </div>
        <form action="">
            <div class="registerTab">
                <div class="registerTab1">
                    绑定手机号
                </div>
                <div class="registerTab2">
                    完成注册
                </div>
                <div class="registerTab3">

                </div>
            </div>
            <div class="phoneNumber">
                <label for="phoneNumber">
                    手机号
                    <span class="red">*</span>
                </label>
                <input type="text" placeholder="请输入手机号码" id="phoneNumber">
                <span class="phonetips" id="phonetips" style="display: none">请输入手机号</span>
            </div>
            <div class="person">
                <label for="person">
                    推荐人
                </label>
                <input type="text" placeholder="请填写推荐人工场码" id="person">
            </div>
            <div class="test">
                <label for="test">
                    网页验证码
                    <span class="red">*</span>
                </label>
                <input type="text" id="test">
                <!--<span class="picTestCode">1234</span>-->
                <img src="http://www.9888.cn/activity/new-user-guide/index.php?op=imgCode" alt="" class="verificationCode" id="verificationCode">
                <span class="testtips" id="testtips" style="display: none">请输入验证码</span>
            </div>
            <div class="get">
                <span href="" id="submit" class="submit">
                    立即领取120元
                </span>
            </div>
        </form>
    </div>

    <div class="gift clearfix">
            <div class="bg-gift clearfix">
                <div class="giftTitle">
                    新手注册送120元大礼
                </div>
                <div class="subgiftTitle">
                    返现券投资满额即可使用，用户可在“我的工场>优惠券”中查看详情
                </div>
                <div class="cash clearfix">
                    <div class="cashred" id="redcash">
                        <img src="images/bigredpag-01.png" alt="" style="z-index: 5;position: absolute;top:0;left: 0">
                        <img src="images/redbag.png" alt="" class="redbag1" id="redbag1" style="display: none;transition:10ms;position: absolute;top: 40px;left: 50px;z-index: 3">
                        <img src="images/redbag2.png" alt="" class="redbag2" id="redbag2" style="display: none;transition:10ms;position: absolute;top: 20px;left: 80px;z-index: 3">
                    </div>
                    <div class="cashadd">
                        <img src="images/bigredpagand.png" alt="">
                    </div>


                    <div class="cashred" id="redcash2">
                        <img src="images/bigredpag-02.png" alt="" style="z-index: 5;position: absolute;top:0;left: 0">
                        <img src="images/redbag.png" alt="" class="redbag1" id="redbag21" style="display: none;transition:10ms;position: absolute;top: 40px;left: 50px;z-index: 3">
                        <img src="images/redbag2.png" alt="" class="redbag2" id="redbag22" style="display: none;transition:10ms;position: absolute;top: 20px;left: 80px;z-index: 3">
                    </div>
                    <div class="cashadd">
                        <img src="images/bigredpagand.png" alt="">
                    </div>


                    <div class="cashred" id="redcash3">
                        <img src="images/bigredpag-03.png" alt="" style="z-index: 5;position: absolute;top: 0;left: 0;" >
                        <img src="images/redbag.png" alt="" class="redbag1" id="redbag31" style="display: none;transition:10ms;position: absolute;top: 40px;left: 50px;z-index: 3">
                        <img src="images/redbag2.png" alt="" class="redbag2" id="redbag32" style="display: none;transition:10ms;position: absolute;top: 20px;left: 80px;z-index: 3">
                    </div>
                </div>


            </div>
    </div>

    <!--热门投资板块-->
    <div class="invest">
        <div class="investMain">
            <div class="investMainTitle">
                <h3>热门投资等你来</h3>
            </div>
            <div class="investContent clearfix">
                <div class="investContentItem clearfix">
                    <div class="investContentItem-1 fl">
                        <p class="firstLine clearfix">
                            <a href="#" class="fone">
                                <img src="images/proPic_12.png" alt="" style="width: 30px;height: 30px;">
                            </a>
                            <span>
                                <a href="#" class="ftwo" id="ftwo"></a>
                                <span class="fthree">新手共享</span>
                            </span>
                        </p>
                        <p class="secondLine">
                            <em id="ftwoDay"></em>
                            <span>100起投</span>
                            <span>限投1次最高5000元</span>
                            <span>末投送10元工豆</span>
                        </p>
                        <p class="lastLine">
                            按天一次性还本付息
                            <img src="images/i_baoz.png" alt="">
                        </p>
                    </div>
                    <div class="investContentItem-2 fl">
                        <p>
                            <span class="year">预期年化</span>
                            <span class="rate">6.2%</span>
                        </p>
                    </div>
                    <div class="investContentItem-3 fl">3</div>
                    <div class="investContentItem-4 fr">
                        <p class="up">
                            <a href="#">投资</a>
                        </p>
                        <p class="down">
                            可投13.57万
                        </p>
                    </div>
                </div>

                <div class="investContentItem clearfix">
                    <div class="investContentItem-1 fl">
                        <p class="firstLine clearfix">
                            <a href="#" class="fone">
                                <img src="images/proPic_12.png" alt="" style="width: 30px;height: 30px;">
                            </a>
                            <span>
                                <a href="#" class="ftwo">利随享9674</a>
                                <span class="fthree">新手共享</span>
                            </span>
                        </p>
                        <p class="secondLine">
                            <em>30天</em>
                            <span>100起投</span>
                            <span>限投1次最高5000元</span>
                            <span>末投送10元工豆</span>
                        </p>
                        <p class="lastLine">
                            按天一次性还本付息
                            <img src="images/i_baoz.png" alt="">
                        </p>
                    </div>
                    <div class="investContentItem-2 fl">
                        <p>
                            <span class="year">预期年化</span>
                            <span class="rate">6.2%</span>
                        </p>
                    </div>
                    <div class="investContentItem-3 fl">3</div>
                    <div class="investContentItem-4 fr">
                        <p class="up">
                            <a href="#">投资</a>
                        </p>
                        <p class="down">
                            可投13.57万
                        </p>
                    </div>
                </div>

                <div class="investContentItem clearfix">
                    <div class="investContentItem-1 fl">
                        <p class="firstLine clearfix">
                            <a href="#" class="fone">
                                <img src="images/proPic_12.png" alt="" style="width: 30px;height: 30px;">
                            </a>
                            <span>
                                <a href="#" class="ftwo">利随享9674</a>
                                <span class="fthree">新手共享</span>
                            </span>
                        </p>
                        <p class="secondLine">
                            <em>30天</em>
                            <span>100起投</span>
                            <span>限投1次最高5000元</span>
                            <span>末投送10元工豆</span>
                        </p>
                        <p class="lastLine">
                            按天一次性还本付息
                            <img src="images/i_baoz.png" alt="">
                        </p>
                    </div>
                    <div class="investContentItem-2 fl">
                        <p>
                            <span class="year">预期年化</span>
                            <span class="rate">6.2%</span>
                        </p>
                    </div>
                    <div class="investContentItem-3 fl">3</div>
                    <div class="investContentItem-4 fr">
                        <p class="up">
                            <a href="#">投资</a>
                        </p>
                        <p class="down">
                            可投13.57万
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--收益模块-->

    <div class="earning">
        <div class="earningMain">
            <div class="earningItem">
                <div class="earningTitle">
                    用户投资总额
                </div>
                <div class="earningImg">
                    <img src="images/img_6.jpg" alt="">
                </div>
                <div class="earningData">
                    <div class="yibox"id="yibox">

                    </div>


                </div>
            </div>

            <div class="earningItem">
                <div class="earningTitle">
                    用户投资总额
                </div>
                <div class="earningImg">
                    <img src="images/img_7.jpg" alt="">
                </div>
                <div class="earningData">
                    <div class="earningDataBox">
                        <div class="yibox">
                            <span class="money-number num4">
                                <em>4</em>
                                <strong></strong>
                            </span>
                            <!--<span class="money-number num5">-->
                                <!--<em>5</em>-->
                                <!--<strong></strong>-->
                            <!--</span>-->
                            <!--<span class="money-number num6">-->
                                <!--<em>6</em>-->
                                <!--<strong></strong>-->
                            <!--</span>-->
                            <span class="yizi">亿</span>
                        </div>

                        <div class="yibox">
                            <span class="money-number num6">
                                <em>6</em>
                                <strong></strong>
                            </span>
                            <span class="money-number num1">
                                <em>1</em>
                                <strong></strong>
                            </span>
                            <span class="money-number num2">
                                <em>2</em>
                                <strong></strong>
                            </span>
                            <span class="money-number num9">
                                <em>9</em>
                                <strong></strong>
                            </span>
                            <span class="yizi">万</span>
                            <span class="yizi">元</span>
                        </div>
                    </div>

                </div>
            </div>


            <div class="earningItem">
                <div class="earningTitle">
                    用户投资总额
                </div>
                <div class="earningImg">
                    <img src="images/img_8.jpg" alt="">
                </div>
                <div class="earningData">
                    <div class="yibox">
                        <span class="money-number num1">
                            <em>1</em>
                            <strong></strong>
                        </span>
                        <span class="money-number num5">
                            <em id="five">5</em>
                            <strong></strong>
                        </span>
                        <span class="money-number num6">
                            <em>6</em>
                            <strong></strong>
                        </span>
                        <span class="yizi">亿</span>
                    </div>

                    <div class="yibox">
                        <span class="money-number num6">
                            <em>6</em>
                            <strong></strong>
                        </span>
                        <span class="money-number num1">
                            <em>1</em>
                            <strong></strong>
                        </span>
                        <span class="money-number num2">
                            <em>2</em>
                            <strong></strong>
                        </span>
                        <span class="money-number num9">
                            <em>9</em>
                            <strong></strong>
                        </span>
                        <span class="yizi">万</span>
                        <span class="yizi">元</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--优势板块-->
    <div class="advantage clearfix">
            <div class="advantageTitle">
                <h3 class="advantageText">金融工场的优势</h3>
            </div>
            <div class="advantageSelect clearfix" id="advantageSelect">
                <div class="selectItem clearfix">
                    <div class="selectImg">
                        <img src="images/guide_selectlistB-01.jpg" alt="">
                    </div>
                    <p class="select-title">
                        上市公司
                    </p>
                    <p class="select-des">
                        上市公司中国信贷
                        <br>
                        战略控股
                    </p>
                </div>

                <div class="selectItem">
                    <div class="selectImg">
                        <img src="images/guide_selectlistB-02.jpg" alt="">
                    </div>
                    <p class="select-title">
                        上市公司
                    </p>
                    <p class="select-des">
                        上市公司中国信贷
                        <br>
                        战略控股
                    </p>
                </div>

                <div class="selectItem">
                    <div class="selectImg">
                        <img src="images/guide_selectlistB-03.jpg" alt="">
                    </div>
                    <p class="select-title">
                        上市公司
                    </p>
                    <p class="select-des">
                        上市公司中国信贷
                        <br>
                        战略控股
                    </p>
                </div>

                <div class="selectItem">
                    <div class="selectImg">
                        <img src="images/guide_selectlistB-04.jpg" alt="">
                    </div>
                    <p class="select-title">
                        上市公司
                    </p>
                    <p class="select-des">
                        上市公司中国信贷
                        <br>
                        战略控股
                    </p>
                </div>

                <div class="selectItem">
                    <div class="selectImg">
                        <img src="images/guide_selectlistB-05.jpg" alt="">
                    </div>
                    <p class="select-title">
                        上市公司
                    </p>
                    <p class="select-des">
                        上市公司中国信贷
                        <br>
                        战略控股
                    </p>
                </div>

                <div class="selectItem">
                    <div class="selectImg">
                        <img src="images/guide_selectlistB-06.jpg" alt="">
                    </div>
                    <p class="select-title">
                        上市公司
                    </p>
                    <p class="select-des">
                        上市公司中国信贷
                        <br>
                        战略控股
                    </p>
                </div>
            </div>
    </div>

    <!--滚动显示的盒子模块-->
    <div class="scroll" style="display: none">
        <div class="scrollBox">
            <div class="scrollBoxLeft">
                <span class="icon"></span>
                中国信贷(08207.HK)旗下互联网金融平台
            </div>
            <div class="scrollBoxRight">
                <a href="#" class="rightnow">立即注册，领取120元</a>
                <a href="" class="new">更多新手指引</a>
            </div>
        </div>
    </div>

    <!--Tab选项卡模块-->
    <div class="tabTest">
        <div class="titleBox" id="titleBox">
            <ul class="clearfix">
                <li>111</li>
                <li>222</li>
                <li>333</li>
            </ul>
        </div>
        <div class="contentBox" id="contentBox">
            <ul class="clearfix">
                <li >1111</li>
                <li class="current">2222</li>
                <li>3333</li>
            </ul>
        </div>
    </div>

    <!--轮播图模块-->
    <div class="pictureCarousel">
        <div id="banner">
            <div id="banner_bg"></div><!--标题背景-->
            <div id="banner_info">risingTestCarousel</div><!--标题-->
            <ul>
                <li class="on">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
            <div id="banner_list">
                <a href="#" target="_blank"><img src="images/o_p1.jpg" title="橡树小屋的blog" alt="橡树小屋的blog1"/></a>
                <a href="#" target="_blank"><img src="images/o_p3.jpg" title="橡树小屋的blog" alt="橡树小屋的blog2"/></a>
                <a href="#" target="_blank"><img src="images/o_p4.jpg" title="橡树小屋的blog" alt="橡树小屋的blog3"/></a>
                <a href="#" target="_blank"><img src="images/o_p5.jpg" title="橡树小屋的blog" alt="橡树小屋的blog4"/></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}