{% extends '../../../lib/templates/eten_base.swig.html' %}

{% block title %}徽商升级中{% endblock %}

{% block content %}

<div class="fake-header"></div>

<div class="hr"></div>
<div class="processing">
    <div class="node">
        <div class="order">1</div>
        <div class="text">数据迁移中</div>
    </div>
    <div class="dots phase-1">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div id="processing-node-2" class="node unfinished">
        <div class="order">2</div>
        <div class="text">系统内测中</div>
    </div>
    <div class="dots phase-2">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="node unfinished">
        <div class="order">3</div>
        <div class="text">完成</div>
    </div>
</div>

<div class="detail">
    <img class="" src="images/a.png">
    <div class="summary">
        <div class="text-a">金融工场正在全面升级徽商银行资金存管</div>
        <div class="text-b">银行存管，将使您的资金更加安全</div>
        <div class="text-c">暂停服务时间：10月15日0：00-10月16日23：59</div>
        <div class="text-d">
            如有任何疑问，请您拨打客服电话
            <span class="color-blue">400-0322-988</span>
        </div>
        <div class="text-e">由此给您带来的不便，敬请谅解！</div>
    </div>
</div>

<img class="shuo-ming" src="images/b.jpg">
{% endblock %}