em{
  font-style: normal;
}
.templateMobile{
  margin-top: 100px;
  width: 100%;
  height: 100%;
}
.productListMobile{
  width: 692px;
  margin: auto;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}