{% extends '../../../lib/templates/p2p-web-base.swig.html' %}

{% block title %}工场微金是由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的专注于小贷公司资产交易的P2P平台—上工场微金，圆财富梦想！{% endblock %}

{% block javascripts %}
<script src="javascripts/index.js"></script>
{% endblock %}

{% block content %}
<div class="carousel">

    <a class="android-app-link" href="http://app.9888.cn/download/apk"> </a>
    <a class="ios-app-link" href="https://itunes.apple.com/cn/app/jin-rong-gong-chang/id939125881?mt=8"></a>

    <div class="card">
        <img class="card-1-1" src="images/card-1-1.png">
        <img class="card-1-2" src="images/card-1-2.png">
        <img class="card-1-3" src="images/card-1-3.gif">
        <img class="card-1-4" src="images/card-1-4.png">
        <img class="card-1-5" src="images/card-1-5.png">
        <img class="card-1-6" src="images/card-1-6.png">

        <img class="card-2-1" src="images/card-2-1.png">
        <img class="card-2-2" src="images/card-2-2.png">
        <img class="card-2-3" src="images/card-2-3.png">
        <img class="card-2-4" src="images/card-2-4.png">
        <img class="card-2-5" src="images/card-2-5.png">
        <img class="card-2-6" src="images/card-2-6.png">
        <img class="card-2-7" src="images/card-2-7.png">

        <img class="card-3-1" src="images/card-3-1.png">
        <img class="card-3-2" src="images/card-3-2.png">
        <img class="card-3-3" src="images/card-3-3.png">
        <img class="card-3-4" src="images/card-3-4.png">
        <img class="card-3-5" src="images/card-3-5.gif">
        <img class="card-3-6" src="images/card-3-6.png">

        <img class="card-4-1" src="images/card-4-1.png">
        <img class="card-4-2" src="images/card-4-2.png">
        <img class="card-4-3" src="images/card-4-3.png">
        <img class="card-4-4" src="images/card-4-4.png">
        <img class="card-4-5" src="images/card-4-5.png">
        <img class="card-4-6" src="images/card-4-6.png">
    </div>

    <div class="points" id="points">
        <div class="active" onClick="showCard(0)"></div>
        <div onClick="showCard(1)"></div>
        <div onClick="showCard(2)"></div>
        <div onClick="showCard(3)"></div>
    </div>
</div>

<div class="containers">
    <div class="c-item">
        <img src="images/1.png">
        <div class="item-des">看得见的专业金融风险管理体系，为每一笔交易提供第三方保证担保；一对多的交易机制，完善的评估体系，借款项目多重审核，信息真实、透明。</div>
    </div>
    <div class="c-item">
        <img src="images/2.png">
        <div class="item-des">看不见的精密系统安全措施，为您的出借每一步保驾护航；网上交易保障中心认证，敏感数据、隐私信息加密处理，7*24小时监控异常</div>
    </div>
    <div class="c-item mr-none">
        <img src="images/3.png">
        <div class="item-des">实名认证、动态口令、手势密码、安全证书等多种安全手段，确保手机中资金和隐私安全</div>
    </div>
</div>
<br> <br> <br>
{% endblock %}
