.quarter{
  width: 986px;
  height: 820px;
  margin: 58px auto 0;
  background: url("../images/prize-list-box.png") no-repeat;
  position: relative;
  .quarterTable{
    position: absolute;
    top: 180px;
    left: 136px;
    width:786px;
    thead{
      td{
        height: 100px;
      }
    }
    tbody{
      tr{
        height: 38px;
      }
    }
    td{
      text-align: center;
    }
    .tdImg{

    }
  }
}