.quarter{
  width: 986px;
  height: 820px;
  margin: 58px auto 0;
  background: url("../images/prize-list-box.png") no-repeat;
  position: relative;
  .quarterTable{
    position: absolute;
    top: 200px;
    left: 136px;
    width:786px;
    td{
      text-align: center;
    }
  }
}