@import "variables.less";
.mobile-header{
  background: #19162d !important;
}
@media (max-width: 760px) {
  .mobileContainer{
    width: 100%;
    height: 100%;
    background: @colorBg;
    .mobileBanner{
      width: 100%;
      height: 412px;
    }
    .mobileWeekPack{
      .weekTitle{
        width: 660px;
        height: 122px;
        background: url("../images/mobileWeekTitle.png") no-repeat;
        margin: auto;
      }
    }
  }
}