{% extends '../../../lib/templates/web_base.swig.html' %}

{% block title %}金融工场是由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的专注于小贷公司资产交易的P2P平台—上金融工场，圆财富梦想！{% endblock %}

{% block content %}
<div class="up-banner">
    <img src="images/up_a.jpg">
</div>

<div class="">
    <div class="up-wrap">
        <div class="up-rap">
            <div class="workers ">
                <h1>会员成长体系</h1>
                <p class="text">工友根据贡献值不同，可分为普通会员、VIP1、VIP2、VIP3、VIP4等5个等级，<br/>每一等级会员都享有专属的特权福利。</p>
                <ul class="wor-ul clearfix">
                    <li class="wrke-a">
                        <p class="ys1 mart-a">普通会员</p>
                        <p id="lv0" class="ys2"></p>
                    </li>
                    <li class="wrke-b">
                        <p class="ys1 mart-a">VIP1</p>
                        <p id="lv1" class="ys2"></p>
                    </li>
                    <li class="wrke-c">
                        <p class="ys1 mart-b">VIP2</p>
                        <p id="lv2" class="ys2"></p>
                    </li>
                    <li class="wrke-d">
                        <p class="ys1 mart-c">VIP3</p>
                        <p id="lv3" class="ys2"></p>
                    </li>
                    <li class="wrke-e">
                        <p class="ys1 mart-d">VIP4</p>
                        <p class="ys2"><span id="lv4"></span><span class="zt-d">以上</span></p>
                    </li>
                </ul>
            </div>

            <div class="privileges">
                <h1>VIP特权 海量福利</h1>
                <ol class="priv-lo clearfix">
                    <li><a href="#"><img src="images/up-i.png"></a></li>
                    <li><a href="#"><img src="images/up-j.png"></a></li>
                    <li><a href="#"><img src="images/up-k.png"></a></li>
                    <li><a href="#"><img src="images/up-l.png"></a></li>
                </ol>
                <div class="liberty">
                    <div class="nav">
                        <ul class="anv">
                            <li>会员等级</li>

                            <li>普通会员</li>

                            <li>VIP1</li>

                            <li>VIP2</li>

                            <li>VIP3</li>

                            <li>VIP4</li>

                        </ul>
                    </div>
                    <div class="grid">
                        <div class="gid-a">
                            <ol class="gdia">
                                <li style="font-size: 18px; color: #e84f76;">年化加息奖励</li>
                                <li id="add-interest-text-0">-</li>
                                <li id="add-interest-text-1">-</li>
                                <li id="add-interest-text-2">-</li>
                                <li id="add-interest-text-3">-</li>
                                <li id="add-interest-text-4">-</li>
                            </ol>
                        </div>

                        <div class="gid-a gia">
                            <ol class="gdia gai">
                                <li style="font-size: 18px; color: #e84f76;">生日大礼包</li>
                                <li id="birthday-text-0">-</li>
                                <li id="birthday-text-1">-</li>
                                <li id="birthday-text-2">-</li>
                                <li id="birthday-text-3">-</li>
                                <li id="birthday-text-4">-</li>
                            </ol>
                        </div>

                        <div class="gid-a">
                            <ol class="gdia gai">
                                <li style="font-size: 18px; color: #e84f76;">升级大礼包</li>
                                <li id="level-text-0">-</li>
                                <li id="level-text-1">-</li>
                                <li id="level-text-2">-</li>
                                <li id="level-text-3">-</li>
                                <li id="level-text-4">-</li>
                            </ol>
                        </div>

                        <div class="gid-a gia">
                            <ol class="gdia gai">
                                <li style="font-size: 18px; color: #e84f76;">更多特权</li>
                                <li>
                                    <p class="gdfj"></p>
                                    <p></p>
                                </li>
                                <li>
                                    <p class="gdfj"></p>
                                    <p></p>
                                </li>
                                <li>
                                    <p class="exp">敬请期待</p>
                                    <p></p>
                                </li>
                                <li>
                                    <p class="gdfj"></p>
                                    <p></p>
                                </li>
                                <li>
                                    <p class="gdfj"></p>
                                    <p></p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

            </div>

            <div class="contribution">
                <div class="what-con">
                    <h1>什么是贡献值</h1>
                    <div class="wta">
                        <p class="wa-a">贡献值是衡量用户等级的标准，用户可以通过投资或邀请好友投资来获取贡献值。</p>
                        <p class="wa-b">贡献值=投资贡献值+邀友贡献值</p>
                    </div>
                </div>

                <div class="what-con hwat">
                    <h1>怎么获取贡献值</h1>
                    <div class="wta atw">
                        <p class="wa-a">投资贡献值：用户实时待收年化投资额度；</p>
                        <p class="aw">邀友贡献值：<span id="tagText"></span>天内，每成功邀请一位好友首投<span
                                id="moneyText"></span>元，邀请人获得<span id="contributionText"></span>贡献值。</p>
                    </div>
                </div>
            </div>


            <div class="faq">
                <h1>豆哥答疑</h1>
                <div class="contrib">
                    <div class="wie">
                        <div class="tile"><span class="te-a">01</span><span class="ti">如何获得贡献值？</span></div>
                        <div class="involve">
                            <p>贡献值包括投资贡献值和邀友贡献值，其中投资贡献值即用户实时待收年化投资额度，邀友贡献值即每成功邀请1名首投5000元的好友奖励1000贡献值。<span
                                    class="user-a">（A码用户不获取邀友贡献值。）</span></p>
                        </div>
                        <div class="clientele">
                            <div class="cen-lf">
                                <div class="demo"><img src="images/up-n.jpg">投资案例</div>
                                <div class="term">
                                    <span class="kh"><a>客户</a></span>
                                    <span class="ns"><a>王女士</a></span>
                                </div>
                                <div class="term">
                                    <span class="kh tz"><a>投资期限</a></span>
                                    <span class="ns ybl"><a>180天</a></span>
                                </div>
                                <div class="term">
                                    <span class="kh tz je"><a>投资金额</a></span>
                                    <span class="ns ybl yuan"><a>10000元</a></span>
                                </div>
                                <div class="term tmr">
                                    <span class="kh tz je invt"><a>邀请人数</a><p>30天内，好友首投满5000元</p></span>
                                    <span class="ns ybl yuan peo"><a>1人</a></span>
                                </div>
                            </div>
                            <div class="telert">
                                <div class="demo"><img src="images/up-o.jpg">贡献值计算</div>
                                <div class="touzi">
                                    <p class="gzj"><span>投资贡献值=投资金额*投资期限/360</span></p>
                                    <p class="num"><span>10000*180/360=5000</span></p>
                                </div>
                                <div class="touzi friends">
                                    <p class="gzj"><span>邀友贡献值=有效邀请好友数*1000</span></p>
                                    <p class="num"><span>1*1000=1000</span></p>
                                </div>
                                <div class="touzi">
                                    <p class="gzj"><span>当前贡献值=投资贡献值+邀友贡献值</span></p>
                                    <p class="num"><span>5000+1000=6000</span></p>
                                </div>
                                <div class="touzi friends king">
                                    <p class="gzj"><span>王女士当前的会员等级</span></p>
                                    <p class="num"><span class="vip">VIP1</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="tile xshk"><span class="te-a">02</span><span class="ti">贡献值会不会减少呢？</span></div>
                        <div class="involve">
                            <p>投资贡献值：用户回款、债权转让、流标后，您对应产品的投资贡献值会减少；</p>
                            <p>邀友贡献值：30天内最高可累计100000贡献值（100位好友）。</p>
                        </div>

                        <div class="tile xshk"><span class="te-a">03</span><span class="ti">个人获得贡献值有上限么？</span></div>
                        <div class="involve">
                            <p>投资贡献值没有上限；</p>
                            <p>邀友贡献值在特权等级统计时最多只能奖励100000分（100个有效邀请）,超出部分不奖励。</p>
                        </div>

                        <div class="tile xshk"><span class="te-a">04</span><span class="ti">等级是如何变化的？</span></div>
                        <div class="involve">
                            <p>升级：当贡献值达到升级条件时，等级实时增长；</p>
                            <p class="demoted">降级：当贡献值小于现有等级最低标准时，若距上次等级变更时间小于30天内，则保持当前等级；若超出30天，则对应</p>
                            <p class="fact">实际的等级。</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}


{% block  js%}
<script>
    $(document).ready(function () {

        $.ajax({
            url: 'http://m.9888.cn/mpwap/api/v1/upgrade-formula.shtml',
            dataType: 'jsonp',
            success: function (data) {
                $("#lv0").text(globalInterestCalculator.formatMoney(data.data.levelConfig.minLv1).split('.')[0] + "~" + globalInterestCalculator.formatMoney(data.data.levelConfig.maxLv1).split('.')[0]);
                $("#lv1").text(globalInterestCalculator.formatMoney(data.data.levelConfig.minLv2).split('.')[0] + "~" + globalInterestCalculator.formatMoney(data.data.levelConfig.maxLv2).split('.')[0]);
                $("#lv2").text(globalInterestCalculator.formatMoney(data.data.levelConfig.minLv3).split('.')[0] + "~" + globalInterestCalculator.formatMoney(data.data.levelConfig.maxLv3).split('.')[0]);
                $("#lv3").text(globalInterestCalculator.formatMoney(data.data.levelConfig.minLv4).split('.')[0] + "~" + globalInterestCalculator.formatMoney(data.data.levelConfig.maxLv4).split('.')[0]);
                $("#lv4").text(globalInterestCalculator.formatMoney(data.data.levelConfig.minLv5).split('.')[0]);

                $("#tagText").text(data.data.limitDays);
                $("#moneyText").text(data.data.firstInvestAmount);
                $("#contributionText").text(data.data.sendStore);
            }
        });

        var levelInfoUrl = 'http://www.9888.cn/api/userLevel/v1/giftVO.json';
        $.get(levelInfoUrl, {}, function (data) {
            if (data.code != 10000) throw new Error('接口异常, ' + levelInfoUrl);

            var rule = data.data.levelGiftRule;
            for (var i = 0; i < rule.length; i++) {
                var interest = rule[i].addInterest;
                if (interest) {
                    $("#add-interest-text-" + i).html(interest.describe);
                }

                var birthday = rule[i].birthdayBag;
                if (birthday) {
                    $("#birthday-text-" + i).html(birthday.describe);
                }

                var levelUp = rule[i].levelUpBag;
                if (levelUp) {
                    $("#level-text-" + i).html(levelUp.describe);
                }
            }
        }, 'json');
    })


</script>
{% endblock %}