{% extends '../../../lib/templates/activity_base.swig.html' %}

{% block title %}极限邀友挑战赛 - 金融工场-中国信贷(08207.HK)旗下互联网金融平台！{% endblock %}

{% block content %}
<div class="act-wrap">
    <div class="banner"><span></span></div>
    <div class="banner-wap">
        <span></span>
    </div>
    <div class="act-cnt">
        <img class="exp" src="images/exp.png" alt="">
        <div class="act-cnt-event clearfix mart0">
            <img src="images/title1.png" alt=""/>
        </div>
        <div class="title1-text">单周邀请首投满5000元的好友数达标，邀请人获不同级别的工豆奖励。</div>
        <div class="pro-login">
            <div>
             请登录后，查看您的邀友数及可获工豆， <a>立即登录></a>
            </div>
        </div>
        <img class="w-ago-btn"  src="images/w-ago-btn.png" alt="">
        <img class="act-rule1-wap"  src="images/act-rule1-wap.png" alt="">
        <img class="tip-wap" src="images/tip-wap.png" alt="" >
    </div>
    <div class="act-cnt">
        <div class="act-rule1 clearfix">
            <img class="act-rule1-0" src="images/act-rule1.png" alt=""/>
            <img class="title2" src="images/title2.png" alt="">
            <br>
            <div class="ac_state" data-state="1">
                <img class="have_in_hand_img" src="images/have_in_hand.png">
                <img class="not_start_img" src="images/not_start_img.png">
                <p  class="text-state">未开始</p><p  class="v-line"></p><p class="t-state"><h2>10月</h2>
                <p class="fs24">10.11 ~ 11.7</p></p>
            </div>
            <div class="ac_state" data-state="2">
                <img class="have_in_hand_img" src="images/have_in_hand.png">
                <img class="not_start_img" src="images/not_start_img.png">
                <p  class="text-state">未开始</p><p  class="v-line"></p><p class="t-state"><h2>11月</h2>
                <p class="fs24">11.8 ~ 12.5</p></p>
            </div>
            <div class="ac_state" data-state="3">
                <img class="have_in_hand_img" src="images/have_in_hand.png">
                <img class="not_start_img" src="images/not_start_img.png">
              <p  class="text-state">未开始</p><p  class="v-line"></p><p class="t-state"><h2>12月</h2>
              <p class="fs24">12.6 ~ 1.5</p></p>
            </div>
        </div>
    </div>
    <div class="act-cnt flog-box">
        <div class="flog-box1">
            <div class="flog-box1-text">12</div>
        </div>
        <div class="flog-box2">
            <div class="flog-tit">10月邀友排行榜</div>
            <div class="tit-small">
                <div>请登录后，查看您的邀友排名及可获奖金 ， <a>立即登录></a></div>
            </div>
            <div class="flog-box2-ul-box">
                <div class="flog-box2-ul">
                    <ul class="my-list">
                        <li class="clearfix lia"><div class="top1"></div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                        <li class="clearfix lia"><div class="top2"></div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                        <li class="clearfix lia"><div class="top3"></div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                        <li class="clearfix lia"><div class="iden">4</div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                        <li class="clearfix lia"><div class="iden">5</div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                        <li class="clearfix lia"><div class="iden">6</div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                        <li class="clearfix lia" style="display: none"><div class="iden">7</div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                        <li class="clearfix lia" style="display: none"><div class="iden">8</div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                        <li class="clearfix lia" style="display: none"><div class="iden">9</div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                        <li class="clearfix lia" style="display: none"><div class="iden">10</div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                        <li class="clearfix lia" style="display: none"><div class="iden">11</div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                        <li class="clearfix lia" style="display: none"><div class="iden">12</div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                        <li class="clearfix lia" style="display: none"><div class="iden">13</div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                        <li class="clearfix lia" style="display: none"><div class="iden">14</div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                        <li class="clearfix lia" style="display: none"><div class="iden">15</div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                        <li class="clearfix lia" style="display: none"><div class="iden">16</div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                        <li class="clearfix lia" style="display: none"><div class="iden">17</div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                        <li class="clearfix lia" style="display: none"><div class="iden">18</div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                        <li class="clearfix lia" style="display: none"><div class="iden">19</div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                        <li class="clearfix lia" style="display: none"><div class="iden">20</div><div class="name"></div><div class="num"></div><div class="amount"></div><div class="prize"></div></li>
                    </ul>
                </div>
            </div>
            <div class="pop-page" data-page="1" style="position: absolute;">
                <span class="up-page active">上一页</span><span class="down-page">下一页</span>
            </div>
            <div class="flog-box2-no-data">人气王还在堵车，马上就来！</div>
        </div>
    </div>
    <div class="act-cnt">
         <div class="act-cnt-example">
             <span>温馨提示：</span>
             <span>1. 以上数据实时更新，最终发放奖金请以每月结束后数据为准，排名顺序：符合获奖资格的年化投资额>符合获奖资格的有效邀友数>不符合获奖资格的年化投资额>不符合获奖资格的有效邀友数；</span>
             <span>2. 好友首投满5000元，算1个有效邀请；</span>
             <span>3. 获奖达标资格：单月内，有效邀请好友人数≥100且好友累计年化投资金额（不含自身）≥50万的前20名工友；</span>
             <span> 奖金包占比分配公式：本人有效邀友累计年化投资额/前20名有效邀友累计年化投资总额，仅算满足获奖资格的用户。</span>
         </div>
    </div>
    <div class="act-cnt">
        <img class="title3" src="images/title3.png" alt="">
        <p class="text3">10.11-1.5，有效邀友数及好友累计年化投资额（不含自身）达标，且排行前30的工友，可获分</p>
        <img class="fen" src="images/fen.png" alt="">
        <div class="prize-list-box">
            <div class="charts-text">
                <div>
                    请登录后，查看您的邀友排名及可获奖金 ，
                    <a>立即登录&gt;</a>
                </div>
            </div>
            <div class="prize-list-no-data">人气王还在堵车，马上就来！</div>
            <div class="prize-list">
                <div class="prize-li">
                    <div class="top1-1"></div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li">
                    <div class="top1-2"></div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li">
                    <div class="top1-3"></div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li">
                    <div class="iden1">4</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li">
                    <div class="iden1">5</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li">
                    <div class="iden1">6</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li">
                    <div class="iden1">7</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li">
                    <div class="iden1">8</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">9</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">10</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">11</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">12</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">13</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">14</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">15</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">16</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">17</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">18</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">19</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">20</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">21</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">22</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">23</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">24</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">25</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">26</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">27</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">28</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">29</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
                <div class="prize-li" style="display: none">
                    <div class="iden1">30</div>
                    <div class="user-name"></div>
                    <div class="invi-fri"></div>
                    <div class="inv-amo"></div>
                    <div class="reward"></div>
                </div>
            </div>
            <div class="pop-page" data-page="1" style="padding: 2px 0 0;"><span class="up-page active">上一页</span><span class="down-page">下一页</span></div>
            <div class="prize-list-text"><span>温馨提示:</span> <span>
             1. 获奖达标资格：10.11-1.5，有效邀请好友人数≥100且好友累计年化投资金额（不含自身）≥50万的前30名工友；</span><span>
             2. 以上数据实时更新，请以活动结束时间数据为准，排名顺序：符合获奖资格的年化投资额>符合获奖资格的有效邀友数>不符合获奖资格的年化投资额>不符合获奖资格的有效邀友数；
             </span>
             <span>3. 好友首投满5000元，算一个有效邀请；</span>
             <span>4. 奖金包占比分配公式：本人有效邀友累计年化投资额/前30名有效邀友累计年化投资总额，仅算满足获奖资格的用户。</span>
            </div>
        </div>
    </div>
    <div class="expl">以上活动由金融工场主办 与Apple Inc. 无关</div>
    <div class="bgNotice">
            <div class="notice">
                <div class="w-ago-no-data">人气王还在堵车，马上就来！</div>
                <em></em>
                <div class="w-ago-ul-box">
                    <ul class="my-list">
                        <li class="clearfix lia w-ago-tit"><div class="date">日期</div><div class="invi-fri">有效邀友数</div><div class="bean">工豆奖励(元)</div></li>
                        <li class="clearfix lia"><div class="date"></div><div class="invi-fri">2</div><div class="bean"></div></li>
                        <li class="clearfix lia"><div class="date"></div><div class="invi-fri">2</div><div class="bean"></div></li>
                        <li class="clearfix lia"><div class="date"></div><div class="invi-fri">2</div><div class="bean"></div></li>
                        <li class="clearfix lia"><div class="date"></div><div class="invi-fri">2</div><div class="bean"></div></li>
                        <li class="clearfix lia"><div class="date"></div><div class="invi-fri">2</div><div class="bean"></div></li>
                        <li class="clearfix lia"><div class="date"></div><div class="invi-fri">2</div><div class="bean"></div></li>
                        <li class="clearfix lia" style="display: none"><div class="date"></div><div class="invi-fri"></div><div class="bean">1</div></li>
                        <li class="clearfix lia" style="display: none"><div class="date"></div><div class="invi-fri"></div><div class="bean">1</div></li>
                        <li class="clearfix lia" style="display: none"><div class="date"></div><div class="invi-fri"></div><div class="bean">1</div></li>
                        <li class="clearfix lia" style="display: none"><div class="date"></div><div class="invi-fri"></div><div class="bean">1</div></li>
                        <li class="clearfix lia" style="display: none"><div class="date"></div><div class="invi-fri"></div><div class="bean">1</div></li>
                        <li class="clearfix lia" style="display: none"><div class="date"></div><div class="invi-fri"></div><div class="bean">1</div></li>
                    </ul>
                <div class="pop-page" style="top:334px;left: 155px;position:absolute"><span class="up-page active">上一页</span><span class="down-page">下一页</span></div>
                </div>
            </div>
            <div class="noticeTwo">
                <img src="images/notice2.png" alt=""/>
                <img class='img22' src="images/one.png" alt=""/><img class='img33' src="images/two.png" alt=""/>
                <p>请好友注册或投资时填写我的工场码！</p>
                <em></em>
                <span>

                </span>
                <!--[if (gt IE 9)|!(IE)]><!-->
                <div id="copy-link-parent">
                    <div id="copy-link-btn" data-clipboard-action="copy" data-clipboard-target="#copy-value">复制链接</div>
                </div>
                <!--<![endif]-->
                <div>复制以下链接，发送给好友！</div>
                <div id="copy-value"/>sdfsdfsdf</div>
        <b>新手注册送120元，首投最高送150元，邀请好友首投再得50元!<a>更多新手秘笈></a></b>
        </div>
             <div class="notTwo-noLog">
                <img src="images/notice2.png" alt=""/>
                <em></em>
                <p>请好友用你的工场码，注册并首投满5000元，即算成功邀请<br>登陆后查看我的工场码<br>还没有工场码？注册即可拥有。</p>
                <a>登录注册</a>
                 <b>新手注册送120元，首投最高送150元，邀请好友首投再得50元!<span>更多新手秘笈></span></b>
            </div>
    </div>
    </div>
    <div class="notice-wap"><div class="notice-wap-con"><span></span></div></div>
    <div class="act-inf"><div class="act-inf-close"></div><div class="act-inf-h">活动说明<a name="act-inf-h"></a></div><div class="act-inf-text">
        1. 活动期间，若被邀请人首次投资选择债权转让项目，则该被邀请的好友不计入邀请人奖励统计；且投资人投资债权转让项目，该笔投资不享受活动福利；被<br>&#12288;邀请人投资项目若进行债权转让，则该项目投资金额不计入好友投资数据；</div><div class="act-inf-text">
        2. 周邀请任务工豆奖励于每周结束后3个工作日内，统一发放至邀请人的工场账户；</div><div class="act-inf-text">
        3. 月度奖金工豆奖励将于每月结束后7个工作日内，统一发放至邀请人的工场账户；</div><div class="act-inf-text">
        4. 季度奖金工豆奖励将于活动结束后7个工作日内，统一发放至邀请人的工场账户；</div><div class="act-inf-text">
        5. 金融工场有权随时随机抽查邀请人所推荐好友的真实性，一旦发现存在好友用虚假手机号注册、好友对注册金融工场账户不知情及非好友真实意愿等造假和<br>&#12288;欺骗行为，则立即清除虚假好友的统计数据并回收相关奖励，且保留追究由此给金融工场带来的一切损失的权利。 </div>
    </div>
</div>
<div class="pc-foot">
    <div class="pc-foot-cnt">
        <img class="sit-bean" src="images/sit.png" style="position: fixed;z-index: 122;">
        <span>朋友多，这些奖励还觉得不够？</span>
        <a   class="button" onclick="toggleYaoQingYouLi()">更多邀友奖励</a>
        <a   class="button1" onclick="howInvite();">如何邀友</a>
        <img class="closeUpStra" src="images/close1.png">
    </div>
</div>
<div class="activityNotice">
    <img src="images/acNotice.png" alt=""/>
</div>
{% endblock %}
