<!DOCTYPE html>
<!--[if lt IE 9 ]>
<html lang="zh-cn" class="not-support-ie8">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=720, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="renderer" content="webkit"/>
    <meta name="compiledAt" content="{{ COMPILED_AT }}"/>

    <title>{{#> title}}工场微金 - 灵活、分散、智能、稳健的网络借贷信息中介平台{{/title}}</title>

    <meta name="keywords" content="工场微金,借贷撮合,网络借贷信息中介平台,理财,互联网金融,网络理财"/>
    <meta name="description"
          content="工场微金由北京凤凰信用管理有限公司管理运营，专注于向借款人及出借人（用户）提供撮合服务的网络借贷信息中介平台。平台作为首批中国互联网金融协会成员单位及北京网贷行业协会发起会员单位，主要为用户提供信息搜集、信息公布、资信评估、信息交互、借贷撮合等服务。平台顺应网贷行业监管要求，更加贴近小微信贷与普惠金融，更好的服务于平台新老用户，服务于中国实体经济，合规发展，稳健运营！"/>
    <link type="text/css" rel="stylesheet" href="stylesheets/all.less.css"/>

    {{#> css }}{{/css}}
    {{#> head_javascripts }}{{/head_javascripts}}
</head>
<body>

<!--接口地址前缀,结尾需要添加斜线-->
<input type="hidden" id="api-path" value="{{ API_PATH }}"/>

<div id="header-status-bar"></div>

{{> header-nav-bar}}

{{#> content}}{{/content}}

{{> footer }}

{{> sidebar-fn }}

<script src="javascripts/lib.js"></script>
<script src="javascripts/bundle.js"></script>

{{#if production }} {{> exception-handler url="https://4135eb9a33e248e984bcc7789424be8e@sentry.dougemall.com/3" }} {{/if}}

{{#> javascripts }}{{/javascripts}}
</body>
</html>
