<div class="global-footer">
    <div class="container">

        <div class="row-1">
            <div class="column column-1">
                <a href="/" class="home-link"><img src="images/global-footer/p2p-logo-footer.png"></a>

                <a href="/static/p2p-web/aboutus/index.html#aboutus" target="_blank">关于我们</a>
                <a href="/static/p2p-web/aboutus/index.html#contactus" target="_blank">联系我们</a>
                <a href="/help/explanation" target="_blank">帮助中心</a>
                <a href="/static/p2p-web/aboutus/index.html#school" target="_blank">网贷学堂</a>
            </div>
            <div class="column column-2">
                <div class="service-time"><b>客服电话 </b>（周一至周日8:30-21:00）</div>
                <div class="service-phone">400-0322-988</div>
                <div class="service-phone">010-65255966</div>

                <div class="service-connect">
                    <a class="service-qq" target="_blank"
                        href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODA1MDEyNl80NTQzNjZfNDAwNjc2Njk4OF8yXw">
                        <b class="icon-qq"></b>在线客服</a>

                    <!--<a href="https://weibo.com/jingronggongchang" title="新浪微博：@金融工场_官微"-->
                       <!--class="service-weibo">-->
                        <!--<img src="images/global-footer/icon-footer-no.4.png">-->
                    <!--</a>-->
                    <!--微信分享-->
                    <a class="service-wechat">
                        <img src="images/global-footer/icon-footer-no.5.png">
                        <img class="wechat-qrcode" src="images/global-footer/icon-footer-no.6.png">
                    </a>
                </div>
            </div>
            <div class="column column-3">

                <div class="app-title">扫描下载工场微金APP</div>

                <a class="app-qrcode" href="/static/p2p-web/app-download/index.html">
                    <img src="images/global-footer/icon-footer-no.7.png">
                    扫描下载APP
                </a>

                <a class="app-iphone" href="https://itunes.apple.com/cn/app/jin-rong-gong-chang/id939125881?mt=8"
                   target="_blank"><b></b>iPhone</a>

                <a class="app-android" href="http://app.9888.cn/download/apk"><b></b>Android</a>

            </div>
        </div>


        <div class="row-2">
            合作机构：
            <a href="http://www.ucf.cn/index.shtml" target="_blank">联合创业担保</a>
            <a href="http://www.hsbank.com.cn/" target="_blank">徽商银行</a>
        </div>

        <div class="row-3">
            友情链接：
            <a href="http://www.bjp2p.com.cn/" target="_blank">北京市互联网金融行业协会</a>
            <a href="http://www.wdzj.com" target="_blank">网贷之家</a>
            <a href="http://www.zhongchou.cn/" target="_blank">众筹网</a>
            <a href="http://www.p2peye.com/platform/item-595.html" target="_blank">网贷天眼</a>
            <a href="http://www.qlotc.cn/" target="_blank">齐鲁股权交易中心</a>
            <a href="http://www.wangdaidp.com/archives-view.html?aid=940" target="_blank"> 网贷点评网</a>
            <a href="http://www.p2pchina.com/" target="_blank">网贷中国</a>
            <a href="http://p2p.hexun.com/" target="_blank">和讯P2P</a>
            <a href="http://www.xinwangdai.com.cn/" target="_blank">新网贷</a>
            <a href="http://www.ucai123.com/" target="_blank">航运指数</a>
        </div>

        <div class="row-4">
            <a href="http://www.315online.com.cn/member/315140025.html" target="_blank"
               class="link-1" title="网上交易保障中心"></a>
            <a href="http://si.trustutn.org/info?sn=391151019000300532456" target="_blank"
               class="link-2" title="可信网站 身份验证"></a>
            <a href="https://search.szfw.org/cert/l/CX20140816008716005008" target="_blank"
               class="link-3" title="诚信网站"> </a>
            <a href="http://v.pinpaibao.com.cn/authenticate/cert/?site=www.9888.cn&amp;at=business" target="_blank"
               class="link-4" title="安全联盟 行业认证"></a>
            <a href="https://www.ebaoquan.org/" target="_blank"
               class="link-5" title="易保全"></a>
        </div>

        <div class="row-5">
            ICP备案号：京ICP备14029254号-1 | 经营性ICP许可证号：京ICP证140736号 | 京公网安备11010502031615号
            <br/>
            &copy; 2017 北京凤凰信用管理有限公司版权所有 市场有风险，出借需谨慎
        </div>
    </div>
</div>
