<div class="header-nav-bar">
    <div class="container">
        <a href="/" class="header-nav-bar-logo"></a>
        <div class="header-nav-bar-links">
            <li><a href="/">首页</a></li>
            <li><a href="/prdClaims/list.shtml?SearchType=P2P">我要出借</a></li>
            <li><a href="/borrow/loanIndex/index.shtml">我要借款</a></li>
            <li><a href="/prdTransfer/list.shtml">债权转让</a></li>
            <li><a class="active" href="/static/p2p-web/notice-information-disclosure/index.html">信息披露</a></li>
            <li><a href="/static/p2p-web/aboutus/index.html#school">网贷学堂</a></li>
        </div>
    </div>
</div>
