{% extends '../../../lib/templates/web_base.swig.html' %}

{% block title %}金融工场是由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的专注于小贷公司资产交易的P2P平台—上金融工场，圆财富梦想！{% endblock %}

{% block content %}
<div class="commission">
    <div class="title">
        <img src="images/title.jpg">
    </div>
    <div class="firstSection">
        <span class="lastmonth">上月好友累投尊享标年化额越高<br/>（含自己投资）</span>
        <span class="current">本月您的佣金比例越高</span>
        <span class="benefit">单笔投资期限越长，得到的年化佣金越多</span>
    </div>
    <div class="secondSection">
        <img src="images/calculatetitle_03.jpg" class="countTitle">
        <p class="titleline">投资尊享标和投资P2P标，佣金比例计算标准不同。</p>
        <div class="case">
            <div class="casetitle">尊享标的A码返佣比例根据其上个月完成该种类标的好友年化投资额的多少，确定其本月佣金比例，每月一调整。</div>
            <table class="casetable" border="0">
                <tr class="fline">
                    <th style="width: 248px">上月好友累投尊享标年化金额<br/>（含自己投资）</th>
                    <th>100000以下</th>
                    <th>100000-499999</th>
                    <th>500000-999999</th>
                    <th>1000000-2999999</th>
                    <th>3000000及以上</th>
                </tr>
                <tr class="sline">
                    <td>本月年化佣金返利比例</td>
                    <td>0.25%</td>
                    <td>0.75%</td>
                    <td>1.00%</td>
                    <td>1.30%</td>
                    <td>1.50%</td>
                </tr>
                <tr class="tline">
                    <td>本月年化佣金返利比例</td>
                    <td >
                    </td>
                </tr>
            </table>
            <div class="text">
                <p>按天计算公式=单笔投资金额*投资期限（天）/360*当月对应的年化佣金比例</p>
                <p>按月计算公式=单笔投资金额*投资期限（月）/12*当月对应的年化佣金比例</p>
            </div>
            <div class="caseleft">
                <div class="up">
                    某A码销售人员11月完成好友（含自己）累投尊享标的年化投资额为88万元，则12月份的佣金返利比例为1%，12月内好友单笔投资尊享标的佣金返利举例如下
                </div>
                <table class="down">
                    <tr class="one">
                        <th style="width: 101px">投资期限</th>
                        <th style="width: 114px">投资金额</th>
                        <th style="width: 240px">佣金返利</th>
                    </tr>
                    <tr class="two">
                        <td>180天</td>
                        <td>10000元</td>
                        <td>10000*180/360*1%=50元</td>
                    </tr>
                    <tr class="two">
                        <td>8个月</td>
                        <td>200000元</td>
                        <td>200000*8/12*1%=1333.33元</td>
                    </tr>
                </table>
            </div>
            <div class="caseright">
                <div class="up">
                    他在12月完成好友（含自己）累投尊享标的年化投资额为105万，则其在明年1月份的佣金返利比例为1.3%，明年1月内好友单笔投资尊享标的佣金返利举例如下
                </div>
                <table class="down">
                    <tr class="one">
                        <th style="width: 101px">投资期限</th>
                        <th style="width: 114px">投资金额</th>
                        <th style="width: 240px">佣金返利</th>
                    </tr>
                    <tr class="two">
                        <td>180天</td>
                        <td>10000元</td>
                        <td>10000*180/360*1.3%=65元</td>
                    </tr>
                    <tr class="two">
                        <td>8个月</td>
                        <td>200000元</td>
                        <td>200000*8/12*1.3%=1733.33元</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--<img src="images/rate_03.jpg" class="pic1">-->
        <!--<img src="images/part03.jpg" class="pic2">-->
        <div class="casetwo">
            <div class="desline">
                P2P标的A码返佣比例为1%，投资超过18个月标按18个月计算佣金。其中按期等额还款项目最终年化佣金需乘以0.56，0.56为借款方占用投资方的资金使用率。
            </div>
            <table class="destable">
                <tr class="desone">
                    <th style="width: 233px;color:#ff4f4f;font-weight: bold">单笔投资期限</th>
                    <th>所有期限</th>
                </tr>
                <tr class="destwo">
                    <td style="color:#ff4f4f;font-weight: bold">年化佣金返利比例</td>
                    <td style="line-height: 22px;">1%<br/><span style="color:#ff4f4f;font-weight: bold">（超过18个月标按18个月计算佣金）</span></td>
                </tr>
                <tr class="desthree">
                    <td style="color:#ff4f4f;font-weight: bold">佣金返利计算公式</td>
                    <td style="line-height: 22px;">
                        按天还款项目公式=单笔投资金额*投资期限（天）/360*1%<br/>
                        按期等额还款项目公式=单笔投资金额*投资期限（月）/12*1%*0.56<br/>
                        其他按月还款项目公式=单笔投资金额*投资期限（月）/12*1%
                    </td>
                </tr>
                <tr class="desfour">
                    <td style="color:#ff4f4f;font-weight: bold">提示</td>
                    <td>0.56为借款方占用投资方的资金使用率，超过18个月标按18个月计算佣金。</td>
                </tr>
            </table>
            <div class="ptwopcase">
                某A码销售人员，其好友投资的是P2P标，则好友单笔投资P2P标的佣金返利举例如下
            </div>
            <table class="ptwoptable">
                <tr>
                    <th style="width:146px;">还款方式</th>
                    <th style="width:120px;">投资期限</th>
                    <th style="width:226px;">投资金额</th>
                    <th style="width:262px;">佣金返利</th>
                </tr>
                <tr>
                    <td>按天还款项目</td>
                    <td>180天</td>
                    <td>10000元</td>
                    <td>10000*180/360*1%=50元</td>
                </tr>
                <tr>
                    <td>按月等额还款</td>
                    <td>8个月</td>
                    <td>200000元</td>
                    <td>200000*8/12*1%*0.56=746.67元</td>
                </tr>
                <tr>
                    <td>按季等额还款</td>
                    <td>6个月</td>
                    <td>100000元</td>
                    <td>100000*6/12*1%*0.56=280元</td>
                </tr>
                <tr>
                    <td>按月付息到期还本</td>
                    <td>18个月</td>
                    <td>100000元</td>
                    <td>100000*18/12*1%=1500元</td>
                </tr>
                <tr>
                    <td>一次性还本付息</td>
                    <td>24个月</td>
                    <td>50000元</td>
                    <td>50000*18/12*1%=750元</td>
                </tr>
            </table>
        </div>
        <img src="images/doumei_03.png" class="doumei">
    </div>
    <div class="thirdSection">
        <div class="prompt">
            温馨提示：<br/>
            1、投资债权转让标不计年化佣金；<br/>
            2、灵活收益标投资起息后先发锁定期佣金返利，回款后再发剩余天数佣金返利；<br/>
            3、最终返利取值四舍五入保留2位小数点；<br/>
            4、佣金返利起息后以工豆形式发放。<br/>
            5、由于2016年12月1日才有尊享标类型，故2016年12月份尊享标佣金比例将根据2016年11月份好友累投非等额还款标（除购买债权转让）的年化投资额确定。
        </div>
    </div>
    <div class="last">
        <table class="lasttable">
            <tr class="lastone">
                <th style="width: 137px;">考核项目</th>
                <th style="width: 222px;">月度年化交易额（元）</th>
                <th style="width: 184px;">月度拉新下限（人）</th>
                <th style="width: 200px;">月度拉新上限（人）</th>
            </tr>
            <tr class="lasttwo">
                <td>A码人员标准</td>
                <td>10万</td>
                <td>5</td>
                <td>30</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}