{{#> base }}

{{#* inline "javascripts" }}
<script src="javascripts/index.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=1k0hI3NQCtMWDQN0D0kmpXuIYV2GjM0e"></script>
<script type="text/javascript"
        src="https://api.map.baidu.com/library/AreaRestriction/1.2/src/AreaRestriction_min.js"></script>
{{/inline}}

{{#* inline "content"}}
<div class="aboutus-container">
    <div class="aboutus-title">
        首页&nbsp;&nbsp;><span class="aboutus">关于我们</span>
    </div>
    <div class="aboutus-box clearfix">
        <div class="a-left clearfix">
            <div class="left-item active">
                <i class="l-icon icon-aboutus"></i>
                <span class="l-content">关于我们</span>
            </div>
            <div class="left-item">
                <i class="l-icon icon-partner"></i>
                <span class="l-content">合作伙伴</span>
            </div>
            <div class="left-item">
                <i class="l-icon icon-contactus"></i>
                <span class="l-content">联系我们</span>
            </div>
            <div class="left-item">
                <i class="l-icon icon-school"></i>
                <span class="l-content">网贷学堂</span>
            </div>
        </div>
        <div class="a-right">
            <div class="r-item r-item1" style="display: block">
                <div class="item-box item1-box">
                    <div class="item-title item1-title">平台介绍</div>
                    <div class="item1-des"><span style="padding-left: 30px"></span>工场微金由北京凤凰信用管理有限公司管理运营，注册资金5000万元，是一家向借款人及出借人（用户）提供撮合服务的网络借贷信息中介平台。平台作为首批中国互联网金融协会成员单位及北京市互联网金融行业协会发起会员单位，主要为用户提供信息搜集、信息公布、资信评估、信息交互、借贷撮合等服务。平台于2016年成功完成资金的银行存管，实现用户资金和平台自有资金的完全隔离，确保用户资金安全。平台顺应网贷行业监管要求，更加贴近小微信贷与普惠金融，更好的服务于平台新老用户，服务于中国实体经济，合规发展，稳健运营！
                    </div>
                </div>
            </div>
            <div class="r-item r-item4" style="display: none">
                <div class="item-title item4-title">
                    推荐机构
                </div>
                <div class="item4-parnter">
                    <a class="parnter-item" href="http://www.hsbank.com.cn/">
                        <img src="images/logo-hs.png">
                    </a>
                    <a class="parnter-item" href="http://www.ucf.cn/">
                        <img src="images/logo-lh.png">
                    </a>
                </div>
                <div class="parnter-link">
                    <div class="link-title">友情链接</div>
                    <div class="link-text">
                        <a href="http://www.bjp2p.com.cn/" class="link-first">北京市互联网金融行业协会</a>
                        <a href="http://www.wdzj.com/">网贷之家</a>
                        <a href="http://www.p2peye.com/">网贷天眼</a>
                        <a href="http://www.licaizhijia.com/dangan-detail.html?aid=62">网贷点评网</a>
                        <a href="http://www.p2pchina.com/">网贷中国 </a>
                        <a href="http://p2p.hexun.com/">和讯P2P</a>
                        <a href="http://www.xinwangdai.com.cn/" class="link-last">新网贷</a>
                    </div>
                </div>
            </div>
            <div class="r-item r-item2" style="display: none">
                <div class="item2-box" id="item3-box">
                    <div class="item-title item2-title">
                        联系我们
                    </div>
                    <div class="item2-name">
                        工场微金
                    </div>
                    <div class="item2-adress">
                        地址：北京市朝阳区朝阳门外大街18号11层1105内008号
                    </div>
                    <div class="item2-path">
                        交通：地铁2号线或6号线朝阳门站A口出向东步行250米
                    </div>
                    <div class="bdmap" id="bdmap">

                    </div>
                    <div class="serve">
                        <div class="serve-title">客户服务</div>
                        <div class="serve-content">
                            <div class="line">如果您在使用工场微金(www.gongchangp2p.com)的过程中有任何疑问，请您与工场微金客服人员联系。</div>
                            <div class="line">客户热线：400-0322-988(免长途费)</div>
                            <div class="line">
                                服务时间： 周一至周日 8:30-21:00
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="r-item r-item3" style="display: none">
                <div class="item-box item3-box">
                    <div class="item-title item3-title">
                        网贷学堂
                    </div>
                    <div class="item3-policy">
                        <div class="policy-title">
                            <a href="#">政策法规</a>
                        </div>
                        <div class="policy-item active">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/1.中华人民共和国网络安全法.pdf" target="_blank">1.中华人民共和国网络安全法</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/2.中华人民共和国广告法.pdf" target="_blank">2.中华人民共和国广告法</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/3.中华人民共和国电子签名法.pdf" target="_blank">3.中华人民共和国电子签名法</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/4.中国人民共和国反洗钱法.pdf" target="_blank">4.中华人民共和国反洗钱法</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/5.央行等十部委《关于促进互联网金融健康发展的指导意见》.pdf" target="_blank">5.央行等十部委《关于促进互联网金融健康发展的指导意见》</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/6.网络借贷信息中介机构业务活动管理暂行办法.pdf" target="_blank">6.网络借贷信息中介机构业务活动管理暂行办法</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/7.国务院办公厅互联网金融风险专项整治工作实施方案.pdf" target="_blank">7.国务院办公厅互联网金融风险专项整治工作实施方案</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/8.通过互联网开展资产管理及跨界从事金融业务风险专项整治工作实施方案.pdf" target="_blank">8.通过互联网开展资产管理及跨界从事金融业务风险专项整治工作实施方案</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/9.工商总局等开展互联网金融广告及以投资理财名义从事金融活动风险专项整治工作实施方案.pdf" target="_blank">9.工商总局等开展互联网金融广告及以投资理财名义从事金融活动风险专项整治工作实施方案</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/10.北京市互联网金融风险专项整治工作实施方案.pdf" target="_blank">10.北京市互联网金融风险专项整治工作实施方案</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/11-1.中国互联网金融协会信息披露自律管理规范.pdf" target="_blank">11-1.中国互联网金融协会信息披露自律管理规范</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/11-2.中国互联网金融信息披露标准：个人网络借贷.pdf" target="_blank">11-2.中国互联网金融信息披露标准：个人网络借贷</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/12.P2P网络借贷风险专项整治工作实施方案.pdf" target="_blank">12.P2P网络借贷风险专项整治工作实施方案</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/13.网络借贷资金存管业务指引（正式版）.pdf" target="_blank">13.网络借贷资金存管业务指引（正式版）</a>
                        </div>

                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/14.关于规范整顿‘’现金贷“业务的通知.pdf" target="_blank">14.关于规范整顿‘’现金贷“业务的通知</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/15.关于开展“现金贷”业务活动清理整顿工作的通知.pdf" target="_blank">15.关于开展“现金贷”业务活动清理整顿工作的通知</a>
                        </div>

                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/16.网络借贷信息中介机构备案登记管理指引.pdf" target="_blank">16.网络借贷信息中介机构备案登记管理指引</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/17.网络借贷信息中介机构业务活动信息披露指引.pdf" target="_blank">17.网络借贷信息中介机构业务活动信息披露指引</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/18.互联网金融   个体网络借贷资金存管业务规范.pdf" target="_blank">18.互联网金融   个体网络借贷资金存管业务规范</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/pdf/wap/policy/19.互联网金融  个体网络借贷 资金存管系统规范.pdf" target="_blank">19.互联网金融  个体网络借贷 资金存管系统规范</a>
                        </div>
                    </div>
                    <div class="item3-policy">
                        <div class="policy-title">
                            <div>网贷百科</div>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/word/网贷百科/P2P借款人义务及禁止性行为.docx" target="_blank">1.P2P借款人义务及禁止性行为</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/word/网贷百科/何为网贷平台资金存管.docx" target="_blank">2.何为网贷平台资金存管</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/word/网贷百科/网贷平台13条禁止性红线.docx" target="_blank">3.网贷平台13条禁止性红线</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/word/网贷百科/网络借贷出借人资格及义务.docx" target="_blank">4.网络借贷出借人资格及义务</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/word/网贷百科/网络借贷信息中介平台的性质与定位.docx" target="_blank">5.网络借贷信息中介平台的性质与定位</a>
                        </div>
                    </div>
                    <div class="item3-policy">
                        <div class="policy-title">
                            <div>出借人教育</div>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/word/出借人教育/如何识别互联网金融陷阱.docx" target="_blank">1.如何识别互联网金融陷阱</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/word/出借人教育/如何识别网贷平台的“自融自保”.docx" target="_blank">2.如何识别网贷平台的“自融自保”</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/word/出借人教育/什么是流动性风险.docx" target="_blank">3.什么是流动性风险</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/word/出借人教育/网贷平台应披露哪些项目信息？.docx" target="_blank">4.网贷平台应披露哪些项目信息？</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/word/出借人教育/网络借贷出借风险有哪些？.docx" target="_blank">5.网络借贷出借风险有哪些？</a>
                        </div>
                        <div class="policy-item">
                            <a href="https://static.gongchangp2p.com/word/出借人教育/正确认识与规范发展互联网金融.docx" target="_blank">6.正确认识与规范发展互联网金融</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{/inline}}

{{/base}}
