{% extends '../lib/templates/loan-web.swig.html' %} {% block javascripts %}
<script src="javascripts/index.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=1k0hI3NQCtMWDQN0D0kmpXuIYV2GjM0e"></script>
<script type="text/javascript" src="https://api.map.baidu.com/library/AreaRestriction/1.2/src/AreaRestriction_min.js"></script>

{% endblock %} {% block content %}
<!--<div id="header"></div>
<div id="content"></div>-->
{% endblock %}