{% extends '../../../lib/templates/eten_base.swig.html' %}

{% block content %}
<div class="container main-panel">
    <div class="successfulPrompt">
            <div class="promptContent_1">
                <img src="images/ico_right.jpg" class="promptPic">
                <span class="promptText">注册成功</span>
            </div>
            <p class="promptContent_2">
                恭喜您获得注册奖励<span class="promptRed">120元</span>返现券
            </p>
    </div>
    <div class="returnCash">
        <img src="images/reg_prize.png" class="returnCashPic">
    </div>
    <div class="loginBox">
        <p class="loginTips">赶快登录使用吧</p>
        <a href="http://www.9888.cn/orderUser/login.shtml" class="loginButton">登录</a>
    </div>
</div>
{% endblock %}