
body, div, canvas {
  image-rendering: optimizeSpeed;
  -webkit-image-rendering: optimizeSpeed;
  -webkit-interpolation-mode: nearest-neighbor;
}

body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  background-color: #fff;
}

body, html {
  height: 100%;
}

.content {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  width: 100%;
}

.start-page {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #c1d029 url(../images/start-page-1.jpg) no-repeat;
  background-size: 100%;

  .rule {
    width: 240px;
    height: 100px;
    background: transparent url(../images/start-page-btn-rule.png) no-repeat;
    background-size: 100%;
    float: left;
    margin-left: 100px;
  }
  .start {
    width: 265px;
    height: 265px;
    display: block;
    margin: 700px auto 50px;
    background: transparent url(../images/start-page-btn-start.png) no-repeat;
    background-size: 100%;
  }
  .guide {
    width: 240px;
    height: 100px;
    display: block;
    background: transparent url(../images/start-page-btn-guide.png) no-repeat;
    background-size: 100%;
    float: right;
    margin-right: 100px;
  }

  .rule-dialog {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(28, 140, 144, 0.9);
  }

  .rule-detail {
    position: absolute;
    top: 300px;
    width: 560px;
    left: 50%;
    margin-left: -280px;
    border-radius: 20px;
    background: white;
    min-height: 600px;

    img {
      max-width: 90%;
      position: relative;
      top: -60px;
      left: 80px;
    }

    .text {
      color: #728ba3;
      margin: 20px;
      font-size: 36px;
    }
  }

  .guide-dialog {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(28, 140, 144, 0.9);
  }

  .guide-detail {
    position: absolute;
    top: 200px;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    height: 800px;
    background: transparent url(../images/start-page-bg-guide.png) no-repeat;
    background-size: 100%;
    padding-top: 200px;

    img {
      width: 80%;
      display: block;
      margin: 20px auto 0;
    }

    .text {
      font-size: 36px;
      text-align: center;
      margin: 10px auto;
    }
  }
}

.level-list {
  background: #f6d3ab;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;

  .header {
    width: 100%;
  }

  .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .level {
    position: relative;
    background-size: 100% !important;
    margin: 10px auto;
    float: left;
    width: 33.3%;

    & > div {
      width: 184px;
      height: 184px;
      margin: 0 auto;
      background-size: 100% !important;
      position: relative;
    }

    .img-unlocked {
      background: transparent url('../images/level-complete.png') no-repeat;
    }

    .img-unlocked.level-gift {
      background: transparent url('../images/level-complete-gift.png') no-repeat;
    }

    .img-locked {
      background: transparent url('../images/level-not-complete.png') no-repeat;
    }

    .img-locked.level-gift {
      background: transparent url('../images/level-not-complete-gift.png') no-repeat;
    }

    .star {
      display: block;
      width: 120px;
      height: 46px;
      position: absolute;
      left: 50%;
      margin-left: -60px;
      bottom: 10px;
      background-size: 100% !important;
    }

    .num {
      color: white;
      font-size: 60px;
      text-align: center;
      padding-top: 46px;
    }

    .img-locked .num {
      display: none
    }

    .level-gift .star {
      bottom: 2px;
    }

    .star-1 {
      background: transparent url('../images/star-1.png') no-repeat;
    }

    .star-2 {
      background: transparent url('../images/star-2.png') no-repeat;
    }

    .star-3 {
      background: transparent url('../images/star-3.png') no-repeat;
    }

  }
}

.level-prepare {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #42b6d5;
  z-index: 3;

  .up {
    background: white;
    position: relative;
    margin: 200px auto 0;
    width: 500px;
    border-radius: 60px;
    padding: 10px 0;

    .title {
      top: -70px;
      width: 376px;
      height: 116px;
      position: absolute;
      left: 50%;
      margin-left: -188px;
      background: transparent url(../images/prepare/title.png) no-repeat;
      color: white;
      text-align: center;
      font-size: 40px;
      line-height: 80px;
    }

    .dou-ge {
      display: block;
      margin: 20px auto;
    }

    .start {
      display: block;
      margin: 20px auto;
    }
  }

  .ladder {
    background: white;
    position: relative;
    margin: 40px auto 0;
    width: 500px;
    border-radius: 20px;
    overflow: hidden;

    .ladder-title {
      height: 65px;
      color: white;
      line-height: 65px;
      font-size: 30px;
      text-align: center;
      background: #ff7c2c;
    }

    .ladder-list {
      height: 300px;
      overflow: scroll;
      padding: 20px;
      box-sizing: border-box;
    }
    .ladder-item {
      display: table;
      width: 100%;
      margin: 10px;
      font-size: 24px;

      .num, .avatar, .name {
        float: left;
        display: block;
        margin-right: 20px;
      }
      .score {
        float: right;
      }
    }
  }
}

.level-pause {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #42b6d5;

  .dialog {
    position: absolute;
    width: 519px;
    height: 427px;
    left: 50%;
    margin-left: -260px;
    top: 50%;
    margin-top: -219px;
    background: transparent url(../images/pause-bg.png) no-repeat;

    img {
      display: block;
      margin: 270px auto 0;
    }
  }
}

.level-complete {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #81dcf4;

  .dialog {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 518px;
    height: 467px;
    margin: 100px auto 0;
    position: relative;
    padding-top: 80px;

    &.pass {
      background-image: url(../images/level-bg-complete.png);
    }
    &.fail {
      background-image: url(../images/level-bg-fail.png);
    }

    .score {
      text-align: center;
      font-size: 28px;
      padding: 30px;
    }

    .btn-next, .btn-retry {
      height: 79px;
      width: 225px;
      float: left;
      margin-left: 60px;
    }

    .btn-level-list {
      width: 83px;
      height: 81px;
      margin-right: 80px;
    }
  }

  .star {
    width: 219px;
    height: 76px;
    margin: 40px auto 0;
    background-size: 100%;

    &.star-0 {
      background-image: url(../images/star-0.png);
    }
    &.star-1 {
      background-image: url(../images/star-1.png);
    }
    &.star-2 {
      background-image: url(../images/star-2.png);
    }
    &.star-3 {
      background-image: url(../images/star-3.png);
    }
  }

  .btn-level-list {
    float: right;
  }
}