{{#> base }}

{{#* inline "content"}}
<div class="part1"></div>
<div class="part2">
    <div class="container">
        <div class="user-example">
            <img src="images/ua.png" />
            <div class="user-name">老用户</div>
            <div class="user-desc">亲爱的工友, 升级后即可开通徽商银行存</div>
            <div class="user-desc">管账户, 为您提供更真诚透明的借贷服务</div>
        </div>
        <div class="user-example">
            <img src="images/ub.png" />
            <div class="user-name">新用户</div>
            <div class="user-desc">安全保障全新升级</div>
            <div class="user-desc">开启您的借贷之旅</div>
        </div>
        <div class="part2-btn">
            <a href="/depository/openAccount/toConfirmDepository.shtml" class="part2-upgrade">立即升级</a>
            <a href="/depository/regist/toRegist.shtml?sourceSite=jrgc" class="part2-register">立即注册</a>
        </div>
    </div>
</div>
<div class="part3">
    <img src="images/part3_01.png" />
    <table class="part3-table">
        <tr>
            <td>资金安全更放心</td>
            <td>充值转账更简单</td>
            <td>账户提现更快捷</td>
            <td>余额生息新模式</td>
        </tr>
        <tr>
            <td>
                &check; 避免产生资金池<br />
                &check; 资金流向更透明<br />
                &check; 降低风险有保障    
            </td>
            <td>
                &check; 个人网银<br />
                &check; 快捷支付<br />
                &check; 支付宝转账<br />
                &check; 银行转账
            </td>
            <td>
                &check; 实时提现<br />
                &check; 大额提现
            </td>
            <td>
                &check; 收益最大化<br />
                &check; 资金不站岗<br />
                &check; 资金更灵活
            </td>
        </tr>
    </table>
</div>
<div class="part4">
        <h4>帮你快速上手</h4>

    <div class="content">
        <div class="content-title">1. 老用户的升级流程</div>
        <img src="images/part4_02.jpg"/>
        <div class="content-title">2. 新用户如何开户</div>
        <img src="images/part4_04.jpg"/>
        <div class="content-title">3. 徽商银行资金存管上线后, 哪些地方需要输入交易密码?</div>
        <div class="content-desc">
            <div>
                <span>出借, 提现, 购买债券转让</span>时, 需要在徽商银行校验交易密码页面中进行确认, 如下图:
            </div>
            <img src="images/part4_03.jpg" />
        </div>
        <div class="content-title">4. 什么是余额利息?</div>
        <div class="content-desc">
            余额利息是用户徽商存管电子账户的可用余额所产生的利息, 该利息按照徽商银行定期存款利率or活期存管利率按照 "靠档计息规则" 进行计算, 该利息每日进行结算, 用户可以在个人中心查询<br /><br />

            靠档计息规则:<br />
            徽商银行自动靠当计息业务开通了 <span class="red-font">三个月, 六个月, 一年, 两年, 三年, 五年</span> 这6个档位<br /><br />

            关于结息利率:<br />
            靠当计息账户在进行提前支取时, 存款利率按照满足存期要求的最大靠档利率结算
        </div>
        <div class="content-title">5. 如何办理快捷支付及预留快捷支付手机号?</div>
        <div class="content-desc">
            <img src="images/part4_05.jpg"/>
            <div> &nbsp; &nbsp; 注意: 由于银行需对数据进行更新, 因此建议您办理快捷业务后, 1~2工作日后再进行交易</div>
        </div>
        <div class="content-title">6. 如何修改银行卡号, 开户行?</div>
        <div class="content-desc">
            <img src="images/part4_06.jpg"/>
        </div>
        <div class="content-title">7. 如何充值? 有时间限制吗?</div>
        <div class="content-desc">
            <img src="images/part4_07.jpg"/>
            <table class="part4-7-table">
                <tr>
                    <td>
                        无论工作日或休息日, 全天24小时均可通过徽商银行村官系统进行充值
                    </td>
                    <td>
                        徽商银行针对PC端, 移动端提供了包含快捷充值, 网银充值, 支付宝转账, 线下转账等多种方式
                    </td>
                    <td>
                        个人用户的充值方式包括:
                        网银支付, 快捷支付, 支付宝支付, 线下转账方式
                    </td>
                    <td>
                        机构用户的充值方式包括:
                        机构用户不能使用快捷和个人网银, 可通过企业网银和线下转账进行充值
                    </td>
                </tr>
            </table>
        </div>
        <div class="content-title">8. 必须用绑定银行卡进行充值吗?</div>
        <div class="content-desc">
            网银充值可以用不同的银行卡进行充值, 但快捷充值必须是已绑定的银行卡才能进行充值
        </div>
    </div>
</div>

{{/inline}} 

{{/base}}