{% extends '../../../lib/templates/p2p-web-base.swig.html' %}

{% block title %}工场微金是由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的专注于小贷公司资产交易的P2P平台—上工场微金，圆财富梦想！{% endblock %}

{% block javascripts %}
<script src="javascripts/index.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}

<div class="top_event">
    <div class="top1">
        <!--<span class="dis">易赚盈 预期年化收益率高达6%-13% 认购起点仅100元</span>-->
        <div class="top_innner rel">
            <a href="http://www.gongchangp2p.com/prdClaims/list.shtml"></a>
        </div>
    </div>
</div>

<div class="main_event">
    <div style="position: relative; top: 0px; left: 0px;" class="menue">
        <ul>
            <li class="list1"><a class="" href="javascript:;"><span></span>项目简介</a></li>
            <li class="list2"><a class="" href="javascript:;"><span></span>风险保障</a></li>
            <li class="list3"><a class="" href="javascript:;"><span></span>出借案例</a></li>
            <li class="list4"><a class="" href="javascript:;"><span></span>合作机构</a></li>
            <li class="list5"><a class="" href="javascript:;"><span></span>常见问题</a></li>
        </ul>
    </div>
    <div class="innerment">
        <div class="section block1">
            <h2><img src="images/h_tit.jpg" alt="项目简介" height="65" width="1000"></h2>
            <div class="project_info">
                <h3 class="ft4 tc">什么是<span class="red">利随享？</span></h3>
                <p class="ft2 text1 col10 mt2" style="line-height:24px">
                    利随享系列项目是一种直接融资项目，项目多为东方信贷、联创集团、盈华集团等大型优质项目提供方推荐，借款人为企业或个人，资金多用于企业经营资金周转及个人消费。本项目<span
                        class="more_txt" style="display: none;">由工场微金向交易双方提供方便快捷的投融资服务，借款人和出借人）通过工场微金平台直接签订法律协议，明确双方的权利义务关系。本项目大多由借款方提供房产作为抵押或由自然人或企业提供反担保，此外，本项目由大型融资性担保公司或国内大型金融机构为出借人提供连带责任保证担保，以保证出借人的本金及收益安全。</span><a
                        href="javascript:;" class="more_link">展开全部</a></p>
                <h3 class="ft4 tc" style="margin:42px 0 14px"><span class="red">利随享</span>的优势</h3>
                <ul class="advantage">
                    <li><em></em>借款期限<span class="red">30天~1年</span> ( 以网站项目公示期限为准 )</li>
                    <li style="width:300px"><em></em>预期年化利率高达<span class="red2">5% -10%</span></li>
                    <li><em></em>还款方式为<span class="red">到期一次性还本付息</span>或<span class="red">按月付息到期还本</span></li>
                    <li style="width:300px"><em></em>起投金额仅<span class="red2">100元</span></li>
                </ul>
            </div>
            <div class="project_info nopp"><img src="images/lisuixiang.jpg" alt="交易流程" height="517" width="956"></div>
            <p class="tc"><img src="images/pic_info2.jpg" alt="项目特点" height="415" width="956"></p>
        </div>
        <div class="section block2">
            <h2><img src="images/h_tit2.jpg" alt="资金安全" height="65" width="1000"></h2>
            <p class="tc"><img src="images/pic_info3.jpg" width="956" height="435" alt="多层风险控制保障措施"></p>
        </div>
        <div class="section block3">
            <h2><img src="images/h_tit3.jpg" alt="出借案例" height="65" width="1000"></h2>
            <div class="invest rel"><a href="http://www.gongchangp2p.com/prdClaims/list.shtml" class="btn_invest"></a></div>
            <p class="tc ft1 line_h3 red2 mt5">*若在规定募集期内未完成资金的募集，项目募集将自动撤销，资金将退回至出借人P2P平台（利随想）账户。</p>
            <p class="tc"><img src="images/pic_info5.jpg" alt="认购方式" height="494" width="956"></p>
        </div>
        <div class="section block4 rel">
            <h2><img src="images/h_tit4.jpg" alt="合作机构" height="65" width="1000"></h2>
            <div class="agency">
                <ul class="agency_list clearfix">
                    <li class="ag2">
                        <h3><span class="dis">长城盈华投资有限公司</span></h3>
                        <p class="tl">
                            长城盈华投资有限公司（以下简称"长城盈华"），是一家从事投资管理的有限责任公司，注册资金1.5亿元人民币。目前，投资及管理"汉华公务机航空有限公司"、"北京国都公务航空有限责任公司"、"星之盟传媒广告（北京）有限公司（私人飞机杂志社）"、"中国公务机俱乐部"、"北京吉美商务航空管理咨询有限公司"、"北京长城商务汽车租赁有限公司"、"上海车速递汽车租赁有限公司"、"北京途安汽车租赁有限责任公司"、"山西融安汽车租赁有限责任公司"、"北京东方泰恒汽车租赁有限公司"、"先锋智道（北京）科技有限公司"、"中国航空金融有限公司"、
                            "中国通用航空器交易中心有限公司"等多个版块。</p></li>
                    <li class="ag3">
                        <h3><span class="dis">联合创业担保集团有限公司</span></h3>
                        <p class="tl">
                            联合创业担保集团有限公司，始创于2003年，注册资本7.29亿元，是一家从事贷款担保、融资顾问、股权投资等业务的新型金融服务机构，集团在国内同行业中创造性地发展出"担保投资银行"的商业模式。集团公司已于50余家银行建立了深度合作关系，取得银行授信超百亿元，累计担保额位于全国担保行业前列。累计支持企业客户2000余户，支持企业从业人数12万余人，协助企业累计实现销售输入450亿元，实现利润55亿元，为地方经济发展做出了卓越的贡献，已成为一家跨区域经营、业务品种齐全、极具影响力的金融服务机构。联合创业担保集团有限公司秉承"顾客至上，锐意进取"的经营理念，坚持"客户第一"的原则为广大客户提供优质的项目和服务。</p>
                    </li>
                </ul>
                <div class="circle">
                    <a href="javascript:;" class="on"></a>
                    <a href="javascript:;"></a>
                </div>
            </div>
        </div>
        <div class="section block5 rel">
            <h2><img src="images/h_tit5.jpg" alt="常见问题" height="65" width="1000"></h2>
            <div class="mm_area">
                <div class="moment">
                    <div class="event clearfix">
                        <div class="icon"></div>
                        <div class="message">
                            <h3>如果借款人无力还款，如何保障出借人的本金及收益安全？</h3>
                            <p>
                                如果借款人出现逾期或坏账，对该借贷行为担保的担保机构对每笔借款提供连带责任担保，贷款到期后，借款人出现任何问题，担保机构即会启动代偿机制，按照《保证合同》约定向出借人偿付所有剩余本金及收益。然后担保机构自行负责之后的追偿，催收工作。</p>
                        </div>
                    </div>
                </div>

                <div class="moment">
                    <div class="event clearfix">
                        <div class="icon"></div>
                        <div class="message">
                            <h3>利随享项目线上都需要签哪些合同？</h3>
                            <p>利随享项目一般为个人或企业直接融资项目，签订的合同及签署主体如下：</p>
                            <p>（1）借款合同：出借人、借款人、平台方</p>
                            <p>（2）委托担保合同：借款人、担保公司</p>
                            <p>（3）保证合同：出借人、担保公司</p>
                            <p>（4）保证反担保合同：担保公司、反担保人</p>
                            <p>（5）借款人咨询服务协议：借款人、咨询方、平台方</p>
                            <p>（6）出借人咨询服务协议：出借人、咨询方、平台方</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
