.part3 img {
    display: block;
    margin: 0 auto;
}

.part1 {
    width: 100%;
    height: 300px;
    background: #3a55a4 url(../images/part1.jpg) no-repeat center center;
}

.part2 {
    width: 100%;
    height: 460px;
    background: #fff;
}

.user-example {
    float: left;
    width: 560px;
    text-align: center;
}

.user-example img {
    width: 208px;
    height: 208px;
    margin: 40px auto 20px;
}

.user-name {
    font-size: 24px;
    color: #34398f;
}

.user-desc {
    font-size: 14px;
    line-height: 24px;
    color: #777;
}

.part3 {
    width: 100%;
    height: 380px;
    background: #535583;
}

.part4 {
    padding-top: 80px;
    padding-bottom: 100px;
}

.part4 .content {
  width: 1000px;
  margin: 0 auto;
}

.part4 h4 {
    font-size: 30px;
    color: #34398f;
    text-align: center;
    margin-bottom: 40px;
}

.part2-btn {
    margin-top: 20px;
    float: left;
    font-size: 0;
    margin-left: 205px;
}

.part2-btn a {
    display: inline-block;
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    background: #fb6456;
}

.part2-btn a.part2-register {
    margin-left: 400px;
}


.guide-btn {
    display: block;
    width: 260px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    background: #fb6456;
    margin: 0 auto;
}

.content {
  background: white;
}
.content img {
  display: block;
  margin: 0 auto;
}

.content-title {
  font-size: 18px;
  background: #edf0f5;
  line-height: 50px;
  padding-left: 1em;
  border: 1px solid #ddd;
  border-bottom: 0;
}

.content-desc {
  font-size: 16px;
  padding: 2em;
  border: 1px solid #ddd;
}

.part4-7-table {
  width: 100%;

  td{
    padding: 20px;
    width: 200px;
  }

}

.red-font {
  color: #f9655a;
}

.part3-table {
  color: white;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  width: 1000px;

  td {
    padding-top: 20px;
    padding-left: 60px;
    width: 250px;
  }
}
