{% extends '../../../lib/templates/web_base.swig.html' %}

<div>
    http://www.9888.cn/activity/new-user-guide/
</div>

{% block content %}
<div class="main">
    <div class="top">
        <div class="banner"></div>
        <div class="form">
            <div class="registerTab">
                <div class="registerTab1"> 绑定手机号</div>
                <div class="registerTab2"> 完成注册</div>
                <div class="registerTab3"></div>
            </div>
            <div id="form"></div>
        </div>
    </div>

    <div class="gift clearfix">
        <div class="bg-gift clearfix">
            <div class="giftTitle">
                新手注册送120元大礼
            </div>
            <div class="subgiftTitle">
                返现券投资满额即可使用，用户可在“我的工场>优惠券”中查看详情
            </div>
            <div class="cash clearfix">
                <div class="cashred" id="redcash">
                    <img src="images/bigredpag-01.png" alt="" style="z-index: 5;position: absolute;top:0;left: 0">
                    <img src="images/redbag.png" alt="" class="redbag1" id="redbag1"
                         style="display: none;transition:10ms;position: absolute;top: 40px;left: 50px;z-index: 3">
                    <img src="images/redbag2.png" alt="" class="redbag2" id="redbag2"
                         style="display: none;transition:10ms;position: absolute;top: 20px;left: 80px;z-index: 3">
                </div>
                <div class="cashadd">
                    <img src="images/bigredpagand.png" alt="">
                </div>


                <div class="cashred" id="redcash2">
                    <img src="images/bigredpag-02.png" alt="" style="z-index: 5;position: absolute;top:0;left: 0">
                    <img src="images/redbag.png" alt="" class="redbag1" id="redbag21"
                         style="display: none;transition:10ms;position: absolute;top: 40px;left: 50px;z-index: 3">
                    <img src="images/redbag2.png" alt="" class="redbag2" id="redbag22"
                         style="display: none;transition:10ms;position: absolute;top: 20px;left: 80px;z-index: 3">
                </div>
                <div class="cashadd">
                    <img src="images/bigredpagand.png" alt="">
                </div>


                <div class="cashred" id="redcash3">
                    <img src="images/bigredpag-03.png" alt="" style="z-index: 5;position: absolute;top: 0;left: 0;">
                    <img src="images/redbag.png" alt="" class="redbag1" id="redbag31"
                         style="display: none;transition:10ms;position: absolute;top: 40px;left: 50px;z-index: 3">
                    <img src="images/redbag2.png" alt="" class="redbag2" id="redbag32"
                         style="display: none;transition:10ms;position: absolute;top: 20px;left: 80px;z-index: 3">
                </div>
            </div>


        </div>
    </div>

    <!--热门投资板块-->
    <div id="invest"></div>

    <!--收益模块-->
    <div class="earning">
        <div class="earningMain">
            <div class="earningItem">
                <div class="earningTitle">
                    用户投资总额
                </div>
                <div class="earningImg">
                    <img src="images/img_6.jpg" alt="">
                </div>
                <div class="earningData" id="yibox" style="padding-left: 30px"></div>
            </div>

            <div class="earningItem">
                <div class="earningTitle">
                    用户赚取总收益
                </div>
                <div class="earningImg">
                    <img src="images/img_7.jpg" alt="">
                </div>
                <div class="earningData" id="yibox2" style="padding-left: 88px;"></div>
            </div>


            <div class="earningItem">
                <div class="earningTitle">
                    注册会员数量超过
                </div>
                <div class="earningImg">
                    <img src="images/img_8.jpg" alt="">
                </div>
                <div class="earningData" id="yibox3" style="padding-left: 156px"></div>
            </div>
        </div>
    </div>

    <!--优势板块-->
    <div class="advantage">
        <div class="advantageTitle">
            <h3 class="advantageText">金融工场的优势</h3>
        </div>
        <div class="advantageSelect clearfix" id="advantageSelect">
            <div class="selectItem clearfix">
                <div class="selectImg">
                    <img src="images/guide_selectlistB-01.jpg" alt="">
                </div>
                <p class="select-title"> 上市公司 </p>
                <p class="select-des"> 上市公司中国信贷 <br> 战略控股 </p>
            </div>

            <div class="selectItem">
                <div class="selectImg">
                    <img src="images/guide_selectlistB-02.jpg" alt="">
                </div>
                <p class="select-title"> 低门槛赚收益 </p>
                <p class="select-des"> 100元起投 <br> 预期年化利率6-13% </p>
            </div>

            <div class="selectItem">
                <div class="selectImg">
                    <img src="images/guide_selectlistB-03.jpg" alt="">
                </div>
                <p class="select-title"> 0手续费 </p>
                <p class="select-des"> 回款提现 <br> 免手续费 </p>
            </div>

            <div class="selectItem">
                <div class="selectImg">
                    <img src="images/guide_selectlistB-04.jpg" alt="">
                </div>
                <p class="select-title"> 资金周转灵活 </p>
                <p class="select-des"> 期限灵活、提现快 <br> 可债权转让 </p>
            </div>

            <div class="selectItem">
                <div class="selectImg">
                    <img src="images/guide_selectlistB-05.jpg" alt="">
                </div>
                <p class="select-title"> 第三方担保 </p>
                <p class="select-des"> 融资性担保公司 <br> 第三方担保 </p>
            </div>

            <div class="selectItem">
                <div class="selectImg">
                    <img src="images/guide_selectlistB-06.jpg" alt="">
                </div>
                <p class="select-title"> 银行资金存管 </p>
                <p class="select-des"> 徽商银行资金存管 </p>
            </div>
        </div>
    </div>

    <!--滚动显示的盒子模块-->
    <div class="scroll" style="display: none">
        <div class="scrollBox">
            <div class="scrollBoxLeft">
                <span class="icon"></span>
                中国信贷(08207.HK)旗下互联网金融平台
            </div>
            <div class="scrollBoxRight">
                <a href="#" class="rightnow">立即注册，领取120元</a>
                <a href="/static/web/guide/index.html" class="new">更多新手指引</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}