{% extends '../../../lib/templates/eten_base.swig.html' %}

{% block title %}金融工场是由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的专注于小贷公司资产交易的P2P平台—上金融工场，圆财富梦想！{% endblock %}

{% block content %}
<div class="banner"></div>
<div class="part1">
   <span class="part1-tip1">年化佣金：固定1.25%返利</span>
   <span class="part1-tip2">年化佣金：按照实际投资期限返利</span>
</div>
<div class="part2">
    <div class="pic1"></div>
    <div class="invest-period">
        <span>30天及以下</span>
        <span>31-90天</span>
        <span>91-180天</span>
        <span>181-360天</span>
        <span>361-540天</span>
        <span>541-720天</span>
    </div>
    <div class="invest-period">
        <span>0.25%</span>
        <span>0.25%</span>
        <span>0.75%</span>
        <span>1.25%</span>
        <span>1.7%</span>
        <span>2.00%</span>
    </div>
</div>
<div class="part3">
    <div class="pic2"></div>
    <div class="pic3"></div>
    <div class="compute-method">年化佣金=投资金额×(投资期限/360)×对应年化佣金比例</div>
    <div class="compute-data"><span>180天</span><span>10000元</span><span>0.75%</span></div>
    <div class="compute-formula">年化佣金=10000×(180/360)×0.75%=37.5元</div>
    <div class="compute-comparison">(1) 实际投资天数≤锁定期：</div>
    <div class="compute-comparison-info">年化佣金=投资金额×(锁定期天数/360)×对应年化佣金比例</div>
    <div class="compute-comparison-data table-margin-top1"><span>60-180天</span><span>36天提前回款</span><span>10000元</span><span>0.75%</span></div>
    <div class="compute-comparison-formula">年化佣金=10000×(<span>60</span>/360)×0.75%=12.5元</div>
    <div class="compute-comparison2">(2) 实际投资天数＞锁定期：</div>
    <div class="compute-comparison-info">年化佣金=锁定期年化佣金+剩余年化佣金=投资金额×(锁定期天数/360)×对应年化佣金比例+投资金额×(剩余天数/360)×对应年化佣金比例</div>
    <div class="compute-comparison-data table-margin-top2"><span>60-180天</span><span>106天</span><span>10000元</span><span>0.75%</span></div>
    <div class="compute-comparison-formula">年化佣金=锁定期年化佣金+剩余年化佣金=10000×(<span>60</span>/360)×10000×0.75%+10000×(<span>46</span>/360)×10000×0.75%=12.5+9.58=22.08元</div>

</div>
<div class="part4">
    <div class="test-standard">
        <span>A码人员标准</span><span>10万</span><span>5</span><span>30</span>
    </div>
</div>

{% endblock %}