{% extends '../../../lib/templates/eten_base.swig.html' %}

{% block title %}金融工场是由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的专注于小贷公司资产交易的P2P平台—上金融工场，圆财富梦想！{% endblock %}

{% block content %}
<div class="banner"></div>
<div class="part1">
   <div class="part1-tip1">年化佣金：固定1.25%返利</div>
   <div class="part1-tip2">年化佣金：按照实际投资期限返利</div>
</div>
<div class="part2">
    <div class="pic1"></div>
    <div class="invest-period">
        <span>30天及以下</span>
        <span>31-90天</span>
        <span>91-180天</span>
        <span>181-360天</span>
        <span>361-540天</span>
        <span>541-720天</span>
    </div>
    <div class="commision-standard">
        <span>0.25%</span>
        <span>0.25%</span>
        <span>0.75%</span>
        <span>1.25%</span>
        <span>1.7%</span>
        <span>2.00%</span>
    </div>
</div>
<div class="part3">
    <div class="pic2"></div>
</div>
<div class="part4"></div>

{% endblock %}