*{margin: 0; padding: 0;}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td{font-family:Microsoft Yahei,"微软雅黑"; font-weight: normal;}

body{background:#7582c3;}
.banner {
  background:url(../images/banner.png) no-repeat center center;
  height: 568px;
  position: relative;
}
.part1{
  background:url(../images/bg1.png) no-repeat;
  width:970px;
  height:470px;
  margin:-80px auto 0;
}
.part2{
  background:url(../images/bg2.png) no-repeat;
  width:970px;
  height:342px;
  margin:50px auto 0;
  position:relative;
}
.part3{
  background:url(../images/bg3.png) no-repeat;
  width:970px;
  height:1152px;
  margin:50px auto 0;
}
.part4{
  background:url(../images/bg4.png) no-repeat;
  width:970px;
  height:349px;
  margin:50px auto 118px;
}
.pic1{
  background:url(../images/pic1.png) no-repeat;
  width:310px;
  height:389px;
  position:absolute;
  top:-110px;
  right:-176px;
  z-index:-1;
}