{{#> base }}

{{#* inline "javascripts" }}
<script src="javascripts/index.js" type="text/javascript" charset="utf-8"></script>
{{/inline}}

{{#* inline "content"}}

<div class="top_event">
	<div class="top1">
        <img src="./images/top_banner.jpg" alt="">
    	<!--<span class="dis">易赚盈 预期年化收益率高达6%-13% 认购起点仅100元</span>-->
        {{!-- <div class="top_innner rel">
        	<a href="/prdClaims/list.shtml"></a>
        </div> --}}
    </div>
</div>

<div class="main_event">
	<div style="position: relative; top: 0px; left: 0px;" class="menue">
    	<ul>
    	<li class="list1"><a class="" href="javascript:;"><span></span>项目简介</a></li>
        <li class="list2"><a class="" href="javascript:;"><span></span>资金安全</a></li>
        <li class="list3"><a class="" href="javascript:;"><span></span>投资案例</a></li>
        <li class="list4"><a class="" href="javascript:;"><span></span>合作机构</a></li>
        <li class="list5"><a class="" href="javascript:;"><span></span>常见问题</a></li>
    	</ul>
	</div>
   	<div class="innerment">
	<div class="section block1">
    	<h2><img src="images/h_tit.jpg" alt="项目简介" height="65" width="1000"></h2>
        <div class="project_info">
        	<h3 class="ft5 tc">什么是<span class="blue">产融通？</span></h3>
            <p class="ft1 text1 col10 mt2" style="line-height:24px">“产融通”系列项目是一款依托产融通上下游商户间的贸易行为，将核心企业和上下游商户联系在一起，为产融通各环节涉及到的商户提供借贷服务的直接借贷产品。项目推荐方以汇源、新影人等大型优质项目提供方为代表，借款人为上下游商户，资金多用于日常经营资金周转。本项目由工场微金向交易双方提供方便快捷借贷信息撮合及居间服务<span class="more_txt" style="display: none;">，借款人和出借人通过工场微金平台直接签订法律协议，明确双方的权利义务关系。本项目由大型担保公司或国内大型企业为出借人提供连带责任保证担保，以保障出借人的权益。</span><a href="javascript:;" class="more_link">展开全部</a></p>
            <h3 class="ft5 tc" style="margin:42px 0 14px"><span class="blue">产融通</span>的优势</h3>
            <ul class="advantage">
            <li><em></em>项目类型：<span class="red2">直接借贷项目</span></li>
            <li style="width:300px"><em></em>资金用途：<span class="red2">日常经营资金周转</span></li>
            <li><em></em>借款期限：<span class="red2">45天~12个月  ( 以网站项目公示期限为准 )</span></li>
            <li style="width:400px"><em></em>预期年化利率：<span class="red2">6% -9.8%（以网站项目公示年化利率为准）</span></li>
            <li><em></em>还款方式 ：<span class="red2">到期一次性还本付息、按月付息到期还本</span></li>
            <li><em></em>起投点：<span class="red2">100元起</span></li>
            </ul>
        </div>
        <div class="project_info nopp" style="width:868px;"><img src="images/chexiangdai.jpg" alt="交易流程" height="547" width="868"></div>
        <p class="tc" style="height:340px;"><img src="images/pic_info2.jpg" alt="项目特点" height="284" width="903"></p>
	</div>
    <div class="section block2">
    	<h2><img src="images/h_tit2.jpg" alt="资金安全" height="65" width="1000"></h2>
        <p class="tc"><img src="images/pic_info3.jpg" width="964" height="421" alt="多层风险控制保障措施"></p>
	</div>
    <div class="section block3">
    	<h2><img src="images/h_tit3.jpg" alt="出借案例" height="65" width="1000"></h2>
        <div class="invest rel"><a href="/prdClaims/list.shtml" class="btn_invest"></a></div>
        <p class="tc ft1 line_h3 col2 mt5">若在规定募集期内未完成资金的募集，项目募集将自动撤销，资金将退回至出借人的徽商银行电子账户。</p>
        <div class="tc">
            <img src="images/pic_info5.jpg" alt="认购方式" height="455" width="942">
            {{!-- <p class="tc ft1 line_h3 col2 mt5">您可以通过以下方式获取相关项目信息：<br/>
            工场微金网址：www.gongchangp2p.com<br/>
            工场微金客服电话：400-0322-988；400-6766-988
            </p> --}}
        </div>
	</div>
    <div class="section block4 rel">
    	<h2><img src="images/h_tit4.jpg" alt="合作机构" height="65" width="1000"></h2>
        <div class="agency">
        	<ul class="agency_list clearfix">
            <li class="ag1">
            	{{!-- <h3><span class="dis">工场微金</span></h3> --}}
                <h4 class="mb">工场微金</h4>
                <p class="tl" style="margin:0 auto;width:843px;">工场微金是以向借款人及出借人（用户）提供撮合服务的网络借贷信息中介平台。作为首批中国互联网金融协会成员单位及北京网贷行业协会发起会员单位，主要为用户提供网络借贷信息搜集、信息公布、资信评估、信息交互、借贷撮合等服务。于2016年率先完成资金的银行存管，实现用户资金和平台自有资金的完全隔离，确保用户资金安全。平台顺应网贷行业监管要求，更加贴近小微信贷与普惠金融，更好的服务于平台新老用户，服务于中国实体经济，合规发展，稳健运营！</p>
            </li>
            <li class="ag2">
            	{{!-- <h3><span class="dis">京都天和</span></h3> --}}
                <h4 class="mb">汇源集团</h4>
                <p class="tl" style="margin:0 auto;width:843px;">北京汇源饮料食品集团有限公司成立于2001年6月，主营果、蔬汁及果蔬汁饮料的大型现代化企业集团。2007年2月23日，汇源果汁在香港联交所主板成功上市。作为中国农业龙头企业，目前布局全国13个省，19个项目。</p>
            </li>
            <li class="ag3">
            	{{!-- <h3><span class="dis">大连金航源控股有限公司</span></h3> --}}
                <h4 class="mb">网信新影人</h4>
                <p class="tl" style="margin:0 auto;width:843px;">网信新影人（北京）投资管理有限公司成立于2015年9月，是一家专注于影视文化行业投融资服务的公司，提出了“金融+娱乐”经营模式，并且已经得到了众多明星的认可。冯小刚、余华、李亚鹏、柳岩、孙红雷、林丹、潘晓婷、李小鹏、张艺兴和邹市明十位明星都成为了新影人的明星股东。</p>
            </li>
            </ul>
            <div class="circle">
            	<a href="javascript:;" class="on"></a>
                <a href="javascript:;"></a>
                <a href="javascript:;"></a>
                <!--<a href="javascript:;"></a>-->
            </div>
        </div>
	</div>
    <div class="section block5 rel">
    	<h2><img src="images/h_tit5.jpg" alt="常见问题" height="65" width="1000"></h2>
        <div class="mm_area">
        	<div class="moment">
                <div class="event clearfix">
                    <div class="icon"></div>
                    <div class="message">
                        <h3>如果借款人无力还款，如何保障出借人的本金及利息安全？</h3>
                        <p>如果借款人出现逾期或坏账，对该借贷行为担保的担保方对每笔借款提供连带责任担保，借款到期后，借款人出现任何问题，担保方即会启动担保代偿机制，按照《保证合同》约定向出借人偿付所有剩余本金及利息。然后担保方自行负责之后的追偿，催收工作。</p>
                    </div>
                </div>
            </div>

            <div class="moment">
                <div class="event clearfix">
                    <div class="icon"></div>
                    <div class="message">
                        <h3>产融通项目线上都需要签哪些合同？</h3>
                        <p>产融通项目属于直接借贷项目，出借人出借资金所需签订的合同及签署主体如下：<br/>
                        （1）借款合同：出借人、借款人<br/>
                        （2）保证合同：出借人、担保方<br/>
                        （3）出借咨询与服务协议：出借人平台方<br/>
                        （4）委托划款授权书：出借人、平台方<br/>
                        （5）《网络借贷出借风险提示》<br/>
                        （6）《出借人承诺书》<br/>
                        （7）《履行反洗钱义务的承诺书》<br/>

                        </p>
                    </div>
                </div>
            </div>
       </div>
	</div>
    </div>
</div>

{{/inline}}

{{/base}}
