{{#> base }}

{{#* inline "title"}}友居贷 — 工场微金 — 中國信貸科技(08207.HK)旗下网络借贷信息中介平台
{{/inline}}

{{#* inline "javascripts" }}
<script src="javascripts/index.js" type="text/javascript" charset="utf-8"></script>
{{/inline}}

{{#* inline "content"}}
<div class="banner">
	<a href="/prdClaims/list.shtml"></a>
</div>

<div class="main_event">
	<div class="menue" style="position: relative; top: 0px; left: 0px;">
    	<ul>
    	<li class="list1"><a href="javascript:;"><span></span>项目简介</a></li>
        <li class="list2"><a href="javascript:;"><span></span>资金安全</a></li>
        <li class="list3"><a href="javascript:;"><span></span>出借案例</a></li>
        <li class="list4"><a href="javascript:;"><span></span>合作机构</a></li>
        <li class="list5"><a href="javascript:;"><span></span>常见问题</a></li>
    	</ul>
	</div>
   	<div class="innerment">
		<div class="section block1">
	    	<h2 style="padding-top:34px"><img src="images/h_tit.jpg" alt="项目简介" height="81" width="1000"></h2>
	        <div class="project_info">
	        	<h3 class="tcl tc">什么是<span class="blue">友居贷？</span></h3>
	            <p class="ft2" style="line-height:24px; font-family: '微软雅黑'; ">"友居贷"系列项目是针对拥有资金需求的优质借款人个人房产抵押类融资服务，项目合作方为深圳壹房壹贷信息技术服务有限公司（简称"第一房贷"），融资所得资金一般用于个人<span class="more_txt" style="display:none">消
	费及经营性资金周转，借款申请人需提供符合要求的房产(包括商品房、经济适用房及允许上市交易的公房等)作为抵押物，属于风险较低的抵押类贷款业务。本项
	目由工场微金向交易双方提供方便快捷的投融资服务，借款人和出借人通过工场微金平台直接签订法律协议，明确双方的权利义务关系。此外，项目由国内大型担保
	公司为出借人提供连带责任保证担保，保证出借人本金及收益安全。</span><a href="javascript:;" class="more_link">展开全部</a></p>
	            <h3 class="tcl tc" style="margin:42px 0 14px"><span class="blue">友居贷</span>的优势</h3>
	            <ul class="advantage">
	            <li><em></em>还款方式为<span class="red2">按月付息，到期还本/到期一次性还本付息</span></li>
	            <li style="width:300px"><em></em>预期年化利率高达<span class="red2">5% -10%</span></li>
	            <li><em></em>还款期限为<span class="red2">1 -12个月</span></li>
	            <li style="width:300px"><em></em>起投金额仅<span class="red2">100元</span></li>
	            </ul>
	        </div>
	        <div class="project_info nopp"><img src="images/youjudai.jpg" alt="交易流程" height="572" width="956"></div>
	        <p class="tc"><img src="images/pic_info2.jpg" alt="项目特点" height="369" width="956"></p>
		</div>
	    <div class="section block2">
	    	<h2><img src="images/h_tit2.jpg" alt="资金安全" height="82" width="1000"></h2>
	        <p class="tc"><img src="images/you-a.jpg" alt="多层风险控制保障措施" height="54" width="365"></p>
			<div class="borrower">
				<div class="brw-a">
					<img src="images/you-b.jpg"/>
					<p class="ft-tf">借款人房产抵押</p>
					<p class="ztdx">借款人收入来源稳定且以名下房产进行抵押担保，降低了产品到期无法还款的风险。</p>
				</div>
				<div class="brw-a wrb">
					<img src="images/you-c.jpg"/>
					<p class="ft-tf">科学严格的风险防控机制</p>
					<p class="ztdx">深圳壹房壹贷信息技术服务有限公司强大的风控团队运作与完善的风控管理体系保障出借人的资金安全。</p>
				</div>
				<div class="brw-a">
					<img src="images/you-d.jpg"/>
					<p class="ft-tf">第三方担保保障</p>
					<p class="ztdx">与全国领先的担保机构达成战略合作，为平台交易提供第三方保证担保。</p>
				</div>
			</div>
	    </div>
	    <div class="section block3">
	    	<h2><img src="images/h_tit3.jpg" alt="出借案例" height="82" width="1000"></h2>
	        <div class="anli">
	        	<ul style="left: -237.917px; width: 1912px;" class="clearfix">
	            <li style="left: 1912px;" class="al1 rel">
	            	<a href="/prdClaims/list.shtml" class="btn_invest"></a>
	            </li>
	            <li class="al2 rel">
	            	<a href="/prdClaims/list.shtml" class="btn_invest"></a>
	            </li>
	            </ul>
	            <div class="circle">
	            	<!--<a href="javascript:;" class=""></a>-->
	                <a class="on" href="javascript:;"></a>
	            </div>
	        </div>
	        <p class="tc"><img src="images/pic_info5.jpg" alt="认购方式" height="435" width="956"></p>
		</div>
	    <div class="section block4 rel">
	    	<h2><img src="images/h_tit4.jpg" alt="合作机构" height="82" width="1000"></h2>
	        <div class="agency">
	        	<ul style="left: -237.917px; width: 2868px;" class="agency_list clearfix">
	            <li style="position: static; left: 2868px;" class="ag1">
	            	<h3><span class="dis">深圳壹房壹贷信息技术服务有限公司</span></h3>
	                <p class="tl">深圳壹房壹贷信息技术服务有限公司（简称"第一房贷"）是中国首家专业房地产互联网金融服
	务平台。由香港上市公司中国信贷（HK8207）成立，通过打造集"互联网+金融+房地产"一体的跨界金融服务，将金融与互联网融于房地产全产业链之中，
	为购房者、开发商、业主提供不同类别的金融服务。第一房贷总部位于深圳，目前已在北京、上海、深圳、广州、天津、南京、成都、大连、重庆、苏州等几十个城
	市开设分支机构。<br>公司涉及一切与房有关的贷款业务，包括房产抵押融资、买房首付加成、改善型住房贷款、个人消费性抵押贷等。第一房贷陆续推出了服
	务于购房者的"易居贷"、服务于开发商的"安居贷"系列金融项目，为业主、购房者、开发商提供定制化的房地产金融服务，分别服务于房地产交易的各个环节。
	公司针对客户个人的业务需求推出了不同的贷款业务，在各项资质证明完备的前提下，推出最快3日内放款，缩短业务周期，保证了业务整体流程的线上化和透明
	化。</p>
	            </li>
	            <li class="ag2">
	            	<h3><span class="dis">联合创业担保集团有限公司</span></h3>
	                <p class="tl">联合创业担保集团有限公司，始创于2003年，注册资本7.29亿元，是一家从事贷款担
	保、融资顾问、股权出借等业务的新型金融服务机构，集团在国内同行业中创造性地发展出"担保出借银行"的商业模式。集团公司已于50余家银行建立了深度合
	作关系，取得银行授信超百亿元，累计担保额位于全国担保行业前列。累计支持企业客户2000余户，支持企业从业人数12万余人，协助企业累计实现销售输入
	450亿元，实现利润55亿元，为地方经济发展做出了卓越的贡献，已成为一家跨区域经营、业务品种齐全、极具影响力的金融服务机构。联合创业担保集团有限
	公司秉承"顾客至上，锐意进取"的经营理念，坚持"客户第一"的原则为广大客户提供优质的项目和服务。</p>
	            </li>
	            </ul>
	            <div class="circle">
	            	<a href="javascript:;" class=""></a>
	                <a class="on" href="javascript:;"></a>
	            </div>
	        </div>
		</div>
	    <div class="section block5 rel">
	    	<h2><img src="images/h_tit5.jpg" alt="常见问题" height="83" width="1000"></h2>
	        <div class="mm_area">
	        	<div class="moment">
	                <div class="event clearfix">
	                    <div class="icon"></div>
	                    <div class="message">
	                        <h3>友居贷项目是将房产抵押给谁？</h3>
	                        <p>友居贷项目中所抵押房产均抵押给担保公司。</p>
	                    </div>
	                </div>
	            </div>

	            <div class="moment">
	                <div class="event clearfix">
	                    <div class="icon"></div>
	                    <div class="message">
	                        <h3>如果借款人无力还款，如何处置所抵押房产保障出借人的本金及收益安全？</h3>
	                        <p>如果借款人出现逾期或坏账，对该借贷行为担保的担保机构对每笔借款提供连带责任担保，贷款到期后，借款人出现任何问题，担保机构即会启动代偿机制，按照《保证合同》约定向出借人偿付所有剩余本金及利息。然后担保机构自行负责之后的追偿，催收工作。</p>
	                    </div>
	                </div>
	            </div>

	            <div class="moment">
	                <div class="event clearfix">
	                    <div class="icon"></div>
	                    <div class="message">
	                        <h3>友居贷项目线上都需要签哪些合同？</h3>
	                        <p>友居贷项目一般为个人直接融资项目，签订的合同及签署主体如下：</p>
	                        <p>（1）借款合同：出借人、借款人、平台方</p>
	                        <p>（2）委托担保合同：借款人、担保公司</p>
	                        <p>（3）保证合同：出借人、担保公司</p>
	                        <p>（4）保证反担保合同：担保公司、反担保人</p>
	                        <p>（5）借款人咨询服务协议：借款人、咨询方、平台方</p>
	                        <p>（6）出借人咨询服务协议：出借人、咨询方、平台方</p>
	                    </div>
	                </div>
	            </div>
	       </div>
		</div>
    </div>
</div>







{{/inline}}

{{/base}}
