{% extends '../../../lib/templates/eten_base.swig.html' %}

{% block title %}金融工场是由北京凤凰信用管理有限公司（简称：凤凰信用）倾力打造的专注于小贷公司资产交易的P2P平台—上金融工场，圆财富梦想！{% endblock %}

{% block content %}
<div class="up-banner">
    <img src="images/up_a.jpg">
</div>

<div class="">
    <div class="up-wrap">
        <div class="up-rap">
            <div class="workers ">
                <h1>投资期限越长年化佣金越高哦</h1>
                <ul class="wor-ul clearfix">
                    <li class="wrke-a">
                        <p class="ys1 mart-a">年化佣金：固定1.25%返利</p>
                    </li>
                    <li class="wrke-b">
                        <p class="ys1 mart-a"></p>
                    </li>
                    <li class="wrke-c">
                        <p class="ys1 mart-b">年化佣金：按照实际投资期限返利</p>
                    </li>
                </ul>
            </div>

            <div class="privileges">
                <h1>年化佣金对应标准</h1>
                <img class="dou1" src="./images/dou1.png">
                <img class="right1" src="./images/right1.png">
                <div class="liberty">
                    <div class="grid">
                        <div class="gid-a" style="padding-top: 19px;">
                            <ol class="gdia">
                                <li style="font-size: 16px; color: #577fb1;width: 110px">投资期限</li>
                                <li id="add-interest-text-0">30天及以下</li>
                                <li id="add-interest-text-1">31-90天</li>
                                <li id="add-interest-text-2">91-180天</li>
                                <li id="add-interest-text-3">181-360天</li>
                                <li id="add-interest-text-4">361-540天</li>
                                <li id="add-interest-text-4">541-720天</li>
                            </ol>
                        </div>

                        <div class="gid-a gia">
                            <ol class="gdia gai">
                                <li style="font-size: 16px; color: #577fb1;width: 70px;margin: 0 20px;padding-top: 16px;">年化佣金返利标准</li>
                                <li id="birthday-text-0">0.25%</li>
                                <li id="birthday-text-1">0.25%</li>
                                <li id="birthday-text-2">0.75%</li>
                                <li id="birthday-text-3">1.25%</li>
                                <li id="birthday-text-4">1.7%</li>
                                <li id="birthday-text-4">2.00%</li>
                            </ol>
                        </div>
                    </div>
                </div>
             </div>

            <div class="contribution">
                <img class="left" src="./images/left.png">
                <img class="right2" src="./images/right2.png">
                <img class="cnt" src="./images/up_h.png">
            </div>

            <div class="privileges">
                <h1>A码人员考核标准</h1>
                <img class="dou2" src="./images/dou2.png">
                <div class="liberty1">
                    <div class="grid1">
                        <div class="gid-a" style="padding-top: 19px;">
                            <ol class="gdia1">
                                <li style="">考核项目</li>
                                <li id="add-interest-text-0">月度年化交易额</li>
                                <li id="add-interest-text-1">月度新客户数量</li>
                                <li id="add-interest-text-2">月度新客户封顶</li>
                            </ol>
                        </div>

                        <div class="gid-a gia">
                            <ol class="gdia1 gai">
                                <li style="padding-top: 30px;">A码人员标准</li>
                                <li id="birthday-text-0">10万</li>
                                <li id="birthday-text-1">5万</li>
                                <li id="birthday-text-2">30万</li>
                           </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block  js%}
<script>
    $(document).ready(function () {

        $.ajax({
            url: 'http://m.9888.cn/mpwap/api/v1/upgrade-formula.shtml',
            dataType: 'jsonp',
            success: function (data) {
                $("#lv0").text(globalInterestCalculator.formatMoney(data.data.levelConfig.minLv1).split('.')[0] + "~" + globalInterestCalculator.formatMoney(data.data.levelConfig.maxLv1).split('.')[0]);
                $("#lv1").text(globalInterestCalculator.formatMoney(data.data.levelConfig.minLv2).split('.')[0] + "~" + globalInterestCalculator.formatMoney(data.data.levelConfig.maxLv2).split('.')[0]);
                $("#lv2").text(globalInterestCalculator.formatMoney(data.data.levelConfig.minLv3).split('.')[0] + "~" + globalInterestCalculator.formatMoney(data.data.levelConfig.maxLv3).split('.')[0]);
                $("#lv3").text(globalInterestCalculator.formatMoney(data.data.levelConfig.minLv4).split('.')[0] + "~" + globalInterestCalculator.formatMoney(data.data.levelConfig.maxLv4).split('.')[0]);
                $("#lv4").text(globalInterestCalculator.formatMoney(data.data.levelConfig.minLv5).split('.')[0]);

                $("#tagText").text(data.data.limitDays);
                $("#moneyText").text(data.data.firstInvestAmount);
                $("#contributionText").text(data.data.sendStore);
            }
        });

        var levelInfoUrl = 'http://www.9888.cn/api/userLevel/v1/giftVO.json';
        $.get(levelInfoUrl, {}, function (data) {
            if (data.code != 10000) throw new Error('接口异常, ' + levelInfoUrl);

            var rule = data.data.levelGiftRule;
            for (var i = 0; i < rule.length; i++) {
                var interest = rule[i].addInterest;
                if (interest) {
                    $("#add-interest-text-" + i).html(interest.describe);
                }

                var birthday = rule[i].birthdayBag;
                if (birthday) {
                    $("#birthday-text-" + i).html(birthday.describe);
                }

                var levelUp = rule[i].levelUpBag;
                if (levelUp) {
                    $("#level-text-" + i).html(levelUp.describe);
                }
            }
        }, 'json');
    })


</script>
{% endblock %}